@page "/blog/blazoronlinux"
@page "/blog/blazor_on_linux"
@using olepunchy.Blog.Model

<Container>
    <PostHeader Post="@Post" />
   
    <h3>Hello</h3> 
    
    <PostFooter Post="@Post" />
</Container>

@code {
    [Parameter] public PostModel Post { get; set; }
}