.post {
   background-color: var(--background-color);
   width: 95%;
   margin: 1rem;
   border-radius: 7px;
}

.post-image {
    margin: 0.25rem;
}

.post-image img {
    width: 40px;
    height: 40px;
}

.post-title {
    font-size: 16px;
}

.post-created {
    font-size: 12px;
}

.post-author {
    font-size: 12px;
    color: var(--teal);
}