@using Models

<!-- TODO: Get this routing based on the slug -->
<a href="/blog">
    <div class="shadow row align-items-start post">
         <!-- Image -->
        @* <div class="col-1 align-self-center post-image"> *@
        <div class="col-1 post-image">
            <img src="img/@Post.Image" alt=""/>
        </div>

        <!-- Title -->
        <div class="col-8 align-self-center">
            <h5 class="post-title">@Post.Title</h5>
        </div>

        <!-- Created -->
        <div class="col-1 align-self-center mx-auto">
            <p class="text-muted post-created">@Post.Created.ToShortDateString()</p>
        </div>

    </div>
</a>

@code {
    [Parameter] public Post Post { get; set; }
}