@page "/About"

<Container>
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h1><span class="text">About</span> Jeremy Novak</h1>

            <p class="mt-4">
                I am a Software Developer currently diving into 
                <a href="https://go.dev" target="_blank" rel="noopener" aria-label="Go">
                   Go
                </a>
                and
                <a href="https://go.dev" target="_blank" rel="noopener" aria-label="Docker">
                Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 mx-2">
        <h2>This website is made with...</h2>
    </div>
    <div class="row m-2 align-items-start">
        <!-- C# -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="C#">
                <a href="https://github.com/dotnet/csharplang" target="_blank" rel="noopener" aria-label="C#">
                    <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 500 500"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1.2694,0,0,1.2694,-67.4759,-67.5002)">
                            <path id="XMLID_3_" d="M412.4,174.8C412.4,168.7 411.1,163.2 408.4,158.6C405.8,154 401.9,150.2 396.7,147.2C353.5,122.3 310.2,97.4 267,72.5C255.3,65.8 244.1,66 232.5,72.8C215.3,82.9 129.1,132.3 103.5,147.2C92.9,153.3 87.8,162.7 87.8,174.9L87.8,325.3C87.8,331.3 89.1,336.6 91.6,341.2C94.2,345.9 98.2,349.9 103.5,353C129.2,367.9 215.3,417.2 232.5,427.4C244.1,434.2 255.4,434.5 267,427.7C310.2,402.7 353.5,377.9 396.7,353C402.1,349.9 406,346 408.6,341.2C411.1,336.6 412.4,331.3 412.4,325.3L412.4,174.8" style="fill:rgb(154,73,147);fill-rule:nonzero;"/>
                            <path id="XMLID_4_" d="M250.5,249.5L91.4,341.1C94,345.8 98,349.8 103.3,352.9C129,367.8 215.1,417.1 232.3,427.3C243.9,434.1 255.2,434.4 266.8,427.6C310,402.6 353.3,377.8 396.5,352.9C401.9,349.8 405.8,345.9 408.4,341.1L250.5,249.5" style="fill:rgb(106,21,119);fill-rule:nonzero;"/>
                            <path id="XMLID_5_" d="M203.4,276.6C212.7,292.8 230.1,303.7 250,303.7C270.1,303.7 287.6,292.7 296.8,276.3L250.5,249.5L203.4,276.6" style="fill:rgb(106,21,119);fill-rule:nonzero;"/>
                            <path id="XMLID_6_" d="M412.4,174.8C412.4,168.7 411.1,163.2 408.4,158.6L250.5,249.5L408.6,341.1C411.1,336.5 412.4,331.2 412.4,325.2L412.4,174.8" style="fill:rgb(129,48,132);fill-rule:nonzero;"/>
                            <path id="XMLID_9_" d="M296.8,276.3C287.6,292.6 270.1,303.7 250,303.7C230,303.7 212.6,292.8 203.4,276.6C198.9,268.7 196.3,259.7 196.3,250C196.3,220.3 220.3,196.3 250,196.3C269.8,196.3 287.1,207.1 296.4,223.1L343.3,196.1C324.6,163.9 289.8,142.2 249.9,142.2C190.3,142.2 142.1,190.5 142.1,250C142.1,269.5 147.3,287.9 156.4,303.7C175,336 210,357.8 250,357.8C290.1,357.8 325.1,335.9 343.7,303.4L296.8,276.3" style="fill:white;fill-rule:nonzero;"/>
                            <g id="XMLID_32_">
                                <rect id="XMLID_2_" x="345.4" y="224.5" width="10.7" height="51.7" style="fill:white;"/>
                                <rect id="XMLID_30_" x="369.1" y="224.5" width="10.7" height="51.7" style="fill:white;"/>
                                <rect id="XMLID_31_" x="336.8" y="233.2" width="51.7" height="10.7" style="fill:white;"/>
                                <rect id="XMLID_23_" x="336.8" y="256.8" width="51.7" height="10.7" style="fill:white;"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- .Net -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text=".Net">
                <a href="https://github.com/dotnet" target="_blank" rel="noopener" aria-label=".Net">
                    <svg 
                        width="456" 
                        height="456" 
                        viewBox="0 0 456 456" 
                        fill="none">
                        <rect width="456" height="456" fill="#512BD4"/>
                        <path d="M81.2738 291.333C78.0496 291.333 75.309 290.259 73.052 288.11C70.795 285.906 69.6665 283.289 69.6665 280.259C69.6665 277.173 70.795 274.529 73.052 272.325C75.309 270.121 78.0496 269.019 81.2738 269.019C84.5518 269.019 87.3193 270.121 89.5763 272.325C91.887 274.529 93.0424 277.173 93.0424 280.259C93.0424 283.289 91.887 285.906 89.5763 288.11C87.3193 290.259 84.5518 291.333 81.2738 291.333Z" fill="white"/>
                        <path d="M210.167 289.515H189.209L133.994 202.406C132.597 200.202 131.441 197.915 130.528 195.546H130.044C130.474 198.081 130.689 203.508 130.689 211.827V289.515H112.149V171H134.477L187.839 256.043C190.096 259.57 191.547 261.994 192.192 263.316H192.514C191.977 260.176 191.708 254.859 191.708 247.365V171H210.167V289.515Z" fill="white"/>
                        <path d="M300.449 289.515H235.561V171H297.87V187.695H254.746V221.249H294.485V237.861H254.746V272.903H300.449V289.515Z" fill="white"/>
                        <path d="M392.667 187.695H359.457V289.515H340.272V187.695H307.143V171H392.667V187.695Z" fill="white"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Blazor -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Blazor">
                <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank" rel="noopener" aria-label="Blazor">
                    <svg fill="none" height="2248" viewBox="-10.12021875 -53.60951036 339.95397529 343.02235093" width="2500" xmlns="http://www.w3.org/2000/svg"><path d="m303.935 88.479c-6.598 41.362-27.653 79.041-59.42 106.335s-72.185 42.433-114.064 42.723c-8.483.326-16.977-.19-25.358-1.539a77.723 77.723 0 0 1 -64.63-73.266 75.479 75.479 0 0 1 22.14-52.762 75.46 75.46 0 0 1 105.885-.748 75.478 75.478 0 0 1 22.884 52.443c.317 12.51-5.102 23.483-16.239 23.8-11.899 0-17.477-8.491-17.477-19.934v-31.797a19.478 19.478 0 0 0 -19.323-19.494h-26.653a46.386 46.386 0 0 0 -39.119 20.961 46.399 46.399 0 0 0 31.587 71.268 46.392 46.392 0 0 0 41.8-14.911l.932-1.39.933 1.543a32.82 32.82 0 0 0 27.986 13.328 36.992 36.992 0 0 0 34.268-38.671 100.64 100.64 0 0 0 -2.761-24.577c-4.943-22.734-18.126-42.834-37.008-56.423a94.153 94.153 0 0 0 -125.236 13.718 94.175 94.175 0 0 0 -23.92 63.097 95.352 95.352 0 0 0 27.473 65.824 95.331 95.331 0 0 0 65.448 28.344s6.98.635 14.849.454a200.94 200.94 0 0 0 107.769-32.155c.457-.318.914.317.61.78a158.177 158.177 0 0 1 -123.225 50.396 111.185 111.185 0 0 1 -80.961-32.871 111.215 111.215 0 0 1 -32.215-81.232 115.099 115.099 0 0 1 46.223-92.17 112.704 112.704 0 0 1 66.497-21.953h35.772a100.637 100.637 0 0 0 74.247-32.784 1.39 1.39 0 0 1 .755-.431 1.418 1.418 0 0 1 1.52.663c.153.257.222.555.197.854a100.93 100.93 0 0 1 -15.608 45.14 1.386 1.386 0 0 0 .115 1.511 1.387 1.387 0 0 0 1.424.507 108.158 108.158 0 0 0 75.198-62.013c.173-.277.411-.507.695-.67a1.902 1.902 0 0 1 1.869 0c.284.162.523.392.694.67a137.098 137.098 0 0 1 13.447 87.432zm-189.964 44.858a27.823 27.823 0 0 0 -27.293 33.255 27.83 27.83 0 0 0 21.862 21.865 27.824 27.824 0 0 0 33.251-27.296v-25.977a2.007 2.007 0 0 0 -1.904-1.904z" fill="#702af7"/></svg>
                </a>
            </Tooltip> 
        </div>
        <!-- JavaScript -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="JavaScript">
                <a href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/" target="_blank" rel="noopener" aria-label="JavaScript">
                <svg 
                width="2500" 
                height="2500" 
                viewBox="0 0 1052 1052">
                <path 
                    fill="#f0db4f" 
                    d="M0 0h1052v1052H0z"/>
                <path 
                    d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" 
                    fill="#323330"/>
                </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Bootstrap -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Bootstrap">
                <a href="https://getbootstrap.com" target="_blank" rel="noopener" aria-label="Bootstrap">
                    <svg 
                        height="1992" 
                        viewBox="0 0 512 407.864" 
                        width="2500">
                        <path 
                            d="m106.344 0c-29.214 0-50.831 25.57-49.863 53.3.929 26.641-.278 61.145-8.964 89.283-8.717 28.217-23.449 46.098-47.517 48.393v25.912c24.068 2.3 38.8 20.172 47.516 48.393 8.687 28.138 9.893 62.642 8.964 89.283-.968 27.726 20.649 53.3 49.868 53.3h299.347c29.214 0 50.827-25.57 49.859-53.3-.929-26.641.278-61.145 8.964-89.283 8.717-28.221 23.413-46.1 47.482-48.393v-25.912c-24.068-2.3-38.764-20.172-47.482-48.393-8.687-28.134-9.893-62.642-8.964-89.283.968-27.726-20.645-53.3-49.859-53.3h-299.355zm240.775 251.067c0 38.183-28.481 61.34-75.746 61.34h-80.458a8.678 8.678 0 0 1 -8.678-8.678v-199.593a8.678 8.678 0 0 1 8.678-8.678h80c39.411 0 65.276 21.348 65.276 54.124 0 23.005-17.4 43.6-39.567 47.208v1.2c30.176 3.31 50.495 24.21 50.495 53.077zm-84.519-128.1h-45.876v64.8h38.639c29.87 0 46.34-12.028 46.34-33.527-.003-20.148-14.163-31.273-39.103-31.273zm-45.876 90.511v71.411h47.564c31.1 0 47.573-12.479 47.573-35.931s-16.935-35.484-49.573-35.484h-45.564z" 
                            fill="#7952b3" 
                            fill-rule="evenodd"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Html -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="HTML 5">
                <a href="https://html.spec.whatwg.org/" target="_blank" rel="noopener" aria-label="HTML">
                    <svg 
                        width="48" 
                        height="48" 
                        viewBox="0 0 200 200"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g>
                            <g>
                                <path 
                                    d="M33.04,174.277l-14.9,-167.115l163.72,0l-14.916,167.088l-67.045,18.588l-66.86,-18.561l0.001,-0Z" style="fill:#e44d26;fill-rule:nonzero;"/><path d="M100,178.631l54.175,-15.02l12.747,-142.784l-66.922,-0l-0,157.804l-0,-0Z" style="fill:#f16529;fill-rule:nonzero;"/><path d="M100,82.807l-27.121,0l-1.873,-20.988l28.994,0l-0,-20.496l-51.394,0l0.491,5.499l5.037,56.481l45.866,-0l-0,-20.496l-0,0Zm-0,53.23l-0.09,0.024l-22.826,-6.164l-1.46,-16.345l-20.574,-0l2.872,32.181l41.984,11.655l0.094,-0.026l-0,-21.325l-0,-0Z" style="fill:#ebebeb;fill-rule:nonzero;"/><path d="M99.929,82.807l0,20.496l25.239,-0l-2.379,26.582l-22.86,6.169l0,21.323l42.018,-11.644l0.308,-3.464l4.817,-53.958l0.5,-5.504l-47.643,0l0,0Zm0,-41.484l0,20.496l49.508,0l0.41,-4.607l0.934,-10.39l0.491,-5.499l-51.343,0l0,0Z" style="fill:#fff;fill-rule:nonzero;"/>
                            </g>
                        </g></svg>
                </a>
            </Tooltip>
        </div>
        <!-- CSS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="CSS">
                <a href="https://www.w3.org/style/css" target="_blank" rel="noopener" aria-label="CSS">
                    <svg 
                         width="48" 
                         height="48" 
                         viewBox="0 0 2134 2134" 
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g>
                            <path 
                                d="M368.837,1840.8l-155.308,-1741.63l1706.28,-0l-155.502,1741.35l-698.696,193.654l-696.77,-193.365Z" style="fill:#1572b6;fill-rule:nonzero;"/><path d="M1066.67,1886.18l564.583,-156.561l132.764,-1488.05l-697.347,0l-0,1644.62Z" style="fill:#33a9dc;fill-rule:nonzero;"/><path d="M1066.67,872.531l282.677,-0l19.462,-218.704l-302.139,-0l-0,-213.501l535.68,-0l-5.106,57.325l-52.509,588.67l-478.065,0l-0,-213.79Z" style="fill:#fff;fill-rule:nonzero;"/><path d="M1068.31,1427.29l-1.446,0l-237.876,-64.262l-15.223,-170.339l-214.272,0l29.963,335.379l437.601,121.78l1.253,0l-0,-222.558Z" style="fill:#ebebeb;fill-rule:nonzero;"/><path d="M1331.23,1076.98l-25.724,285.856l-238.262,64.263l-0,222.557l437.889,-121.395l3.18,-36.129l37.189,-415.249l-214.272,0l-0,0.097Z" style="fill:#fff;fill-rule:nonzero;"/><path d="M1067.44,440.326l0,213.597l-515.833,0l-4.431,-47.98l-9.731,-108.292l-5.107,-57.325l535.102,-0Zm-0.77,432.205l-0,213.597l-235.179,0l-4.143,-47.98l-9.731,-108.292l-5.106,-57.325l254.159,-0Z" style="fill:#ebebeb;fill-rule:nonzero;"/>
                        </g>
                        </svg> 
                </a>
            </Tooltip>
        </div>
         <!-- Docker -->
         <div class="col-1 svg-icon-lang">
             <Tooltip Text="Docker">
                 <a href="https://docker.com" target="_blank" rel="noopener" aria-label="Docker">
                     <svg
                         x="0px"
                         y="0px"
                         viewBox="0 0 1024 1024">
                         <style type="text/css">
                   	.st0{fill:#0091E2;}
                   	.st1{fill:#FFFFFF;}
                   </style>
                         <g id="Guides">
                         </g>
                         <g id="Icon">
                             <circle class="st0" cx="512" cy="512" r="512"/>
                             <path class="st1" d="M827.3,461.5c-1.6-1.3-16.1-12.2-46.7-12.2c-8.1,0-16.2,0.6-24.2,2.1c-5.9-40.7-39.5-60.5-41-61.4l-8.2-4.8
                   		l-5.4,7.8c-6.8,10.5-11.7,22-14.6,34.2c-5.5,23.2-2.2,45,9.6,63.6c-14.2,7.9-37.1,9.9-41.7,10H277c-9.9,0-17.9,8-17.9,17.9
                   		c-0.4,33.1,5.2,66,16.5,97.1c13,34.2,32.4,59.3,57.6,74.7c28.2,17.3,74.1,27.2,126.2,27.2c23.5,0.1,47-2.1,70.1-6.4
                   		c32.1-5.9,63-17.1,91.4-33.2c23.4-13.6,44.5-30.8,62.4-51.1c29.9-33.9,47.8-71.7,61.1-105.2h5.3c32.8,0,53-13.1,64.1-24.1
                   		c7.4-7,13.2-15.5,16.9-25l2.3-6.9L827.3,461.5z M312,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5H312
                   		c-2.4,0-4.4,2-4.4,4.4v45.2C307.6,488,309.6,489.9,312,489.9 M381.9,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5
                   		h-50.7c-2.5,0-4.5,2-4.5,4.5v45.1C377.4,488,379.4,489.9,381.9,489.9 M452.7,490h50.7c2.4,0,4.4-2,4.4-4.4v-45.1
                   		c0-2.4-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C448.3,488,450.3,489.9,452.7,490 M522.8,490h50.7c2.4,0,4.4-2,4.5-4.4v-45.1
                   		c0-2.5-2-4.5-4.5-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,488,520.3,490,522.8,490 M381.8,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.5,0-4.4,2-4.5,4.4v45.1C377.4,423,379.4,425,381.8,425 M452.7,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C448.3,423,450.3,425,452.7,425 M522.8,425h50.7c2.5,0,4.4-2,4.5-4.5v-45.1
                   		c0-2.5-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C518.4,423,520.3,425,522.8,425 M522.8,360.1h50.7c2.5,0,4.5-2,4.5-4.5v-45.2
                   		c0-2.4-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,358.1,520.3,360.1,522.8,360.1 M593.4,490h50.7c2.4,0,4.4-2,4.4-4.4
                   		v-45.1c0-2.5-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C589,488,591,490,593.4,490"/>
                         </g>
                     </svg>
                 </a>
             </Tooltip>
         </div>
         <div class="row text-center justify-content-center mt-4">
            <a class="btn button-card" href="https://github.com/olepunchy/olepunchy.dev" target="_blank">View on Github</a>
        </div>
    </div>
    
    <!-- Other Languages -->
    <div class="row mt-4 mx-2">
        <h2>Favorite Programming Languages</h2>
    </div>
    <div class="row m-2 align-items-start">
        <!-- Go -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Go">
                <a href="https://go.dev" target="_blank" rel="noopener" aria-label="Go">
                    <svg
                        height="959"
                        viewBox="-.1 -1 206.8 78.4"
                        width="2500"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill="#00A5CF"
                            d="m15.5 23.2c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h35.7c.4 0 .5.3.3.6l-1.7 2.6c-.2.3-.7.6-1 .6zm-15.1 9.2c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h45.6c.4 0 .6.3.5.6l-.8 2.4c-.1.4-.5.6-.9.6zm24.2 9.2c-.4 0-.5-.3-.3-.6l1.4-2.5c.2-.3.6-.6 1-.6h20c.4 0 .6.3.6.7l-.2 2.4c0 .4-.4.7-.7.7zm103.8-20.2c-6.3 1.6-10.6 2.8-16.8 4.4-1.5.4-1.6.5-2.9-1-1.5-1.7-2.6-2.8-4.7-3.8-6.3-3.1-12.4-2.2-18.1 1.5-6.8 4.4-10.3 10.9-10.2 19 .1 8 5.6 14.6 13.5 15.7 6.8.9 12.5-1.5 17-6.6.9-1.1 1.7-2.3 2.7-3.7h-19.3c-2.1 0-2.6-1.3-1.9-3 1.3-3.1 3.7-8.3 5.1-10.9.3-.6 1-1.6 2.5-1.6h36.4c-.2 2.7-.2 5.4-.6 8.1-1.1 7.2-3.8 13.8-8.2 19.6-7.2 9.5-16.6 15.4-28.5 17-9.8 1.3-18.9-.6-26.9-6.6-7.4-5.6-11.6-13-12.7-22.2-1.3-10.9 1.9-20.7 8.5-29.3 7.1-9.3 16.5-15.2 28-17.3 9.4-1.7 18.4-.6 26.5 4.9 5.3 3.5 9.1 8.3 11.6 14.1.6.9.2 1.4-1 1.7z"/><path fill="#00A5CF" d="m161.5 76.7c-9.1-.2-17.4-2.8-24.4-8.8-5.9-5.1-9.6-11.6-10.8-19.3-1.8-11.3 1.3-21.3 8.1-30.2 7.3-9.6 16.1-14.6 28-16.7 10.2-1.8 19.8-.8 28.5 5.1 7.9 5.4 12.8 12.7 14.1 22.3 1.7 13.5-2.2 24.5-11.5 33.9-6.6 6.7-14.7 10.9-24 12.8-2.7.5-5.4.6-8 .9zm23.8-40.4c-.1-1.3-.1-2.3-.3-3.3-1.8-9.9-10.9-15.5-20.4-13.3-9.3 2.1-15.3 8-17.5 17.4-1.8 7.8 2 15.7 9.2 18.9 5.5 2.4 11 2.1 16.3-.6 7.9-4.1 12.2-10.5 12.7-19.1z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Python -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Python">
                <a href="https://python.org" target="_blank" rel="noopener" aria-label="Python">
                    <svg width="2500" height="2490" viewBox="0 0 256 255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"><defs><linearGradient x1="12.959%" y1="12.039%" x2="79.639%" y2="78.201%" id="a"><stop stop-color="#387EB8" offset="0%"/><stop stop-color="#366994" offset="100%"/></linearGradient><linearGradient x1="19.128%" y1="20.579%" x2="90.742%" y2="88.429%" id="b"><stop stop-color="#FFE052" offset="0%"/><stop stop-color="#FFC331" offset="100%"/></linearGradient></defs><path d="M126.916.072c-64.832 0-60.784 28.115-60.784 28.115l.072 29.128h61.868v8.745H41.631S.145 61.355.145 126.77c0 65.417 36.21 63.097 36.21 63.097h21.61v-30.356s-1.165-36.21 35.632-36.21h61.362s34.475.557 34.475-33.319V33.97S194.67.072 126.916.072zM92.802 19.66a11.12 11.12 0 0 1 11.13 11.13 11.12 11.12 0 0 1-11.13 11.13 11.12 11.12 0 0 1-11.13-11.13 11.12 11.12 0 0 1 11.13-11.13z" fill="url(#a)"/><path d="M128.757 254.126c64.832 0 60.784-28.115 60.784-28.115l-.072-29.127H127.6v-8.745h86.441s41.486 4.705 41.486-60.712c0-65.416-36.21-63.096-36.21-63.096h-21.61v30.355s1.165 36.21-35.632 36.21h-61.362s-34.475-.557-34.475 33.32v56.013s-5.235 33.897 62.518 33.897zm34.114-19.586a11.12 11.12 0 0 1-11.13-11.13 11.12 11.12 0 0 1 11.13-11.131 11.12 11.12 0 0 1 11.13 11.13 11.12 11.12 0 0 1-11.13 11.13z" fill="url(#b)"/></svg>
                </a>
            </Tooltip>
        </div>
        <!-- C++ -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="C++">
                <a href="https://isocpp.org" target="_blank" rel="noopener" aria-label="Go">
                    <svg
                        width="2222"
                        height="2500"
                        viewBox="0 0 256 288">
                        <path
                            d="M255.569 84.72c-.002-4.83-1.035-9.098-3.124-12.761-2.052-3.602-5.125-6.621-9.247-9.008-34.025-19.619-68.083-39.178-102.097-58.817-9.17-5.294-18.061-5.101-27.163.269C100.395 12.39 32.59 51.237 12.385 62.94 4.064 67.757.015 75.129.013 84.711 0 124.166.013 163.62 0 203.076c.002 4.724.991 8.909 2.988 12.517 2.053 3.711 5.169 6.813 9.386 9.254 20.206 11.703 88.02 50.547 101.56 58.536 9.106 5.373 17.997 5.565 27.17.269 34.015-19.64 68.075-39.198 102.105-58.817 4.217-2.44 7.333-5.544 9.386-9.252 1.994-3.608 2.985-7.793 2.987-12.518 0 0 0-78.889-.013-118.345" fill="#5C8DBC"/><path d="M128.182 143.509L2.988 215.593c2.053 3.711 5.169 6.813 9.386 9.254 20.206 11.703 88.02 50.547 101.56 58.536 9.106 5.373 17.997 5.565 27.17.269 34.015-19.64 68.075-39.198 102.105-58.817 4.217-2.44 7.333-5.544 9.386-9.252l-124.413-72.074" fill="#1A4674"/><path d="M91.101 164.861c7.285 12.718 20.98 21.296 36.69 21.296 15.807 0 29.58-8.687 36.828-21.541l-36.437-21.107-37.081 21.352" fill="#1A4674"/><path d="M255.569 84.72c-.002-4.83-1.035-9.098-3.124-12.761l-124.263 71.55 124.413 72.074c1.994-3.608 2.985-7.793 2.987-12.518 0 0 0-78.889-.013-118.345" fill="#1B598E"/><path d="M248.728 148.661h-9.722v9.724h-9.724v-9.724h-9.721v-9.721h9.721v-9.722h9.724v9.722h9.722v9.721M213.253 148.661h-9.721v9.724h-9.722v-9.724h-9.722v-9.721h9.722v-9.722h9.722v9.722h9.721v9.721" fill="#FFF"/><path d="M164.619 164.616c-7.248 12.854-21.021 21.541-36.828 21.541-15.71 0-29.405-8.578-36.69-21.296a42.062 42.062 0 0 1-5.574-20.968c0-23.341 18.923-42.263 42.264-42.263 15.609 0 29.232 8.471 36.553 21.059l36.941-21.272c-14.683-25.346-42.096-42.398-73.494-42.398-46.876 0-84.875 38-84.875 84.874 0 15.378 4.091 29.799 11.241 42.238 14.646 25.48 42.137 42.637 73.634 42.637 31.555 0 59.089-17.226 73.714-42.781l-36.886-21.371"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        fill="#FFF"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Rust -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Rust">
                <a href="https://rust-lang.org" target="_blank" rel="noopener" aria-label="Rust">
                    <svg 
                        width="2500" 
                        height="2500" 
                        viewBox="0 0 256 256">
                        <path 
                            fill="#B3BBC8"
                            d="M254.251 124.862l-10.747-6.653a145.81 145.81 0 0 0-.306-3.13l9.236-8.615a3.686 3.686 0 0 0 1.105-3.427 3.685 3.685 0 0 0-2.33-2.744l-11.807-4.415a137.355 137.355 0 0 0-.925-3.048l7.365-10.229a3.698 3.698 0 0 0-2.407-5.814l-12.45-2.025c-.484-.944-.988-1.874-1.496-2.796l5.231-11.483a3.683 3.683 0 0 0-.288-3.59 3.678 3.678 0 0 0-3.204-1.642l-12.636.44a99.848 99.848 0 0 0-1.996-2.421l2.904-12.308a3.694 3.694 0 0 0-.986-3.466 3.698 3.698 0 0 0-3.464-.986l-12.305 2.901a106.192 106.192 0 0 0-2.426-1.996l.442-12.635a3.684 3.684 0 0 0-1.64-3.205 3.693 3.693 0 0 0-3.59-.29l-11.48 5.234a133.235 133.235 0 0 0-2.796-1.5l-2.03-12.452a3.7 3.7 0 0 0-5.812-2.407l-10.236 7.365c-1.007-.32-2.02-.629-3.042-.922L155.72 4.794a3.69 3.69 0 0 0-2.745-2.336 3.707 3.707 0 0 0-3.424 1.106l-8.615 9.243a111.11 111.11 0 0 0-3.13-.306l-6.653-10.75a3.698 3.698 0 0 0-6.289 0l-6.653 10.75a110.4 110.4 0 0 0-3.133.306l-8.617-9.243a3.695 3.695 0 0 0-6.169 1.23l-4.414 11.809c-1.023.293-2.035.604-3.045.922L82.599 10.16a3.687 3.687 0 0 0-3.579-.415 3.705 3.705 0 0 0-2.235 2.822l-2.03 12.452c-.94.487-1.869.988-2.796 1.5l-11.481-5.235a3.686 3.686 0 0 0-3.588.291 3.684 3.684 0 0 0-1.642 3.205l.44 12.635a118.03 118.03 0 0 0-2.426 1.996l-12.305-2.9a3.71 3.71 0 0 0-3.466.985 3.694 3.694 0 0 0-.986 3.466l2.899 12.308c-.673.797-1.338 1.604-1.991 2.421l-12.636-.44a3.721 3.721 0 0 0-3.204 1.641 3.696 3.696 0 0 0-.291 3.59l5.234 11.484c-.509.922-1.012 1.852-1.5 2.796l-12.449 2.025a3.7 3.7 0 0 0-2.407 5.814l7.365 10.23c-.32 1.01-.631 2.024-.925 3.047l-11.808 4.415a3.702 3.702 0 0 0-1.225 6.171l9.237 8.614c-.115 1.04-.217 2.087-.305 3.131L1.75 124.862A3.695 3.695 0 0 0 0 128.007c0 1.284.663 2.473 1.751 3.143l10.748 6.653c.088 1.047.19 2.092.305 3.131l-9.238 8.617a3.697 3.697 0 0 0 1.226 6.169l11.808 4.415c.294 1.022.605 2.037.925 3.047l-7.365 10.231a3.696 3.696 0 0 0 2.41 5.812l12.447 2.025c.487.944.986 1.874 1.5 2.8l-5.235 11.48a3.691 3.691 0 0 0 .291 3.59 3.684 3.684 0 0 0 3.204 1.641l12.63-.442c.659.821 1.322 1.626 1.997 2.426l-2.899 12.31a3.682 3.682 0 0 0 .986 3.459 3.683 3.683 0 0 0 3.466.983l12.305-2.898c.8.68 1.61 1.34 2.427 1.99l-.44 12.639a3.694 3.694 0 0 0 5.229 3.492l11.481-5.231a105.49 105.49 0 0 0 2.796 1.499l2.03 12.445a3.692 3.692 0 0 0 2.235 2.825 3.706 3.706 0 0 0 3.579-.413l10.229-7.37c1.01.32 2.025.633 3.047.927l4.415 11.804a3.685 3.685 0 0 0 2.744 2.331 3.677 3.677 0 0 0 3.425-1.106l8.617-9.238c1.04.12 2.086.22 3.133.313l6.653 10.748a3.702 3.702 0 0 0 3.143 1.75 3.703 3.703 0 0 0 3.145-1.75l6.653-10.748c1.047-.093 2.092-.193 3.131-.313l8.615 9.238a3.68 3.68 0 0 0 3.424 1.106 3.69 3.69 0 0 0 2.744-2.331l4.415-11.804c1.022-.294 2.038-.607 3.048-.927l10.231 7.37a3.7 3.7 0 0 0 5.812-2.412l2.03-12.445c.939-.487 1.868-.993 2.795-1.5l11.481 5.232a3.692 3.692 0 0 0 5.23-3.492l-.44-12.638a98.76 98.76 0 0 0 2.423-1.991l12.306 2.898c1.25.294 2.56-.07 3.463-.983a3.682 3.682 0 0 0 .986-3.459l-2.898-12.31c.675-.8 1.34-1.605 1.99-2.426l12.636.442a3.681 3.681 0 0 0 3.204-1.64 3.685 3.685 0 0 0 .289-3.592l-5.232-11.478c.511-.927 1.013-1.857 1.497-2.8l12.45-2.026a3.682 3.682 0 0 0 2.822-2.236 3.696 3.696 0 0 0-.415-3.576l-7.365-10.23c.318-1.011.629-2.026.925-3.048l11.806-4.415a3.684 3.684 0 0 0 2.331-2.745 3.677 3.677 0 0 0-1.106-3.424l-9.235-8.617c.112-1.04.215-2.086.305-3.13l10.748-6.654a3.69 3.69 0 0 0 1.751-3.143c0-1.281-.66-2.472-1.749-3.145zm-71.932 89.156c-4.104-.885-6.714-4.93-5.833-9.047.878-4.112 4.92-6.729 9.023-5.844 4.104.879 6.718 4.931 5.838 9.04-.88 4.11-4.926 6.73-9.028 5.851zm-3.652-24.699a6.929 6.929 0 0 0-8.23 5.332l-3.816 17.807c-11.775 5.344-24.85 8.313-38.621 8.313-14.086 0-27.446-3.116-39.43-8.688l-3.814-17.806c-.802-3.747-4.486-6.134-8.228-5.33l-15.72 3.376a93.272 93.272 0 0 1-8.128-9.58h76.49c.865 0 1.442-.157 1.442-.945v-27.057c0-.787-.577-.944-1.443-.944H106.8v-17.15h24.195c2.208 0 11.809.63 14.878 12.902.962 3.774 3.072 16.05 4.516 19.98 1.438 4.408 7.293 13.213 13.533 13.213h38.115c.433 0 .895-.049 1.382-.137a93.92 93.92 0 0 1-8.669 10.17l-16.082-3.456zm-105.79 24.327c-4.105.886-8.146-1.731-9.029-5.843-.878-4.119 1.732-8.162 5.836-9.047 4.105-.878 8.148 1.739 9.028 5.85.878 4.11-1.734 8.16-5.836 9.04zM43.86 95.986c1.703 3.842-.03 8.345-3.867 10.045-3.837 1.705-8.328-.03-10.03-3.875-1.703-3.845.029-8.34 3.867-10.045a7.598 7.598 0 0 1 10.03 3.874zm-8.918 21.14l16.376-7.277a6.942 6.942 0 0 0 3.524-9.158l-3.372-7.626h13.264v59.788H37.973a93.7 93.7 0 0 1-3.566-25.672c0-3.398.183-6.756.535-10.056zm71.862-5.807V93.696h31.586c1.632 0 11.52 1.886 11.52 9.28 0 6.139-7.584 8.34-13.821 8.34h-29.285v.003zm114.792 15.862c0 2.338-.086 4.652-.257 6.948h-9.603c-.961 0-1.348.632-1.348 1.573v4.41c0 10.38-5.853 12.638-10.982 13.213-4.884.55-10.3-2.045-10.967-5.034-2.882-16.206-7.683-19.667-15.265-25.648 9.41-5.975 19.2-14.79 19.2-26.59 0-12.74-8.734-20.765-14.688-24.7-8.352-5.506-17.6-6.61-20.095-6.61H58.279c13.467-15.03 31.719-25.677 52.362-29.551l11.706 12.28a6.923 6.923 0 0 0 9.799.226l13.098-12.528c27.445 5.11 50.682 22.194 64.073 45.633l-8.967 20.253c-1.548 3.505.032 7.604 3.527 9.157l17.264 7.668c.298 3.065.455 6.161.455 9.3zM122.352 24.745c3.033-2.905 7.844-2.79 10.748.247 2.898 3.046 2.788 7.862-.252 10.765-3.033 2.906-7.844 2.793-10.748-.25a7.621 7.621 0 0 1 .252-10.762zm88.983 71.61a7.594 7.594 0 0 1 10.028-3.872c3.838 1.702 5.57 6.203 3.867 10.045a7.595 7.595 0 0 1-10.03 3.875c-3.833-1.703-5.565-6.2-3.865-10.048z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Swift -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Swift">
                <a href="https://developer.apple.com/swift/" target="_blank" rel="noopener" aria-label="Swift">
                    <svg 
                        width="2500" 
                        height="2500" 
                        viewBox="0 0 256 256">
                        <linearGradient 
                            id="swift" 
                            gradientUnits="userSpaceOnUse" 
                            x1="-1845.501" 
                            y1="1255.639" 
                            x2="-1797.134" 
                            y2="981.338" 
                            gradientTransform="rotate(180 -846.605 623.252)">
                            <stop 
                                offset="0" 
                                stop-color="#faae42"/>
                            <stop 
                                offset="1" 
                                stop-color="#ef3e31"/>
                        </linearGradient>
                        <path 
                            fill="url(#swift)" 
                            d="M56.9 0h141.8c6.9 0 13.6 1.1 20.1 3.4 9.4 3.4 17.9 9.4 24.3 17.2 6.5 7.8 10.8 17.4 12.3 27.4.6 3.7.7 7.4.7 11.1V197.4c0 4.4-.2 8.9-1.1 13.2-2 9.9-6.7 19.2-13.5 26.7-6.7 7.5-15.5 13.1-25 16.1-5.8 1.8-11.8 2.6-17.9 2.6-2.7 0-142.1 0-144.2-.1-10.2-.5-20.3-3.8-28.8-9.5-8.3-5.6-15.1-13.4-19.5-22.4-3.8-7.7-5.7-16.3-5.7-24.9V56.9C.2 48.4 2 40 5.7 32.4c4.3-9 11-16.9 19.3-22.5C33.5 4.1 43.5.7 53.7.2c1-.2 2.1-.2 3.2-.2z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="130.612" y1="4.136" x2="95.213" y2="204.893"><stop offset="0" stop-color="#e39f3a"/><stop offset="1" stop-color="#d33929"/></linearGradient><path fill="url(#b)" d="M216 209.4c-.9-1.4-1.9-2.8-3-4.1-2.5-3-5.4-5.6-8.6-7.8-4-2.7-8.7-4.4-13.5-4.6-3.4-.2-6.8.4-10 1.6-3.2 1.1-6.3 2.7-9.3 4.3-3.5 1.8-7 3.6-10.7 5.1-4.4 1.8-9 3.2-13.7 4.2-5.9 1.1-11.9 1.5-17.8 1.4-10.7-.2-21.4-1.8-31.6-4.8-9-2.7-17.6-6.4-25.7-11.1-7.1-4.1-13.7-8.8-19.9-14.1-5.1-4.4-9.8-9.1-14.2-14.1-3-3.5-5.9-7.2-8.6-11-1.1-1.5-2.1-3.1-3-4.7L0 121.2V56.7C0 25.4 25.3 0 56.6 0h50.5l37.4 38c84.4 57.4 57.1 120.7 57.1 120.7s24 27 14.4 50.7z"/><path fill="#FFF" d="M144.7 38c84.4 57.4 57.1 120.7 57.1 120.7s24 27.1 14.3 50.8c0 0-9.9-16.6-26.5-16.6-16 0-25.4 16.6-57.6 16.6-71.7 0-105.6-59.9-105.6-59.9C91 192.1 135.1 162 135.1 162c-29.1-16.9-91-97.7-91-97.7 53.9 45.9 77.2 58 77.2 58-13.9-11.5-52.9-67.7-52.9-67.7 31.2 31.6 93.2 75.7 93.2 75.7C179.2 81.5 144.7 38 144.7 38z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 mx-2">
        <h2>Favorite Tools</h2>
    </div>
    <div class="row m-2 align-items-start">
         <!-- Git -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Git">
                <a href="https://git-scm.com" target="_blank" rel="noopener" aria-label="Git">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 256 256">
                        <path 
                            d="M251.172 116.594L139.4 4.828c-6.433-6.437-16.873-6.437-23.314 0l-23.21 23.21 29.443 29.443c6.842-2.312 14.688-.761 20.142 4.693 5.48 5.489 7.02 13.402 4.652 20.266l28.375 28.376c6.865-2.365 14.786-.835 20.269 4.657 7.663 7.66 7.663 20.075 0 27.74-7.665 7.666-20.08 7.666-27.749 0-5.764-5.77-7.188-14.235-4.27-21.336l-26.462-26.462-.003 69.637a19.82 19.82 0 0 1 5.188 3.71c7.663 7.66 7.663 20.076 0 27.747-7.665 7.662-20.086 7.662-27.74 0-7.663-7.671-7.663-20.086 0-27.746a19.654 19.654 0 0 1 6.421-4.281V94.196a19.378 19.378 0 0 1-6.421-4.281c-5.806-5.798-7.202-14.317-4.227-21.446L81.47 39.442l-76.64 76.635c-6.44 6.443-6.44 16.884 0 23.322l111.774 111.768c6.435 6.438 16.873 6.438 23.316 0l111.251-111.249c6.438-6.44 6.438-16.887 0-23.324" 
                            fill="#DE4C36"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!-- macOS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="macOS">
                <a href="https://apple.com/macos" target="_blank" rel="noopener" aria-label="macOS">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 8484 10417">
                        <path 
                            d="M7084.49,5534.05c14.638,1576.39 1382.89,2100.97 1398.05,2107.64c-11.569,36.977 -218.624,747.554 -720.862,1481.53c-434.181,634.577 -884.766,1266.79 -1594.6,1279.89c-697.483,12.853 -921.762,-413.59 -1719.18,-413.59c-797.179,0 -1046.36,400.514 -1706.61,426.461c-685.169,25.948 -1206.94,-686.173 -1644.69,-1318.42c-894.532,-1293.26 -1578.14,-3654.44 -660.227,-5248.28c455.998,-791.506 1270.9,-1292.72 2155.41,-1305.57c672.819,-12.834 1307.86,452.65 1719.18,452.65c411.061,-0 1182.78,-559.787 1994.07,-477.574c339.637,14.136 1293.02,137.193 1905.18,1033.27c-49.327,30.579 -1137.56,664.096 -1125.73,1982m-1310.84,-3870.87c363.761,-440.318 608.593,-1053.28 541.8,-1663.18c-524.335,21.074 -1158.37,349.402 -1534.47,789.478c-337.051,389.708 -632.233,1013.46 -552.588,1611.28c584.431,45.217 1181.47,-296.986 1545.25,-737.584" 
                            style="fill:#fff;fill-rule:nonzero;"/>
                    </svg> 
                </a>
            </Tooltip>
        </div>
         <!-- Linux -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Linux">
                <a href="https://linux.org" target="_blank" rel="noopener" aria-label="Linux">
                    <svg 
                        id="Layer_1" 
                        x="0px" 
                        y="0px"
                        viewBox="0 0 512 512"> 
                    <circle style="fill:#F2CF61;" cx="256" cy="256" r="256"/>
                    <path style="fill:#E6C45C;" d="M435.792,435.66c-0.264-0.684-0.552-1.356-0.824-2.036c-0.256-0.668-0.532-1.328-0.8-1.992
                    	c-0.276-0.72-0.576-1.416-0.856-2.124c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.264-0.688-0.556-1.368-0.828-2.052c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.052
                    	c-0.264-0.688-0.556-1.36-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.684-0.548-1.356-0.82-2.036
                    	c-0.264-0.7-0.56-1.38-0.836-2.068c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048
                    	c-0.264-0.688-0.552-1.368-0.828-2.048c-0.264-0.688-0.552-1.368-0.828-2.052c-0.252-0.66-0.532-1.316-0.796-1.972
                    	c-0.268-0.72-0.572-1.416-0.852-2.124c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.688-0.552-1.36-0.828-2.04
                    	c-0.26-0.696-0.556-1.376-0.828-2.064c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.052
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.052c-0.264-0.688-0.556-1.36-0.828-2.048
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.548-1.36-0.824-2.04
                    	c-0.264-0.696-0.56-1.376-0.832-2.064c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.256-0.664-0.532-1.32-0.796-1.976c-0.272-0.72-0.572-1.416-0.856-2.124c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.368-0.828-2.048c-0.26-0.688-0.552-1.368-0.828-2.052c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.684-0.548-1.356-0.82-2.036c-0.268-0.696-0.56-1.376-0.836-2.068c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.364-0.828-2.052c-0.26-0.688-0.552-1.36-0.828-2.048c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.688-0.552-1.368-0.824-2.048c-0.264-0.688-0.556-1.368-0.828-2.052
                    	c-0.252-0.66-0.532-1.308-0.796-1.956c-0.272-0.724-0.572-1.424-0.86-2.14c-0.26-0.688-0.552-1.368-0.828-2.048
                    	c-0.26-0.692-0.552-1.368-0.828-2.052c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.692-0.552-1.364-0.828-2.052
                    	c-0.26-0.688-0.552-1.36-0.828-2.048c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.688-0.548-1.364-0.828-2.048
                    	c-0.26-0.688-0.548-1.368-0.828-2.048c-0.26-0.688-0.548-1.36-0.82-2.04c-0.264-0.696-0.556-1.376-0.836-2.064
                    	c-0.26-0.688-0.548-1.368-0.824-2.048c-0.264-0.688-0.552-1.368-0.828-2.052c-0.264-0.688-0.552-1.364-0.828-2.048
                    	c-0.252-0.664-0.536-1.316-0.796-1.976c-0.276-0.712-0.576-1.416-0.856-2.124c-0.264-0.688-0.556-1.364-0.828-2.048
                    	c-0.264-0.688-0.556-1.364-0.828-2.052c-0.264-0.68-0.548-1.352-0.82-2.032c-0.264-0.696-0.564-1.38-0.836-2.068
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.692-0.552-1.364-0.828-2.052c-0.264-0.688-0.552-1.36-0.828-2.048
                    	c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.368-0.828-2.048
                    	c-0.264-0.692-0.552-1.368-0.828-2.052c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.684-0.548-1.356-0.82-2.036
                    	c-0.256-0.672-0.536-1.328-0.804-1.992c-0.268-0.72-0.572-1.416-0.852-2.124c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.692-0.556-1.368-0.828-2.052c-0.264-0.688-0.556-1.364-0.828-2.048
                    	c-0.264-0.692-0.556-1.364-0.828-2.052c-7.284-18.872-18.648-35.54-29.164-48.548c-0.064-0.148-0.14-0.288-0.212-0.432
                    	c-0.264-0.684-0.528-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048c-0.264-0.684-0.528-1.376-0.828-2.048
                    	c-0.264-0.684-0.524-1.38-0.828-2.048c-0.264-0.684-0.524-1.372-0.828-2.04c-0.264-0.692-0.524-1.384-0.828-2.06
                    	c-0.26-0.676-0.516-1.356-0.812-2.016c-0.268-0.7-0.532-1.4-0.836-2.084c-0.268-0.684-0.532-1.38-0.828-2.048
                    	c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048
                    	c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04
                    	c-0.268-0.688-0.532-1.384-0.828-2.06c-0.264-0.684-0.532-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048
                    	c-0.264-0.684-0.528-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048c-0.264-0.684-0.528-1.376-0.828-2.048
                    	c-0.264-0.676-0.516-1.356-0.812-2.016c-0.272-0.7-0.536-1.4-0.84-2.084c-0.268-0.684-0.528-1.38-0.828-2.048
                    	c-0.268-0.684-0.528-1.376-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04c-0.268-0.688-0.524-1.384-0.828-2.06
                    	c-0.268-0.684-0.528-1.376-0.824-2.048c-0.272-0.684-0.532-1.38-0.828-2.048c-0.272-0.684-0.532-1.376-0.828-2.048
                    	c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048
                    	c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04
                    	c-0.264-0.68-0.516-1.364-0.812-2.024c-0.272-0.696-0.54-1.4-0.844-2.084c-0.264-0.684-0.524-1.376-0.828-2.048
                    	c-0.264-0.684-0.524-1.38-0.828-2.048c-0.264-0.684-0.524-1.376-0.828-2.048c-0.264-0.684-0.524-1.38-0.824-2.048
                    	c-0.268-0.684-0.528-1.376-0.828-2.048c-6.5-16.604-23.112-28.448-42.64-28.448c-25.18,0-43.628,19.752-45.596,43.884
                    	c-0.508,6.208,4.228,46.2,5.432,65.252c-22.784,21.336-61.76,74.416-59.652,124.264l0.68,0.808
                    	c-17.384,4.688-42.212,29.084-34.536,46.884c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.16,0.372,0.356,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968c0.16,0.372,0.356,0.72,0.524,1.084
                    	c0.112,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08c0.112,0.32,0.168,0.656,0.304,0.972
                    	c0.16,0.372,0.356,0.716,0.524,1.084c0.112,0.32,0.168,0.656,0.304,0.968c0.16,0.368,0.356,0.72,0.524,1.084
                    	c0.112,0.32,0.168,0.656,0.304,0.972c0.152,0.36,0.348,0.7,0.512,1.056c0.116,0.328,0.172,0.668,0.312,0.996
                    	c0.156,0.364,0.352,0.716,0.524,1.076c0.116,0.328,0.168,0.664,0.304,0.976c0.156,0.368,0.356,0.72,0.524,1.084
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.156,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.084
                    	c0.116,0.32,0.164,0.656,0.304,0.972c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.116,0.32,0.164,0.656,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.084
                    	c0.116,0.316,0.164,0.652,0.304,0.972c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.112,0.32,0.164,0.656,0.304,0.968c0.156,0.368,0.352,0.712,0.524,1.08
                    	c0.112,0.32,0.164,0.656,0.304,0.976c0.156,0.368,0.352,0.716,0.524,1.08c0.112,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.112,0.316,0.164,0.652,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.08
                    	c0.112,0.32,0.164,0.656,0.3,0.976c0.156,0.36,0.348,0.696,0.512,1.056c0.12,0.328,0.172,0.668,0.312,0.996
                    	c0.16,0.368,0.36,0.716,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.972c0.16,0.368,0.36,0.72,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.972
                    	c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.72,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.324,0.168,0.66,0.304,0.976c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.16,0.372,0.356,0.72,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.372,0.356,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.16,0.372,0.356,0.72,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.156,0.364,0.348,0.7,0.512,1.06c0.12,0.328,0.172,0.664,0.308,0.992
                    	c0.164,0.368,0.36,0.72,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.972c0.156,0.364,0.356,0.716,0.528,1.076
                    	c0.112,0.324,0.168,0.66,0.3,0.976c0.164,0.372,0.36,0.716,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.968
                    	c0.164,0.368,0.36,0.72,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.968
                    	c0.164,0.368,0.36,0.72,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.968
                    	c0.164,0.368,0.36,0.72,0.524,1.084c0.116,0.316,0.172,0.652,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.156,0.364,0.352,0.712,0.524,1.076c0.116,0.328,0.172,0.664,0.304,0.976
                    	c0.164,0.368,0.36,0.72,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.976c0.16,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.156,0.36,0.352,0.7,0.516,1.056c0.116,0.328,0.172,0.668,0.308,0.996
                    	c0.16,0.368,0.356,0.72,0.528,1.08c0.112,0.32,0.164,0.656,0.3,0.976c0.16,0.368,0.356,0.716,0.528,1.08
                    	c0.112,0.32,0.164,0.656,0.3,0.972c0.16,0.368,0.356,0.716,0.528,1.08c0.112,0.32,0.164,0.656,0.3,0.972
                    	c0.16,0.368,0.356,0.72,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.04,0.092,0.088,0.18,0.132,0.272C199.124,507.1,226.98,512,256,512c70.444,0,134.244-28.468,180.532-74.516
                    	C436.288,436.872,436.04,436.264,435.792,435.66z"/>
                    <path style="fill:#263740;" d="M217.496,401.54c15.828,6.696,56.56,11.204,100.04-4.928l53.26-70.96
                    	c19.348-70.692-56.98-134.104-59.408-139.312c-2.396-5.192-7.148-44.452-7.148-44.452c0-24.228-20.416-43.884-45.596-43.884
                    	s-43.628,19.752-45.596,43.884c-0.508,6.208,4.228,46.2,5.432,65.252c-22.784,21.336-61.76,74.416-59.652,124.26L217.496,401.54z"/>
                    <path style="fill:#1E2C33;" d="M311.4,186.336c-2.4-5.192-7.156-44.452-7.156-44.452c0-24.228-20.416-43.884-45.592-43.884
                    	c-2.744,0-5.392,0.276-7.956,0.724c21.336,3.664,37.56,21.58,37.56,43.164c0,0,4.752,39.26,7.148,44.452
                    	c2.42,5.204,78.752,68.62,59.408,139.312l-53.264,70.956c-18.672,6.924-36.812,10.036-52.716,10.812
                    	c19.076,0.952,43.412-1.416,68.716-10.812l53.256-70.956C390.144,254.956,313.816,191.544,311.4,186.336z"/>
                    <path style="fill:#F5F5F5;" d="M322.184,410.788c-10.168-17.46-8.76-73.616,3.152-86.496c16.704-5.044,59.116-4.084,62.668,18.68
                    	C393.584,378.508,346.828,419.668,322.184,410.788z"/>
                    <path style="fill:#E6E6E6;" d="M388.004,342.976c-2.668-17.1-27.268-21.9-46.424-21.084c17.412,0.72,36.116,6.296,38.424,21.084
                    	c4.788,30.5-28.964,65.108-54.216,68.7C351.092,415.796,393.32,376.848,388.004,342.976z"/>
                    <path style="fill:#F5F5F5;" d="M217.752,404.348c-0.672-20.008-27.428-66.26-49.172-72.432c-15.468-4.852-52.78,25.896-43.6,47.18
                    	C139.308,412.264,201.416,424.208,217.752,404.348z"/>
                    <path style="fill:#E6E6E6;" d="M168.58,331.916c-2.252-0.708-4.968-0.64-7.932,0.016c21.732,6.252,48.432,52.424,49.104,72.416
                    	c-4.804,5.844-13.584,8.916-23.928,9.52c13.736,0.772,25.92-2.216,31.928-9.52C217.08,384.336,190.316,338.084,168.58,331.916z"/>
                    <path style="fill:#FFD464;" d="M239.644,187c3.024-4,12.204-9.972,20.856-13.428c9.5-1.228,19.332,1.428,24.744,3.752
                    	c3.588,19.844-8.576,15.176-20.076,34.344C246.976,200.528,242.168,200.832,239.644,187z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!-- Doom Emacs -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Doom Emacs">
            <a href="https://github.com/hlissner/doom-emacs" target="_blank" rel="noopener" aria-label="Doom Emacs">
                <svg
                    id="svg4768"
                    viewBox="0.171 0.201 512 512"
                    height="48"
                    width="48">
                <defs
                    id="defs4770">
                <linearGradient
                    id="linearGradient4292">
                    <stop
                        id="stop4294"
                        offset="0"
                        style="stop-color:#411f5d;stop-opacity:1" />
                    <stop
                        id="stop4296"
                        offset="1"
                        style="stop-color:#5b2a85;stop-opacity:1" />
                </linearGradient>
                <linearGradient
                    id="linearGradient4284">
                    
                    <stop
                        offset="0"
                        style="stop-color:#8381c5;stop-opacity:1"
                        id="stop4286"/>
                    <stop
                        id="stop4290"
                        style="stop-color:#7e55b3;stop-opacity:0.99607843"
                        offset="0.56639391"/>
                    <stop
                        offset="1"
                        style="stop-color:#a52ecb;stop-opacity:0.99215686"
                        id="stop4288"/>
                </linearGradient>
                <linearGradient
                    id="linearGradient4898">
                    <stop
                        id="stop4278"
                        style="stop-color:#bab8db;stop-opacity:1"
                        offset="0" />
                    <stop
                        id="stop4280"
                        style="stop-color:#5955a9;stop-opacity:0.99159664"
                        offset="1" />
                </linearGradient>
                <linearGradient
                    id="linearGradient3294">
                    <stop
                        offset="0"
                        style="stop-color:#6376e6;stop-opacity:1"
                        id="stop3296"/>
                    <stop
                        offset="0.50094414"
                        style="stop-color:#222989;stop-opacity:1"
                        id="stop3302"/>
                    <stop
                        offset="1"
                        style="stop-color:#00003d;stop-opacity:1"
                        id="stop3298"/>
                </linearGradient>
                <linearGradient
                    id="linearGradient3284">
                    
                    <stop
                        offset="0"
                        style="stop-color:#000000;stop-opacity:1"
                        id="stop3286"/>
                    <stop
                        offset="0.84845906"
                        style="stop-color:#000000;stop-opacity:0.49803922"
                        id="stop3292"/>
                    <stop
                        offset="1"
                        style="stop-color:#000000;stop-opacity:0"
                        id="stop3288"/>
                </linearGradient>
                <linearGradient
                    id="linearGradient3274">
                    <stop
                        offset="0"
                        style="stop-color:#000000;stop-opacity:1"
                        id="stop3276" />
                    <stop
                        offset="1"
                        style="stop-color:#000000;stop-opacity:0"
                        id="stop3278" />
                </linearGradient>
                <linearGradient
                    id="linearGradient3262">
                    <stop
                        offset="0"
                        style="stop-color:#000000;stop-opacity:1"
                        id="stop3264"/>
                    <stop
                        offset="1"
                        style="stop-color:#000000;stop-opacity:0"
                        id="stop3266"/>
                </linearGradient>
                <linearGradient
                    id="linearGradient3242">
                    <stop
                        offset="0"
                        style="stop-color:#282828;stop-opacity:1"
                        id="stop3244" />
                    <stop
                        offset="0.39253417"
                        style="stop-color:#808080;stop-opacity:1"
                        id="stop3252" />
                    <stop
                        offset="1"
                        style="stop-color:#d9d9d9;stop-opacity:1"
                        id="stop3246" />
                </linearGradient>
                <linearGradient
                    id="linearGradient3202">
                    <stop
                        offset="0"
                        style="stop-color:#2b2b2b;stop-opacity:1"
                        id="stop3204" />
                    <stop
                        offset="0.5"
                        style="stop-color:#828383;stop-opacity:1"
                        id="stop3250" />
                    <stop
                        offset="1"
                        style="stop-color:#dadbdb;stop-opacity:1"
                        id="stop3206" />
                </linearGradient>
                <linearGradient
                    id="linearGradient4966">
                    <stop
                        offset="0"
                        style="stop-color:#b6b3d8;stop-opacity:1"
                        id="stop4968" />
                    <stop
                        offset="1"
                        style="stop-color:#b6b3d8;stop-opacity:0"
                        id="stop4970" />
                </linearGradient>
                <linearGradient
                    id="linearGradient4938">
                    <stop
                        offset="0"
                        style="stop-color:#000000;stop-opacity:1"
                        id="stop4940" />
                    <stop
                        offset="1"
                        style="stop-color:#000000;stop-opacity:0"
                        id="stop4942" />
                </linearGradient>
                <linearGradient
                    id="linearGradient4282">
                    <stop
                        offset="0"
                        style="stop-color:#bab8db;stop-opacity:1"
                        id="stop4900"/>
                    <stop
                        offset="1"
                        style="stop-color:#5955a9;stop-opacity:0.99159664"
                        id="stop4902"/>
                </linearGradient>
                <linearGradient
                    id="linearGradient4876">
                    <stop
                        offset="0"
                        style="stop-color:#d3d2e8;stop-opacity:1"
                        id="stop4878" />
                    <stop
                        offset="1"
                        style="stop-color:#5955a9;stop-opacity:0.99159664"
                        id="stop4880" />
                </linearGradient>
                <radialGradient
                    gradientTransform="matrix(0.6817439,0,0,0.5905355,-3.8523706,-28.935273)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient4898"
                    id="radialGradient4892"
                    fy="-108.96888"
                    fx="20.951529"
                    r="266.76535"
                    cy="-108.96888"
                    cx="20.951529" />
                <radialGradient
                    gradientTransform="matrix(1,0,0,0.1854103,0,383.88493)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient4938"
                    id="radialGradient4944"
                    fy="471.26172"
                    fx="233.8876"
                    r="170.49393"
                    cy="471.26172"
                    cx="233.8876" />
                <radialGradient
                    gradientTransform="matrix(1,0,0,0.9121621,0,32.654948)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient4966"
                    id="radialGradient4972"
                    fy="371.76376"
                    fx="299.70135"
                    r="76.696358"
                    cy="371.76376"
                    cx="299.70135" />
                <radialGradient
                    gradientTransform="matrix(0.414705,0.3300575,-0.5059004,0.6356454,346.95314,49.479585)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3202"
                    id="radialGradient3210"
                    fy="390.45248"
                    fx="289.44067"
                    r="17.67668"
                    cy="390.45248"
                    cx="289.44067" />
                <radialGradient
                    gradientTransform="matrix(0.414705,0.3300575,-0.5059004,0.6356454,448.41009,-65.398074)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3202"
                    id="radialGradient3238"
                    fy="382.14804"
                    fx="283.50717"
                    r="17.67668"
                    cy="382.14804"
                    cx="283.50717" />
                <radialGradient
                    gradientTransform="matrix(-6.5565014e-2,-5.9721765e-2,1.6871024,-1.8521705,171.90774,540.51473)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3242"
                    id="radialGradient3248"
                    fy="181.18982"
                    fx="418.45551"
                    r="63.068935"
                    cy="181.18982"
                    cx="418.45551" />
                <radialGradient
                    gradientTransform="matrix(0.4055116,-3.3440123e-2,0.1034174,4.3988695,177.23251,-1191.6649)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3262"
                    id="radialGradient3268"
                    fy="357.33591"
                    fx="354.51709"
                    r="33.712105"
                    cy="357.33591"
                    cx="354.51709" />
                <radialGradient
                    gradientTransform="matrix(-0.1339874,-0.1146812,0.3079048,-0.3597394,444.23592,395.03849)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3274"
                    id="radialGradient3280"
                    fy="223.55537"
                    fx="510.58469"
                    r="132.28336"
                    cy="223.55537"
                    cx="510.58469" />
                <radialGradient
                    gradientTransform="matrix(-1.2497569,1.3798305,-9.6289463e-2,-7.2974479e-2,674.3826,-70.590682)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3284"
                    id="radialGradient3290"
                    fy="-158.17821"
                    fx="284.4671"
                    r="110.2972"
                    cy="-158.17821"
                    cx="284.4671" />
                <radialGradient
                    gradientTransform="matrix(-0.1008165,-8.0872321e-2,1.0745309,-1.3395252,13.843287,784.79288)"
                    gradientUnits="userSpaceOnUse"
                    xlink:href="#linearGradient3294"
                    id="radialGradient3300"
                    fy="356.62274"
                    fx="425.51019"
                    r="143.34167"
                    cy="356.62274"
                    cx="425.51019" />
                <filter
                    height="1.088351"
                    y="-0.044175496"
                    width="1.0892536"
                    x="-0.044626798"
                    id="filter4350"
                    style="color-interpolation-filters:sRGB">
                    <feGaussianBlur
                        id="feGaussianBlur4352"
                        stdDeviation="8.7848425" />
                </filter>
                <linearGradient
                    y2="300.73987"
                    x2="236.61363"
                    y1="-161.8512"
                    x1="-122.20192"
                    spreadMethod="pad"
                    gradientTransform="matrix(0.87385837,0,0,0.82818057,246.00762,250.28138)"
                    gradientUnits="userSpaceOnUse"
                    id="linearGradient4245"
                    xlink:href="#linearGradient4284" />
                <linearGradient
                    y2="66.018341"
                    x2="173.94518"
                    y1="396.6066"
                    x1="447.80933"
                    gradientTransform="matrix(0.98684959,0,0,0.98684959,3.0344187,2.5250397)"
                    gradientUnits="userSpaceOnUse"
                    id="linearGradient4247"
                    xlink:href="#linearGradient4292" />
                </defs>
                <rect
                    style="fill:none;display:none"
                    id="rect4772"
                    y="0.20100001"
                    x="0.171"
                    height="512"
                    width="512" />
                <g
                    style="display:none"
                    id="g4788">
                    <g
                        style="display:inline"
                        id="g4790"/>
                </g>
                <g
                    style="display:none"
                    id="g4806">
                    <g
                        style="display:inline"
                        id="g4808">
                        
                        <path
                            style="fill:#050505;display:none"
                            id="path4810"
                            d="M 349.098,256.651 C 348.833,256.397 386.735,284.256 388.519,281.663 C 394.881,272.411 470.565,188.526 473.303,165.427 C 473.545,163.424 472.787,161.331 472.787,161.331 C 472.787,161.331 471.597,161.187 466.462,157.017 C 463.77,154.825 460.979,152.436 460.979,152.436 C 444.925,153.434 403.094,193.995 349.917,256.004"/>
                    </g>
                </g>
                <path
                    style="opacity:0.40500004;fill:#211f46;fill-opacity:0.99607843;stroke:#0a0b1b;stroke-width:8.53333378;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter4350)"
                    id="path4233"
                    d="m 491.66937,257.75916 c 0,131.79436 -105.76,238.63481 -236.22155,238.63481 -130.46155,0 -236.221539,-106.84045 -236.221539,-238.63481 0,-131.79437 105.759989,-238.634808 236.221539,-238.634808 130.46155,0 236.22155,106.840438 236.22155,238.634808 z"
                    transform="matrix(0.98684957,0,0,0.98684957,3.0344041,2.5250397)" />
                <path
                    d="m 488.23812,256.89456 c 0,130.06121 -104.3692,235.49665 -233.1151,235.49665 -128.7459,0 -233.115201,-105.43544 -233.115201,-235.49665 0,-130.06123 104.369301,-235.49666 233.115201,-235.49666 128.7459,0 233.1151,105.43543 233.1151,235.49666 z"
                    id="path4235"
                    style="opacity:1;fill:url(#linearGradient4245);fill-opacity:1;stroke:url(#linearGradient4247);stroke-width:13.33816814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                <path
                    d="m 175.0003,422.31057 c 0,0 19.7385,1.39634 45.1312,-0.84159 10.2834,-0.9063 49.3267,-4.74128 78.5169,-11.14289 0,0 35.5899,-7.61669 54.6301,-14.63335 19.9225,-7.34185 30.7636,-13.57304 35.6433,-22.40243 -0.2128,-1.80907 1.5024,-8.22438 -7.685,-12.07788 -23.4887,-9.85199 -50.73,-8.06998 -104.6338,-9.21285 -59.7772,-2.05391 -79.6627,-12.05971 -90.2556,-20.11838 -10.1579,-8.17519 -5.05,-30.79254 38.4742,-50.71499 21.9244,-10.60898 107.8705,-30.18698 107.8705,-30.18698 -28.9451,-14.30725 -82.9186,-39.45893 -94.0134,-44.89023 -9.7308,-4.76348 -25.303,-11.93595 -28.6785,-20.61368 -3.8271,-8.33089 9.0383,-15.50726 16.2248,-17.56236 23.1448,-6.67602 55.8182,-10.82538 85.5548,-11.29122 14.9472,-0.23417 17.3734,-1.19586 17.3734,-1.19586 20.6243,-3.42116 34.2014,-17.53175 28.5446,-39.87876 -5.0783,-22.81046 -31.8617,-36.21365 -57.3138,-31.57361 -23.9682,4.36956 -81.7378,21.15007 -81.7378,21.15007 71.4075,-0.61803 83.3592,0.57378 88.697,8.03676 3.1523,4.40742 -1.4324,10.45068 -20.4765,13.56099 -20.733,3.38616 -63.8312,7.46399 -63.8312,7.46399 -41.3449,2.4554 -70.4682,2.61974 -79.203,21.11314 -5.7065,12.08196 6.0854,22.7633 11.2538,29.4493 21.8407,24.28905 53.3882,37.38879 73.6948,47.03553 7.6405,3.62963 30.0586,10.48407 30.0586,10.48407 -65.8782,-3.62335 -113.4003,16.6055 -141.2764,39.89622 -31.5288,29.16261 -17.581403,63.92354 47.0124,85.3268 38.1517,12.6416 57.0725,18.58695 113.9815,13.46232 33.52,-1.80673 38.8041,-0.73155 39.1383,2.01892 0.4705,3.87242 -37.2311,13.49165 -47.524,16.4606 -26.1853,7.55306 -94.8276,22.80438 -95.1712,22.87835 z"
                    id="path4237"
                    style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                </svg>
                </a>
            </Tooltip>
        </div>
         <!-- Visual Studio Code -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="VS Code">
                <a href="https://code.visualstudio.com" target="_blank" rel="noopener" aria-label="Visual Studio Code">
                    <svg height="2455" viewBox="-11.9 -2 1003.9 995.6" width="2500" xmlns="http://www.w3.org/2000/svg"><path d="m12.1 353.9s-24-17.3 4.8-40.4l67.1-60s19.2-20.2 39.5-2.6l619.2 468.8v224.8s-.3 35.3-45.6 31.4z" fill="#2489ca"/><path d="m171.7 498.8-159.6 145.1s-16.4 12.2 0 34l74.1 67.4s17.6 18.9 43.6-2.6l169.2-128.3z" fill="#1070b3"/><path d="m451.9 500 292.7-223.5-1.9-223.6s-12.5-48.8-54.2-23.4l-389.5 354.5z" fill="#0877b9"/><path d="m697.1 976.2c17 17.4 37.6 11.7 37.6 11.7l228.1-112.4c29.2-19.9 25.1-44.6 25.1-44.6v-671.2c0-29.5-30.2-39.7-30.2-39.7l-197.7-95.3c-43.2-26.7-71.5 4.8-71.5 4.8s36.4-26.2 54.2 23.4v887.5c0 6.1-1.3 12.1-3.9 17.5-5.2 10.5-16.5 20.3-43.6 16.2z" fill="#3c99d4"/></svg>
                </a>
            </Tooltip>
        </div>
         <!-- Docker -->
         <div class="col-1 svg-icon-lang">
             <Tooltip Text="Docker">
                 <a href="https://docker.com" target="_blank" rel="noopener" aria-label="Docker">
                     <svg
                         x="0px"
                         y="0px"
                         viewBox="0 0 1024 1024">
                         <style type="text/css">
                   	.st0{fill:#0091E2;}
                   	.st1{fill:#FFFFFF;}
                   </style>
                         <g id="Guides">
                         </g>
                         <g id="Icon">
                             <circle class="st0" cx="512" cy="512" r="512"/>
                             <path class="st1" d="M827.3,461.5c-1.6-1.3-16.1-12.2-46.7-12.2c-8.1,0-16.2,0.6-24.2,2.1c-5.9-40.7-39.5-60.5-41-61.4l-8.2-4.8
                   		l-5.4,7.8c-6.8,10.5-11.7,22-14.6,34.2c-5.5,23.2-2.2,45,9.6,63.6c-14.2,7.9-37.1,9.9-41.7,10H277c-9.9,0-17.9,8-17.9,17.9
                   		c-0.4,33.1,5.2,66,16.5,97.1c13,34.2,32.4,59.3,57.6,74.7c28.2,17.3,74.1,27.2,126.2,27.2c23.5,0.1,47-2.1,70.1-6.4
                   		c32.1-5.9,63-17.1,91.4-33.2c23.4-13.6,44.5-30.8,62.4-51.1c29.9-33.9,47.8-71.7,61.1-105.2h5.3c32.8,0,53-13.1,64.1-24.1
                   		c7.4-7,13.2-15.5,16.9-25l2.3-6.9L827.3,461.5z M312,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5H312
                   		c-2.4,0-4.4,2-4.4,4.4v45.2C307.6,488,309.6,489.9,312,489.9 M381.9,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5
                   		h-50.7c-2.5,0-4.5,2-4.5,4.5v45.1C377.4,488,379.4,489.9,381.9,489.9 M452.7,490h50.7c2.4,0,4.4-2,4.4-4.4v-45.1
                   		c0-2.4-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C448.3,488,450.3,489.9,452.7,490 M522.8,490h50.7c2.4,0,4.4-2,4.5-4.4v-45.1
                   		c0-2.5-2-4.5-4.5-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,488,520.3,490,522.8,490 M381.8,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.5,0-4.4,2-4.5,4.4v45.1C377.4,423,379.4,425,381.8,425 M452.7,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C448.3,423,450.3,425,452.7,425 M522.8,425h50.7c2.5,0,4.4-2,4.5-4.5v-45.1
                   		c0-2.5-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C518.4,423,520.3,425,522.8,425 M522.8,360.1h50.7c2.5,0,4.5-2,4.5-4.5v-45.2
                   		c0-2.4-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,358.1,520.3,360.1,522.8,360.1 M593.4,490h50.7c2.4,0,4.4-2,4.4-4.4
                   		v-45.1c0-2.5-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C589,488,591,490,593.4,490"/>
                         </g>
                     </svg>
                 </a>
             </Tooltip>
         </div>
    </div>

    <!-- Past Companies -->
    <div class="row mt-4 mx-2">
        <h2>Past Companies</h2>
    </div>
    <div class="row m-2 align-items-start">
         <!-- Micron -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Micron Technology">
                <a href="https://micron.com" target="_blank" rel="noopener" aria-label="Micron Technology">
                    <svg 
                        width="100%" 
                        height="100%" 
                        viewBox="0 0 512 512" 
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,22.2726,23.5193)">
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M621.035,418.861L621.018,536.608L728.502,536.608L728.502,321.632C697.361,353.747 661.447,386.454 621.035,418.861" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M728.502,321.632C846.865,199.52 895.892,86.013 857.729,31.38C817.891,-25.678 694.129,-2.56 533.703,82.206C527.383,85.253 521.291,88.752 515.475,92.677C507.728,98.059 512.243,101.966 517.966,99.892C524.814,97.473 531.52,94.669 538.052,91.494C658.306,34.462 752.103,24.232 788.766,64.036C844.641,124.668 730.218,323.365 532.078,470.337C505.628,489.947 464.807,518.672 438.224,534.625C436.424,535.742 434.65,536.841 432.917,537.941C425.886,542.548 419.63,546.83 414.706,550.687C409.908,554.411 410.832,560.342 419.48,556.618C424.753,554.369 431.151,550.962 437.966,546.788C439.507,545.847 441.023,544.989 442.639,543.997C472.513,525.861 516.866,495.237 547.166,474.077C572.379,456.473 597.012,438.052 621.026,418.844C661.447,386.454 697.361,353.731 728.502,321.632" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M200.88,689.961L308.364,689.961L308.364,578.578C338.413,560.749 367.881,541.956 396.72,522.229C403.293,517.714 409.116,513.215 413.34,509.358C420.296,502.993 415.256,499.728 409.891,502.552C404.368,505.467 397.836,509.4 390.763,513.898C224.731,620.099 112.64,652.506 71.253,596.315C35.298,547.53 94.229,453.208 200.888,346.691L200.888,593.924C231.146,583.652 266.91,567.265 308.347,544.222L308.322,314.834L331.965,365.144C357.882,420.693 404.909,453.908 464.707,453.908C524.481,453.908 571.508,420.693 597.425,365.144L621.068,314.834L621.043,373.358C659.506,336.053 692.346,298.814 717.247,262.792C720.354,258.343 720.079,254.594 718.388,250.479C701.316,214.796 665.098,192.006 625.542,192.055C585.004,192.055 549.798,215.565 532.92,249.571L487.934,345C483.285,354.289 474.721,359.446 464.699,359.446C454.702,359.446 446.088,354.289 441.44,345L396.47,249.588C387.875,232.312 374.635,217.767 358.24,207.592C391.138,181.483 423.112,158.166 454.594,139.055C460.807,135.23 466.803,131.064 472.555,126.575C477.42,122.868 476.521,116.937 467.848,120.577C462.575,122.785 455.752,126.142 448.921,130.299C416.756,149.785 383.874,169.72 352.442,191.205C348.626,193.805 344.861,196.412 341.095,199.02C329.22,194.407 316.588,192.048 303.848,192.064C303.812,192.064 303.776,192.064 303.74,192.064C247.317,192.064 200.888,238.492 200.888,294.915C200.888,294.96 200.888,295.004 200.888,295.049L200.888,309.219C49.043,444.619 -30.674,578.678 10.98,638.368C41.562,682.138 114.082,672.033 200.88,634.32L200.88,689.961" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </svg>

                </a>
            </Tooltip>
        </div>
         <!-- ch2m -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="ch2m">
                <a href="https://en.wikipedia.org/wiki/ch2m" target="_blank" rel="noopener" aria-label="ch2m">
                    <svg 
                    width="100%" 
                    height="100%" 
                    viewBox="0 0 2500 2500" 
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-3.80663,-631.122)">
                            <path d="M289.291,1850.27L397.99,1850.27C397.264,1841.28 394.475,1830.31 389.612,1817.39C384.748,1804.47 375.916,1792.08 363.127,1780.28C350.326,1768.48 332.48,1758.38 309.588,1749.93C286.697,1741.49 256.685,1737.29 219.552,1737.29C195.766,1737.29 173.224,1740.18 151.967,1745.92C130.709,1751.67 112.137,1760.62 96.275,1772.69C80.413,1784.77 67.793,1800.23 58.429,1819.07C49.052,1837.89 44.37,1860.4 44.37,1886.5C44.37,1929.24 59.868,1962.68 90.879,1986.86C121.877,2011.03 165.857,2023.67 222.821,2024.79C247.697,2025.64 270.77,2023.27 292.04,2017.64C313.311,2012.01 331.961,2003.98 348.005,1993.6C364.048,1983.18 376.927,1971.03 386.668,1957.12C396.408,1943.22 401.985,1928.4 403.425,1912.64L289.317,1912.64C287.151,1921.63 283.83,1929.03 279.317,1934.78C274.816,1940.55 269.667,1945.12 263.909,1948.49C258.15,1951.86 252.016,1954.18 245.531,1955.45C239.046,1956.72 232.911,1957.35 227.152,1957.35C212.017,1957.35 199.579,1953.6 189.851,1946.18C180.242,1938.89 172.691,1929.23 167.945,1918.14C163.082,1906.89 160.734,1894.65 160.916,1881.46C161.097,1868.23 163.614,1856.03 168.477,1844.78C173.341,1833.54 180.293,1824.18 189.294,1816.74C198.295,1809.3 209.488,1805.57 222.821,1805.57C225.713,1805.57 229.85,1805.65 235.259,1805.78C240.667,1805.94 246.529,1807.27 252.82,1809.79C259.136,1812.32 265.53,1816.67 272.015,1822.86C278.487,1829.04 284.258,1838.19 289.291,1850.27ZM428.275,1746.56L428.275,2019.77L546.702,2019.77L546.702,1915.19L649.993,1915.19L649.993,2019.77L768.407,2019.77L768.407,1746.56L649.993,1746.56L649.993,1838.46L546.702,1838.46L546.702,1746.56L428.275,1746.56ZM795.449,1859.14L890.621,1859.14C890.621,1841.99 894.953,1829.9 903.604,1822.86C912.254,1815.85 921.813,1812.05 932.267,1811.49C942.72,1810.93 952.266,1812.9 960.917,1817.39C969.568,1821.9 973.887,1827.09 973.887,1832.99C974.613,1839.45 973.796,1845.35 971.448,1850.69C969.101,1856.04 964.419,1861.51 957.389,1867.14C950.36,1872.77 940.451,1879.15 927.649,1886.32C914.848,1893.5 898.532,1902.28 878.715,1912.66C844.461,1930.65 821.038,1948.99 808.418,1967.68C795.799,1986.37 791.467,2003.73 795.436,2019.77L1076.1,2019.77L1076.1,1954.84L924.148,1954.84C936.767,1948.94 951.644,1942.4 968.764,1935.23C985.884,1928.06 1002.38,1920.11 1018.23,1911.42C1034.09,1902.7 1047.97,1893.29 1059.86,1883.14C1071.76,1873.04 1078.61,1862.07 1080.41,1850.27C1082.21,1838.23 1081.47,1825.95 1078.24,1814.22C1075,1802.29 1068.06,1791.53 1057.42,1781.98C1046.79,1772.43 1032.19,1764.63 1013.63,1758.57C995.066,1752.54 971.539,1749.51 943.058,1749.51C914.576,1749.51 890.971,1752.19 872.23,1757.53C853.488,1762.88 838.612,1770.37 827.627,1780.07C816.89,1789.39 808.699,1801.3 803.827,1814.65C798.963,1828 796.162,1842.82 795.449,1859.14ZM1265.69,1746.56L1110.58,1746.56L1110.58,2019.77L1211.91,2019.77L1211.91,1892.7L1203.61,1830.31L1286.42,2019.77L1378.78,2019.77L1456.49,1833.28L1447.01,1892.7L1447.01,2019.77L1553.45,2019.77L1553.45,1746.56L1398.91,1746.56L1331.42,1912.66L1265.69,1746.56ZM1812.29,1862.83L1654.2,1862.83L1654.2,1752.19L1613.3,1752.19L1613.3,2019.69L1654.2,2019.69L1654.2,1894.88L1812.29,1894.88L1812.29,2019.69L1853.18,2019.69L1853.18,1752.19L1812.29,1752.19L1812.29,1862.83ZM1964.49,1752.19L1923.6,1752.19L1923.6,2019.69L1964.49,2019.69L1964.49,1752.19ZM2075.37,1752.19L2034.48,1752.19L2034.48,2019.69L2228.83,2019.69L2228.83,1987.64L2075.37,1987.64L2075.37,1752.19ZM2309.78,1752.19L2268.88,1752.19L2268.88,2019.69L2463.24,2019.69L2463.24,1987.64L2309.78,1987.64L2309.78,1752.19Z" style="fill:rgb(187,187,187);stroke:rgb(187,187,187);stroke-width:1px;"/>
                        </g>
                    </svg>

                </a>
            </Tooltip>
        </div>
         <!-- Jacobs -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Jacobs">
                <a href="https://jacobs.com" target="_blank" rel="noopener" aria-label="Jacobs">
                    <svg 
                        height="372" 
                        viewBox="0 -3.51782576 643.459 99.33082576" 
                        width="2500">
                        <g 
                            fill="#1c4f9c">
                            <path 
                                d="m56.032.758h35.014v50.37c0 10.574-1.142 18.626-3.426 24.143-2.29 5.528-6.885 10.202-13.796 14.034-6.91 3.835-15.757 5.755-26.547 5.755-11.4 0-20.237-1.271-26.508-3.803-6.266-2.534-11.106-6.248-14.522-11.133-2.748-3.92-4.593-8.592-5.524-14.01-.254-1.43-.563-4.001-.723-6.126l33.638-1.71c.053 4.116.488 7.168 1.302 9.164.82 1.991 2.198 3.606 4.149 4.835 1.323.807 3.216 1.201 5.67 1.201 3.885 0 6.735-1.176 8.55-3.563 1.815-2.381 2.723-6.391 2.723-12.038zm279.802 27.049c4.28-4.08 9.947-6.129 17.002-6.129 7.364 0 13.201 2.014 17.5 6.027 4.298 4.026 6.445 10.399 6.445 19.118 0 10.362-2.057 17.54-6.171 21.54-4.129 4.014-9.951 6.003-17.466 6.003-7.314 0-13.093-2.039-17.349-6.13-4.25-4.077-6.362-10.797-6.362-20.154 0-9.433 2.122-16.192 6.4-20.275zm-33.494 47.213c5.191 7.205 11.964 12.485 20.309 15.813 8.354 3.333 18.906 4.98 31.657 4.98 12.541 0 23.013-1.916 31.406-5.771 8.403-3.855 14.834-9.252 19.283-16.182 4.445-6.94 6.665-15.82 6.665-26.65 0-14.917-5.091-26.523-15.261-34.794-10.179-8.286-24.679-12.419-43.486-12.419-18.348 0-32.66 4.207-42.945 12.644-10.275 8.424-15.418 20.199-15.418 35.326 0 10.834 2.598 19.852 7.79 27.053m-133.854-73.497h-38.258l-42.398 92.765h35.652l25.416-68.717 12.443 33.354h-18.387l-7.544 20.038h33.194l5.651 15.325h36.57zm287.021 72.805h17.878c6.029 0 10.289-.872 12.761-2.63 2.476-1.752 3.714-4.106 3.714-7.062 0-2.742-1.22-4.949-3.674-6.613-2.448-1.672-6.748-2.504-12.883-2.504h-17.795zm0-36.455h15.25c5.463 0 9.267-.765 11.413-2.302 2.139-1.538 3.205-3.753 3.205-6.661 0-2.693-1.066-4.793-3.205-6.315-2.146-1.521-5.874-2.274-11.194-2.274h-15.469zm-35.235-36.273h65.464c10.911 0 19.283 2.207 25.128 6.628 5.837 4.421 8.765 9.887 8.765 16.41 0 5.468-2.083 10.161-6.255 14.075-2.769 2.607-6.839 4.67-12.188 6.182 8.133 1.606 14.116 4.352 17.944 8.254 3.834 3.899 5.745 8.794 5.745 14.693 0 4.806-1.367 9.131-4.085 12.967-2.734 3.836-6.463 6.87-11.199 9.105-2.936 1.387-7.357 2.397-13.274 3.031-7.876.844-13.102 1.268-15.676 1.268h-60.369zm106.81 61.981 33.195-1.704c.718 4.438 2.188 7.81 4.4 10.133 3.592 3.758 8.728 5.631 15.413 5.631 4.982 0 8.82-.96 11.524-2.878 2.7-1.924 4.05-4.153 4.05-6.686 0-2.397-1.289-4.553-3.865-6.453-2.579-1.901-8.54-3.693-17.882-5.387-15.292-2.816-26.203-6.57-32.72-11.252-6.57-4.67-9.857-10.634-9.857-17.884 0-4.76 1.684-9.259 5.036-13.484 3.369-4.246 8.423-7.574 15.169-9.99 6.753-2.431 16.006-3.63 27.756-3.63 14.429 0 25.415 2.195 32.99 6.592 7.561 4.411 12.071 11.408 13.511 21.013l-32.866 1.58c-.884-4.181-2.715-7.23-5.515-9.139-2.812-1.904-6.67-2.86-11.604-2.86-4.06 0-7.123.713-9.18 2.128-2.057 1.411-3.078 3.129-3.078 5.153 0 1.48.852 2.807 2.556 3.987 1.665 1.23 5.579 2.365 11.734 3.421 15.233 2.703 26.163 5.436 32.761 8.192 6.599 2.768 11.396 6.19 14.396 10.284 3.002 4.09 4.51 8.661 4.51 13.718 0 5.947-2.002 11.438-6.013 16.45-4.007 5.016-9.6 8.823-16.792 11.42-7.187 2.585-16.25 3.876-27.18 3.876-19.205 0-32.507-3.028-39.897-9.095-7.391-6.07-11.578-13.775-12.551-23.136"/><path d="m286.215 66.798c-4.67 3.69-12.669 7.516-23.57 7.568-7.31.045-13.092-2.039-17.344-6.13-4.25-4.077-6.372-10.797-6.372-20.154 0-9.433 2.137-16.192 6.412-20.275 3.731-3.567 10.488-6.31 16.7-6.358 9.359-.088 14.756 1.058 23.949 7.665 3.095-6.012 8.034-14.815 11.811-20.05a38.302 38.302 0 0 0 -3.065-1.978c-8.135-4.733-19.316-7.09-33.55-7.09-18.177 0-32.237 4.11-42.174 12.346-9.938 8.233-14.912 20.009-14.912 35.34 0 11.505 2.826 20.937 8.477 28.3 5.66 7.374 12.375 12.522 20.16 15.45 7.787 2.928 17.825 4.38 30.113 4.38 14.317 0 25.107-2.433 35.131-8.84 0 0-6.631-9.492-11.727-20.15zm348.504-59.696h1.37c1.158 0 2.216-.058 2.216-1.392 0-1.117-.966-1.294-1.847-1.294h-1.74zm-1.314-3.749h3.26c2.006 0 2.954.791 2.954 2.41 0 1.528-.968 2.169-2.223 2.3l2.413 3.723h-1.406l-2.3-3.625h-1.384v3.625h-1.314zm2.817 10.384c3.338 0 5.923-2.662 5.923-6.197 0-3.454-2.585-6.115-5.923-6.115-3.378 0-5.96 2.66-5.96 6.115 0 3.535 2.582 6.197 5.96 6.197zm0-13.37c3.938 0 7.237 3.103 7.237 7.173 0 4.148-3.299 7.25-7.236 7.25-3.955 0-7.273-3.102-7.273-7.25 0-4.07 3.317-7.173 7.272-7.173"/>
                        </g>
                    </svg>
                </a>
            </Tooltip>
        </div>
    </div>

    <!-- AFK -->
    <div class="row mt-4 mb-1 mx-2">
        <h2>Away From Keyboard</h2>
    </div>

    <div class="row my-1 mx-2">
        <p>
             Horseman ,  BBQ Cook ,  Leather Crafter 
        </p>
    </div>
    
    <SocialIcons/>
</Container>
