.svg-icon {
    height: 168px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.svg-icon-lang img {
    height: 60px;
    width: 60px;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: var(--navbar-color);
    border: 1px solid var(--black);
}

.svg-icon-lang svg {
    height: 60px;
    width: 60px;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: var(--navbar-color);
    border: 1px solid var(--black);
}

.hidden {
    visibility: hidden;
}