@page "/About"

<Container>
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h3 class="violet">About</h3>

            <p class="mt-2">
                <Tooltip Text="Jeremy Novak">I</Tooltip> am a
                <a href="https://en.wikipedia.org/wiki/Solution_stack#Full-stack_developer" target="_blank">
                    Full Stack Software Developer 
                </a>
                specializing in
                <a href="https://github.com/dotnet" target="_blank">
                    .Net
                </a>
                and
                <a href="https://docker.com" target="_blank">
                    Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 mx-2">
        <h5>Stack</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/c-sharp.svg" Tooltip="C#" Url="https://github.com/dotnet/csharplang" /> 
        <Tile Image="img/dotnet.svg" Tooltip=".Net" Url="https://github.com/dotnet" /> 
        <Tile Image="img/typescript.svg" Tooltip="Typescript" Url="https://github.com/microsoft/typescript" /> 
        <Tile Image="img/bootstrap5.svg" Tooltip="Bootstrap" Url="https://getbootstrap.com" /> 
        <Tile Image="img/html.svg" Tooltip="HTML 5" Url="https://html.spec.whatwg.org/" /> 
        <Tile Image="img/css.svg" Tooltip="CSS 3" Url="https://www.w3.org/style/css" /> 
        <Tile Image="img/postgresql.svg" Tooltip="PostgreSQL" Url="https://www.postgresql.org/" /> 
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 mx-2">
        <h5>Tools</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/docker.svg" Tooltip="Docker" Url="https://docker.com" /> 
        <Tile Image="img/git.svg" Tooltip="Git" Url="https://git-scm.com" /> 
        <Tile Image="img/apple.svg" Tooltip="macOS" Url="https://apple.com/macos" /> 
        <Tile Image="img/linux.svg" Tooltip="Linux" Url="https://linux.org" /> 
        <Tile Image="img/doom.png" Tooltip="Doom Emacs" Url="https://github.com/hlissner/doom-emacs" /> 
        <Tile Image="img/rider.svg" Tooltip="Rider" Url="https://www.jetbrains.com/rider/" /> 
        <Tile Image="img/go.svg" Tooltip="Go" Url="https://golang.org" /> 
        <Tile Image="img/bash.svg" Tooltip="Bash" Url="https://tiswww.case.edu/php/chet/bash/bashtop.html" /> 
    </div>
    
    <!-- Past Experience -->
    <div class="row mt-4 mx-2">
        <h5>Past Experience</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/microsoft.svg" Tooltip="Windows Server" Url="https://www.microsoft.com/en-us/windows-server" /> 
        <Tile Image="img/red-hat.svg" Tooltip="Red Hat Linux" Url="https://redhat.com" /> 
        <Tile Image="img/ubuntu.svg" Tooltip="Ubuntu Linux" Url="https://ubuntu.com" /> 
        <Tile Image="img/freebsd.svg" Tooltip="FreeBSD" Url="https://freebsd.org" /> 
        <Tile Image="img/solaris.svg" Tooltip="Solaris" Url="https://oracle.com/solaris" /> 
        <Tile Image="img/aix.svg" Tooltip="AIX" Url="https://ibm.com/ibm_aix/os" /> 
        <Tile Image="img/openvms.svg" Tooltip="Virtual Memory System" Url="https://en.wikipedia.org/wiki/openvms" /> 
        <Tile Image="img/sccm.svg" Tooltip="Microsoft Endpoint Manager" Url="https://docs.microsoft.com/en-us/mem/configmgr" /> 
        <Tile Image="img/vmware.svg" Tooltip="VMware vSphere" Url="https://vmware.com" /> 
    </div>
    <div class="row my-1 mx-2 align-items-center">
        <Tile Image="img/splunk.svg" Tooltip="Splunk" Url="https://splunk.com" /> 
        <Tile Image="img/zenoss.svg" Tooltip="ZenOSS" Url="https://zenoss.com" /> 
        <Tile Image="img/commvault.svg" Tooltip="CommVault" Url="https://commvault.com" /> 
        <Tile Image="img/ibm.svg" Tooltip="Tivoli" Url="https://ibm.com" /> 
        <Tile Image="img/apache.svg" Tooltip="Apache" Url="https://httpd.apache.org" /> 
        <Tile Image="img/mysql.svg" Tooltip="MySQL" Url="https://mysql.com" /> 
        <Tile Image="img/perl.svg" Tooltip="Perl" Url="https://perl.org" /> 
        <Tile Image="img/python.svg" Tooltip="Python" Url="https://python.org" /> 
        <Tile Image="img/powershell.svg" Tooltip="PowerShell" Url="https://microsoft.com/powershell" /> 
    </div>
    
    <!-- Past Companies -->
    <div class="row mt-4 mx-2">
        <h5>Past Companies</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/micron.svg" Tooltip="Micron Technology" Url="https://micron.com" />
        <Tile Image="img/ch2m-hill.svg" Tooltip="ch2m" Url="https://en.wikipedia.org/wiki/ch2m" />
        <Tile Image="img/jeg.svg" Tooltip="Jacobs" Url="https://jacobs.com" />
    </div>
    
    <!-- AFK -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Away From Keyboard</h5>
    </div>

    <div class="row my-1 mx-2">
        <p>
            🤠 Horseman 🐎, 🍖 BBQ Cook 🍤, 💼 Leather Crafter 🧵
        </p>
    </div>
    
    <SocialIcons/>
</Container>