@page "/About"

<Container>
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h3><span class="text">About</span> Jeremy Novak</h3>

            <p class="mt-4">
                I am a
                <a href="https://en.wikipedia.org/wiki/Solution_stack#Full-stack_developer" target="_blank">
                    Full Stack Software Developer 
                </a>
                specializing in
                <a href="https://github.com/dotnet" target="_blank">
                    .Net
                </a>
                and
                <a href="https://docker.com" target="_blank">
                    Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 mx-2">
        <h5>Stack</h5>
    </div>
    <div class="row m-2 align-items-start">
        <!-- C# -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="C#">
                <a href="https://github.com/dotnet/csharplang" target="_blank">
                    <svg 
                        width="100%" 
                        height="100%" 
                        viewBox="0 0 500 500" 
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1.2694,0,0,1.2694,-67.4759,-67.5002)">
                            <path id="XMLID_3_" d="M412.4,174.8C412.4,168.7 411.1,163.2 408.4,158.6C405.8,154 401.9,150.2 396.7,147.2C353.5,122.3 310.2,97.4 267,72.5C255.3,65.8 244.1,66 232.5,72.8C215.3,82.9 129.1,132.3 103.5,147.2C92.9,153.3 87.8,162.7 87.8,174.9L87.8,325.3C87.8,331.3 89.1,336.6 91.6,341.2C94.2,345.9 98.2,349.9 103.5,353C129.2,367.9 215.3,417.2 232.5,427.4C244.1,434.2 255.4,434.5 267,427.7C310.2,402.7 353.5,377.9 396.7,353C402.1,349.9 406,346 408.6,341.2C411.1,336.6 412.4,331.3 412.4,325.3L412.4,174.8" style="fill:rgb(154,73,147);fill-rule:nonzero;"/>
                            <path id="XMLID_4_" d="M250.5,249.5L91.4,341.1C94,345.8 98,349.8 103.3,352.9C129,367.8 215.1,417.1 232.3,427.3C243.9,434.1 255.2,434.4 266.8,427.6C310,402.6 353.3,377.8 396.5,352.9C401.9,349.8 405.8,345.9 408.4,341.1L250.5,249.5" style="fill:rgb(106,21,119);fill-rule:nonzero;"/>
                            <path id="XMLID_5_" d="M203.4,276.6C212.7,292.8 230.1,303.7 250,303.7C270.1,303.7 287.6,292.7 296.8,276.3L250.5,249.5L203.4,276.6" style="fill:rgb(106,21,119);fill-rule:nonzero;"/>
                            <path id="XMLID_6_" d="M412.4,174.8C412.4,168.7 411.1,163.2 408.4,158.6L250.5,249.5L408.6,341.1C411.1,336.5 412.4,331.2 412.4,325.2L412.4,174.8" style="fill:rgb(129,48,132);fill-rule:nonzero;"/>
                            <path id="XMLID_9_" d="M296.8,276.3C287.6,292.6 270.1,303.7 250,303.7C230,303.7 212.6,292.8 203.4,276.6C198.9,268.7 196.3,259.7 196.3,250C196.3,220.3 220.3,196.3 250,196.3C269.8,196.3 287.1,207.1 296.4,223.1L343.3,196.1C324.6,163.9 289.8,142.2 249.9,142.2C190.3,142.2 142.1,190.5 142.1,250C142.1,269.5 147.3,287.9 156.4,303.7C175,336 210,357.8 250,357.8C290.1,357.8 325.1,335.9 343.7,303.4L296.8,276.3" style="fill:white;fill-rule:nonzero;"/>
                            <g id="XMLID_32_">
                                <rect id="XMLID_2_" x="345.4" y="224.5" width="10.7" height="51.7" style="fill:white;"/>
                                <rect id="XMLID_30_" x="369.1" y="224.5" width="10.7" height="51.7" style="fill:white;"/>
                                <rect id="XMLID_31_" x="336.8" y="233.2" width="51.7" height="10.7" style="fill:white;"/>
                                <rect id="XMLID_23_" x="336.8" y="256.8" width="51.7" height="10.7" style="fill:white;"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </Tooltip>
        </div>
        @* <Tile Image="img/c-sharp.svg" Tooltip="C#" Url="https://github.com/dotnet/csharplang"/> *@
        <!-- .Net -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text=".Net">
                <a href="https://github.com/dotnet" target="_blank">
                    <svg 
                        width="456" 
                        height="456" 
                        viewBox="0 0 456 456" 
                        fill="none">
                        <rect width="456" height="456" fill="#512BD4"/>
                        <path d="M81.2738 291.333C78.0496 291.333 75.309 290.259 73.052 288.11C70.795 285.906 69.6665 283.289 69.6665 280.259C69.6665 277.173 70.795 274.529 73.052 272.325C75.309 270.121 78.0496 269.019 81.2738 269.019C84.5518 269.019 87.3193 270.121 89.5763 272.325C91.887 274.529 93.0424 277.173 93.0424 280.259C93.0424 283.289 91.887 285.906 89.5763 288.11C87.3193 290.259 84.5518 291.333 81.2738 291.333Z" fill="white"/>
                        <path d="M210.167 289.515H189.209L133.994 202.406C132.597 200.202 131.441 197.915 130.528 195.546H130.044C130.474 198.081 130.689 203.508 130.689 211.827V289.515H112.149V171H134.477L187.839 256.043C190.096 259.57 191.547 261.994 192.192 263.316H192.514C191.977 260.176 191.708 254.859 191.708 247.365V171H210.167V289.515Z" fill="white"/>
                        <path d="M300.449 289.515H235.561V171H297.87V187.695H254.746V221.249H294.485V237.861H254.746V272.903H300.449V289.515Z" fill="white"/>
                        <path d="M392.667 187.695H359.457V289.515H340.272V187.695H307.143V171H392.667V187.695Z" fill="white"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Typescript -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Typscript">
                <a href="https://github.com/microsoft/typescript" target="_blank">
                    <svg
                        viewBox="0 0 400 400"
                        width="48"
                        height="48">
                        <style>.st0{fill:#007acc}.st1{fill:#fff}</style>
                        <path 
                            class="st0" 
                            d="M0 200V0h400v400H0"/>
                        <path 
                            class="st1" 
                            d="M87.7 200.7V217h52v148h36.9V217h52v-16c0-9 0-16.3-.4-16.5 0-.3-31.7-.4-70.2-.4l-70 .3v16.4l-.3-.1zM321.4 184c10.2 2.4 18 7 25 14.3 3.7 4 9.2 11 9.6 12.8 0 .6-17.3 12.3-27.8 18.8-.4.3-2-1.4-3.6-4-5.2-7.4-10.5-10.6-18.8-11.2-12-.8-20 5.5-20 16 0 3.2.6 5 1.8 7.6 2.7 5.5 7.7 8.8 23.2 15.6 28.6 12.3 41 20.4 48.5 32 8.5 13 10.4 33.4 4.7 48.7-6.4 16.7-22 28-44.3 31.7-7 1.2-23 1-30.5-.3-16-3-31.3-11-40.7-21.3-3.7-4-10.8-14.7-10.4-15.4l3.8-2.4 15-8.7 11.3-6.6 2.6 3.5c3.3 5.2 10.7 12.2 15 14.6 13 6.7 30.4 5.8 39-2 3.7-3.4 5.3-7 5.3-12 0-4.6-.7-6.7-3-10.2-3.2-4.4-9.6-8-27.6-16-20.7-8.8-29.5-14.4-37.7-23-4.7-5.2-9-13.3-11-20-1.5-5.8-2-20-.6-25.7 4.3-20 19.4-34 41-38 7-1.4 23.5-.8 30.4 1l-.2.2z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Bootstrap -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Bootstrap">
                <a href="https://getbootstrap.com" target="_blank">
                    <svg 
                        height="1992" 
                        viewBox="0 0 512 407.864" 
                        width="2500">
                        <path 
                            d="m106.344 0c-29.214 0-50.831 25.57-49.863 53.3.929 26.641-.278 61.145-8.964 89.283-8.717 28.217-23.449 46.098-47.517 48.393v25.912c24.068 2.3 38.8 20.172 47.516 48.393 8.687 28.138 9.893 62.642 8.964 89.283-.968 27.726 20.649 53.3 49.868 53.3h299.347c29.214 0 50.827-25.57 49.859-53.3-.929-26.641.278-61.145 8.964-89.283 8.717-28.221 23.413-46.1 47.482-48.393v-25.912c-24.068-2.3-38.764-20.172-47.482-48.393-8.687-28.134-9.893-62.642-8.964-89.283.968-27.726-20.645-53.3-49.859-53.3h-299.355zm240.775 251.067c0 38.183-28.481 61.34-75.746 61.34h-80.458a8.678 8.678 0 0 1 -8.678-8.678v-199.593a8.678 8.678 0 0 1 8.678-8.678h80c39.411 0 65.276 21.348 65.276 54.124 0 23.005-17.4 43.6-39.567 47.208v1.2c30.176 3.31 50.495 24.21 50.495 53.077zm-84.519-128.1h-45.876v64.8h38.639c29.87 0 46.34-12.028 46.34-33.527-.003-20.148-14.163-31.273-39.103-31.273zm-45.876 90.511v71.411h47.564c31.1 0 47.573-12.479 47.573-35.931s-16.935-35.484-49.573-35.484h-45.564z" 
                            fill="#7952b3" 
                            fill-rule="evenodd"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
        <!-- Html -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="HTML 5">
                <a href="https://html.spec.whatwg.org/" target="_blank">
                    <svg 
                        width="48" 
                        height="48" 
                        viewBox="0 0 200 200"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g>
                            <g>
                                <path 
                                    d="M33.04,174.277l-14.9,-167.115l163.72,0l-14.916,167.088l-67.045,18.588l-66.86,-18.561l0.001,-0Z" style="fill:#e44d26;fill-rule:nonzero;"/><path d="M100,178.631l54.175,-15.02l12.747,-142.784l-66.922,-0l-0,157.804l-0,-0Z" style="fill:#f16529;fill-rule:nonzero;"/><path d="M100,82.807l-27.121,0l-1.873,-20.988l28.994,0l-0,-20.496l-51.394,0l0.491,5.499l5.037,56.481l45.866,-0l-0,-20.496l-0,0Zm-0,53.23l-0.09,0.024l-22.826,-6.164l-1.46,-16.345l-20.574,-0l2.872,32.181l41.984,11.655l0.094,-0.026l-0,-21.325l-0,-0Z" style="fill:#ebebeb;fill-rule:nonzero;"/><path d="M99.929,82.807l0,20.496l25.239,-0l-2.379,26.582l-22.86,6.169l0,21.323l42.018,-11.644l0.308,-3.464l4.817,-53.958l0.5,-5.504l-47.643,0l0,0Zm0,-41.484l0,20.496l49.508,0l0.41,-4.607l0.934,-10.39l0.491,-5.499l-51.343,0l0,0Z" style="fill:#fff;fill-rule:nonzero;"/>
                            </g>
                        </g></svg>
                </a>
            </Tooltip>
        </div>
        <!-- CSS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="CSS">
                <a href="https://www.w3.org/style/css" target="_blank">
                    <svg 
                         width="48" 
                         height="48" 
                         viewBox="0 0 2134 2134" 
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g>
                            <path 
                                d="M368.837,1840.8l-155.308,-1741.63l1706.28,-0l-155.502,1741.35l-698.696,193.654l-696.77,-193.365Z" style="fill:#1572b6;fill-rule:nonzero;"/><path d="M1066.67,1886.18l564.583,-156.561l132.764,-1488.05l-697.347,0l-0,1644.62Z" style="fill:#33a9dc;fill-rule:nonzero;"/><path d="M1066.67,872.531l282.677,-0l19.462,-218.704l-302.139,-0l-0,-213.501l535.68,-0l-5.106,57.325l-52.509,588.67l-478.065,0l-0,-213.79Z" style="fill:#fff;fill-rule:nonzero;"/><path d="M1068.31,1427.29l-1.446,0l-237.876,-64.262l-15.223,-170.339l-214.272,0l29.963,335.379l437.601,121.78l1.253,0l-0,-222.558Z" style="fill:#ebebeb;fill-rule:nonzero;"/><path d="M1331.23,1076.98l-25.724,285.856l-238.262,64.263l-0,222.557l437.889,-121.395l3.18,-36.129l37.189,-415.249l-214.272,0l-0,0.097Z" style="fill:#fff;fill-rule:nonzero;"/><path d="M1067.44,440.326l0,213.597l-515.833,0l-4.431,-47.98l-9.731,-108.292l-5.107,-57.325l535.102,-0Zm-0.77,432.205l-0,213.597l-235.179,0l-4.143,-47.98l-9.731,-108.292l-5.106,-57.325l254.159,-0Z" style="fill:#ebebeb;fill-rule:nonzero;"/>
                        </g>
                        </svg> 
                </a>
            </Tooltip>
        </div>
        <!-- PostgreSQL -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="PostgreSQL">
                <a href="https://www.postgresql.org/" target="_blank">
                    <svg 
                    width="48" 
                    height="48" 
                    viewBox="0 0 256 264"> 
                        <path 
                            d="M255.008 158.086c-1.535-4.649-5.556-7.887-10.756-8.664-2.452-.366-5.26-.21-8.583.475-5.792 1.195-10.089 1.65-13.225 1.738 11.837-19.985 21.462-42.775 27.003-64.228 8.96-34.689 4.172-50.492-1.423-57.64C233.217 10.847 211.614.683 185.552.372c-13.903-.17-26.108 2.575-32.475 4.549-5.928-1.046-12.302-1.63-18.99-1.738-12.537-.2-23.614 2.533-33.079 8.15-5.24-1.772-13.65-4.27-23.362-5.864-22.842-3.75-41.252-.828-54.718 8.685C6.622 25.672-.937 45.684.461 73.634c.444 8.874 5.408 35.874 13.224 61.48 4.492 14.718 9.282 26.94 14.237 36.33 7.027 13.315 14.546 21.156 22.987 23.972 4.731 1.576 13.327 2.68 22.368-4.85 1.146 1.388 2.675 2.767 4.704 4.048 2.577 1.625 5.728 2.953 8.875 3.74 11.341 2.835 21.964 2.126 31.027-1.848.056 1.612.099 3.152.135 4.482.06 2.157.12 4.272.199 6.25.537 13.374 1.447 23.773 4.143 31.049.148.4.347 1.01.557 1.657 1.345 4.118 3.594 11.012 9.316 16.411 5.925 5.593 13.092 7.308 19.656 7.308 3.292 0 6.433-.432 9.188-1.022 9.82-2.105 20.973-5.311 29.041-16.799 7.628-10.86 11.336-27.217 12.007-52.99.087-.729.167-1.425.244-2.088l.16-1.362 1.797.158.463.031c10.002.456 22.232-1.665 29.743-5.154 5.935-2.754 24.954-12.795 20.476-26.351"/><path d="M237.906 160.722c-29.74 6.135-31.785-3.934-31.785-3.934 31.4-46.593 44.527-105.736 33.2-120.211-30.904-39.485-84.399-20.811-85.292-20.327l-.287.052c-5.876-1.22-12.451-1.946-19.842-2.067-13.456-.22-23.664 3.528-31.41 9.402 0 0-95.43-39.314-90.991 49.444.944 18.882 27.064 142.873 58.218 105.422 11.387-13.695 22.39-25.274 22.39-25.274 5.464 3.63 12.006 5.482 18.864 4.817l.533-.452c-.166 1.7-.09 3.363.213 5.332-8.026 8.967-5.667 10.541-21.711 13.844-16.235 3.346-6.698 9.302-.471 10.86 7.549 1.887 25.013 4.561 36.813-11.958l-.47 1.885c3.144 2.519 5.352 16.383 4.982 28.952-.37 12.568-.617 21.197 1.86 27.937 2.479 6.74 4.948 21.905 26.04 17.386 17.623-3.777 26.756-13.564 28.027-29.89.901-11.606 2.942-9.89 3.07-20.267l1.637-4.912c1.887-15.733.3-20.809 11.157-18.448l2.64.232c7.99.363 18.45-1.286 24.589-4.139 13.218-6.134 21.058-16.377 8.024-13.686h.002" fill="#336791"/><path d="M108.076 81.525c-2.68-.373-5.107-.028-6.335.902-.69.523-.904 1.129-.962 1.546-.154 1.105.62 2.327 1.096 2.957 1.346 1.784 3.312 3.01 5.258 3.28.282.04.563.058.842.058 3.245 0 6.196-2.527 6.456-4.392.325-2.336-3.066-3.893-6.355-4.35M196.86 81.599c-.256-1.831-3.514-2.353-6.606-1.923-3.088.43-6.082 1.824-5.832 3.659.2 1.427 2.777 3.863 5.827 3.863.258 0 .518-.017.78-.054 2.036-.282 3.53-1.575 4.24-2.32 1.08-1.136 1.706-2.402 1.591-3.225" fill="#FFF"/><path d="M247.802 160.025c-1.134-3.429-4.784-4.532-10.848-3.28-18.005 3.716-24.453 1.142-26.57-.417 13.995-21.32 25.508-47.092 31.719-71.137 2.942-11.39 4.567-21.968 4.7-30.59.147-9.463-1.465-16.417-4.789-20.665-13.402-17.125-33.072-26.311-56.882-26.563-16.369-.184-30.199 4.005-32.88 5.183-5.646-1.404-11.801-2.266-18.502-2.376-12.288-.199-22.91 2.743-31.704 8.74-3.82-1.422-13.692-4.811-25.765-6.756-20.872-3.36-37.458-.814-49.294 7.571-14.123 10.006-20.643 27.892-19.38 53.16.425 8.501 5.269 34.653 12.913 59.698 10.062 32.964 21 51.625 32.508 55.464 1.347.449 2.9.763 4.613.763 4.198 0 9.345-1.892 14.7-8.33a529.832 529.832 0 0 1 20.261-22.926c4.524 2.428 9.494 3.784 14.577 3.92.01.133.023.266.035.398a117.66 117.66 0 0 0-2.57 3.175c-3.522 4.471-4.255 5.402-15.592 7.736-3.225.666-11.79 2.431-11.916 8.435-.136 6.56 10.125 9.315 11.294 9.607 4.074 1.02 7.999 1.523 11.742 1.523 9.103 0 17.114-2.992 23.516-8.781-.197 23.386.778 46.43 3.586 53.451 2.3 5.748 7.918 19.795 25.664 19.794 2.604 0 5.47-.303 8.623-.979 18.521-3.97 26.564-12.156 29.675-30.203 1.665-9.645 4.522-32.676 5.866-45.03 2.836.885 6.487 1.29 10.434 1.289 8.232 0 17.731-1.749 23.688-4.514 6.692-3.108 18.768-10.734 16.578-17.36zm-44.106-83.48c-.061 3.647-.563 6.958-1.095 10.414-.573 3.717-1.165 7.56-1.314 12.225-.147 4.54.42 9.26.968 13.825 1.108 9.22 2.245 18.712-2.156 28.078a36.508 36.508 0 0 1-1.95-4.009c-.547-1.326-1.735-3.456-3.38-6.404-6.399-11.476-21.384-38.35-13.713-49.316 2.285-3.264 8.084-6.62 22.64-4.813zm-17.644-61.787c21.334.471 38.21 8.452 50.158 23.72 9.164 11.711-.927 64.998-30.14 110.969a171.33 171.33 0 0 0-.886-1.117l-.37-.462c7.549-12.467 6.073-24.802 4.759-35.738-.54-4.488-1.05-8.727-.92-12.709.134-4.22.692-7.84 1.232-11.34.663-4.313 1.338-8.776 1.152-14.037.139-.552.195-1.204.122-1.978-.475-5.045-6.235-20.144-17.975-33.81-6.422-7.475-15.787-15.84-28.574-21.482 5.5-1.14 13.021-2.203 21.442-2.016zM66.674 175.778c-5.9 7.094-9.974 5.734-11.314 5.288-8.73-2.912-18.86-21.364-27.791-50.624-7.728-25.318-12.244-50.777-12.602-57.916-1.128-22.578 4.345-38.313 16.268-46.769 19.404-13.76 51.306-5.524 64.125-1.347-.184.182-.376.352-.558.537-21.036 21.244-20.537 57.54-20.485 59.759-.002.856.07 2.068.168 3.735.362 6.105 1.036 17.467-.764 30.334-1.672 11.957 2.014 23.66 10.111 32.109a36.275 36.275 0 0 0 2.617 2.468c-3.604 3.86-11.437 12.396-19.775 22.426zm22.479-29.993c-6.526-6.81-9.49-16.282-8.133-25.99 1.9-13.592 1.199-25.43.822-31.79-.053-.89-.1-1.67-.127-2.285 3.073-2.725 17.314-10.355 27.47-8.028 4.634 1.061 7.458 4.217 8.632 9.645 6.076 28.103.804 39.816-3.432 49.229-.873 1.939-1.698 3.772-2.402 5.668l-.546 1.466c-1.382 3.706-2.668 7.152-3.465 10.424-6.938-.02-13.687-2.984-18.819-8.34zm1.065 37.9c-2.026-.506-3.848-1.385-4.917-2.114.893-.42 2.482-.992 5.238-1.56 13.337-2.745 15.397-4.683 19.895-10.394 1.031-1.31 2.2-2.794 3.819-4.602l.002-.002c2.411-2.7 3.514-2.242 5.514-1.412 1.621.67 3.2 2.702 3.84 4.938.303 1.056.643 3.06-.47 4.62-9.396 13.156-23.088 12.987-32.921 10.526zm69.799 64.952c-16.316 3.496-22.093-4.829-25.9-14.346-2.457-6.144-3.665-33.85-2.808-64.447.011-.407-.047-.8-.159-1.17a15.444 15.444 0 0 0-.456-2.162c-1.274-4.452-4.379-8.176-8.104-9.72-1.48-.613-4.196-1.738-7.46-.903.696-2.868 1.903-6.107 3.212-9.614l.549-1.475c.618-1.663 1.394-3.386 2.214-5.21 4.433-9.848 10.504-23.337 3.915-53.81-2.468-11.414-10.71-16.988-23.204-15.693-7.49.775-14.343 3.797-17.761 5.53-.735.372-1.407.732-2.035 1.082.954-11.5 4.558-32.992 18.04-46.59 8.489-8.56 19.794-12.788 33.568-12.56 27.14.444 44.544 14.372 54.366 25.979 8.464 10.001 13.047 20.076 14.876 25.51-13.755-1.399-23.11 1.316-27.852 8.096-10.317 14.748 5.644 43.372 13.315 57.129 1.407 2.521 2.621 4.7 3.003 5.626 2.498 6.054 5.732 10.096 8.093 13.046.724.904 1.426 1.781 1.96 2.547-4.166 1.201-11.649 3.976-10.967 17.847-.55 6.96-4.461 39.546-6.448 51.059-2.623 15.21-8.22 20.875-23.957 24.25zm68.104-77.936c-4.26 1.977-11.389 3.46-18.161 3.779-7.48.35-11.288-.838-12.184-1.569-.42-8.644 2.797-9.547 6.202-10.503.535-.15 1.057-.297 1.561-.473.313.255.656.508 1.032.756 6.012 3.968 16.735 4.396 31.874 1.271l.166-.033c-2.042 1.909-5.536 4.471-10.49 6.772z" fill="#FFF"/>
                        </svg> 
                </a>
            </Tooltip>
        </div>
         <!-- Docker -->
         <div class="col-1 svg-icon-lang">
             <Tooltip Text="Docker">
                 <a href="https://docker.com" target="_blank">
                     <svg
                         x="0px"
                         y="0px"
                         viewBox="0 0 1024 1024">
                         <style type="text/css">
                   	.st0{fill:#0091E2;}
                   	.st1{fill:#FFFFFF;}
                   </style>
                         <g id="Guides">
                         </g>
                         <g id="Icon">
                             <circle class="st0" cx="512" cy="512" r="512"/>
                             <path class="st1" d="M827.3,461.5c-1.6-1.3-16.1-12.2-46.7-12.2c-8.1,0-16.2,0.6-24.2,2.1c-5.9-40.7-39.5-60.5-41-61.4l-8.2-4.8
                   		l-5.4,7.8c-6.8,10.5-11.7,22-14.6,34.2c-5.5,23.2-2.2,45,9.6,63.6c-14.2,7.9-37.1,9.9-41.7,10H277c-9.9,0-17.9,8-17.9,17.9
                   		c-0.4,33.1,5.2,66,16.5,97.1c13,34.2,32.4,59.3,57.6,74.7c28.2,17.3,74.1,27.2,126.2,27.2c23.5,0.1,47-2.1,70.1-6.4
                   		c32.1-5.9,63-17.1,91.4-33.2c23.4-13.6,44.5-30.8,62.4-51.1c29.9-33.9,47.8-71.7,61.1-105.2h5.3c32.8,0,53-13.1,64.1-24.1
                   		c7.4-7,13.2-15.5,16.9-25l2.3-6.9L827.3,461.5z M312,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5H312
                   		c-2.4,0-4.4,2-4.4,4.4v45.2C307.6,488,309.6,489.9,312,489.9 M381.9,489.9h50.7c2.4,0,4.4-2,4.4-4.4v-45.1c0-2.4-2-4.4-4.4-4.5
                   		h-50.7c-2.5,0-4.5,2-4.5,4.5v45.1C377.4,488,379.4,489.9,381.9,489.9 M452.7,490h50.7c2.4,0,4.4-2,4.4-4.4v-45.1
                   		c0-2.4-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C448.3,488,450.3,489.9,452.7,490 M522.8,490h50.7c2.4,0,4.4-2,4.5-4.4v-45.1
                   		c0-2.5-2-4.5-4.5-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,488,520.3,490,522.8,490 M381.8,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.5,0-4.4,2-4.5,4.4v45.1C377.4,423,379.4,425,381.8,425 M452.7,425h50.7c2.4,0,4.4-2,4.4-4.5v-45.1
                   		c0-2.4-2-4.4-4.4-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C448.3,423,450.3,425,452.7,425 M522.8,425h50.7c2.5,0,4.4-2,4.5-4.5v-45.1
                   		c0-2.5-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.1C518.4,423,520.3,425,522.8,425 M522.8,360.1h50.7c2.5,0,4.5-2,4.5-4.5v-45.2
                   		c0-2.4-2-4.4-4.5-4.4h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C518.4,358.1,520.3,360.1,522.8,360.1 M593.4,490h50.7c2.4,0,4.4-2,4.4-4.4
                   		v-45.1c0-2.5-2-4.4-4.4-4.5h-50.7c-2.4,0-4.4,2-4.4,4.4v45.2C589,488,591,490,593.4,490"/>
                         </g>
                     </svg>
                 </a>
             </Tooltip>
         </div>
    </div>
    
    <!-- Other Languages -->
    <div class="row mt-4 mx-2">
        <h5>Other Languages</h5>
    </div>
    <div class="row m-2 align-items-start">
        <!-- Go -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Go">
                <a href="https://golang.org" target="_blank">
                    <svg 
                        height="959" 
                        viewBox="-.1 -1 206.8 78.4" 
                        width="2500">
                        <path 
                            fill="#00A5CF" 
                            d="m15.5 23.2c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h35.7c.4 0 .5.3.3.6l-1.7 2.6c-.2.3-.7.6-1 .6zm-15.1 9.2c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h45.6c.4 0 .6.3.5.6l-.8 2.4c-.1.4-.5.6-.9.6zm24.2 9.2c-.4 0-.5-.3-.3-.6l1.4-2.5c.2-.3.6-.6 1-.6h20c.4 0 .6.3.6.7l-.2 2.4c0 .4-.4.7-.7.7zm103.8-20.2c-6.3 1.6-10.6 2.8-16.8 4.4-1.5.4-1.6.5-2.9-1-1.5-1.7-2.6-2.8-4.7-3.8-6.3-3.1-12.4-2.2-18.1 1.5-6.8 4.4-10.3 10.9-10.2 19 .1 8 5.6 14.6 13.5 15.7 6.8.9 12.5-1.5 17-6.6.9-1.1 1.7-2.3 2.7-3.7h-19.3c-2.1 0-2.6-1.3-1.9-3 1.3-3.1 3.7-8.3 5.1-10.9.3-.6 1-1.6 2.5-1.6h36.4c-.2 2.7-.2 5.4-.6 8.1-1.1 7.2-3.8 13.8-8.2 19.6-7.2 9.5-16.6 15.4-28.5 17-9.8 1.3-18.9-.6-26.9-6.6-7.4-5.6-11.6-13-12.7-22.2-1.3-10.9 1.9-20.7 8.5-29.3 7.1-9.3 16.5-15.2 28-17.3 9.4-1.7 18.4-.6 26.5 4.9 5.3 3.5 9.1 8.3 11.6 14.1.6.9.2 1.4-1 1.7z"/><path fill="#00A5CF" d="m161.5 76.7c-9.1-.2-17.4-2.8-24.4-8.8-5.9-5.1-9.6-11.6-10.8-19.3-1.8-11.3 1.3-21.3 8.1-30.2 7.3-9.6 16.1-14.6 28-16.7 10.2-1.8 19.8-.8 28.5 5.1 7.9 5.4 12.8 12.7 14.1 22.3 1.7 13.5-2.2 24.5-11.5 33.9-6.6 6.7-14.7 10.9-24 12.8-2.7.5-5.4.6-8 .9zm23.8-40.4c-.1-1.3-.1-2.3-.3-3.3-1.8-9.9-10.9-15.5-20.4-13.3-9.3 2.1-15.3 8-17.5 17.4-1.8 7.8 2 15.7 9.2 18.9 5.5 2.4 11 2.1 16.3-.6 7.9-4.1 12.2-10.5 12.7-19.1z"/>
                    </svg>
                </a> 
            </Tooltip> 
        </div>
        <!-- Bash -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Bash">
                <a href="https://tiswww.case.edu/php/chet/bash/bashtop.html" target="_blank">
                    <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 2134 2134"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="Layer_1-2">
                            <path 
                                d="M1797.31,492.816l-612.428,-363.606c-72.689,-43.353 -163.625,-43.353 -236.314,-0l-612.551,363.606c-73.595,44.398 -118.542,124.489 -118.095,210.438l-0,727.09c-0.403,85.906 44.537,165.94 118.095,210.316l612.429,363.484c72.696,43.325 163.617,43.325 236.313,-0l612.429,-363.484c73.642,-44.368 118.638,-124.465 118.218,-210.438l-0,-726.968c0.446,-85.949 -44.5,-166.04 -118.096,-210.438Z" style="fill:#fff;fill-rule:nonzero;"/><path d="M1797.31,492.816l-612.428,-363.606c-72.689,-43.353 -163.625,-43.353 -236.314,-0l-612.551,363.606c-73.595,44.398 -118.542,124.489 -118.095,210.438l-0,727.09c-0.403,85.906 44.537,165.94 118.095,210.316l612.429,363.484c72.696,43.325 163.617,43.325 236.313,-0l612.429,-363.484c73.642,-44.368 118.638,-124.465 118.218,-210.438l-0,-726.968c0.446,-85.949 -44.5,-166.04 -118.096,-210.438Zm-827.404,1474.17l-612.428,-363.484c-60.451,-36.631 -97.383,-102.475 -97.125,-173.158l-0,-727.09c-0.283,-70.689 36.656,-136.544 97.125,-173.157l612.428,-363.607c59.522,-35.51 133.993,-35.51 193.515,0l611.938,363.607c50.417,30.536 84.864,81.825 94.059,140.046c-20.357,-43.289 -66.099,-55.185 -119.444,-24.526l-578.95,358.578c-72.231,42.063 -125.453,89.522 -125.576,176.592l0,713.968c0,52.119 20.97,85.843 53.345,95.776c-10.602,1.943 -21.351,2.969 -32.129,3.066c-34.054,-0.025 -67.481,-9.218 -96.758,-26.611Z" style="fill:#2f3a3e;fill-rule:nonzero;"/><path d="M1636.79,1500.61l-152.555,91.239c-4.079,1.639 -6.825,5.541 -6.99,9.933l-0,40.101c-0,4.905 3.311,6.868 7.358,4.538l154.885,-94.182c3.786,-2.839 5.606,-7.627 4.66,-12.264l-0,-35.195c-0.123,-4.538 -3.679,-6.5 -7.358,-4.17Z" style="fill:#3ab14a;fill-rule:nonzero;"/><path d="M1312.06,1164.72c4.905,-2.453 8.952,-0 9.075,6.99l0.49,53.222c18.343,-8.333 38.815,-10.817 58.619,-7.112c3.802,0.981 5.396,6.131 3.924,12.263l-11.65,46.723c-0.883,3.526 -2.706,6.747 -5.273,9.32c-0.902,0.89 -1.936,1.635 -3.066,2.208c-1.386,0.749 -2.986,1.009 -4.537,0.735c-19.307,-4.275 -39.536,-1.028 -56.534,9.075c-24.823,11.182 -41.117,35.695 -41.818,62.911c0,24.526 12.263,31.271 55.062,32.007c56.534,0.981 81.061,25.63 81.674,82.655c-1.346,59.488 -28.818,115.465 -75.052,152.923l0.981,52.241c-0.087,6.482 -3.463,12.494 -8.952,15.943l-30.903,17.781c-4.906,2.453 -8.952,0 -9.075,-6.867l-0,-51.383c-26.489,11.037 -53.345,13.612 -70.514,6.745c-3.188,-1.227 -4.66,-6.009 -3.311,-11.528l11.16,-47.213c0.848,-3.736 2.766,-7.146 5.518,-9.811c0.873,-0.836 1.865,-1.539 2.943,-2.085c1.598,-0.718 3.43,-0.718 5.028,0c21.853,5.925 45.187,2.97 64.873,-8.216c28.377,-13.686 46.889,-42.093 47.949,-73.58c0,-26.489 -14.593,-37.526 -49.053,-37.771c-44.516,0 -85.843,-8.584 -86.701,-73.58c1.023,-56.747 27.411,-110.153 71.863,-145.442l-2.208,-53.468c-0.02,-6.575 3.373,-12.71 8.952,-16.188l30.536,-19.498Z" style="fill:#fff;fill-rule:nonzero;"/>
                        </g>
                    </svg>
                </a> 
            </Tooltip>
        </div>
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 mx-2">
        <h5>Tools</h5>
    </div>
    <div class="row m-2 align-items-start">
         <!-- Git -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Git">
                <a href="https://git-scm.com" target="_blank">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 256 256">
                        <path 
                            d="M251.172 116.594L139.4 4.828c-6.433-6.437-16.873-6.437-23.314 0l-23.21 23.21 29.443 29.443c6.842-2.312 14.688-.761 20.142 4.693 5.48 5.489 7.02 13.402 4.652 20.266l28.375 28.376c6.865-2.365 14.786-.835 20.269 4.657 7.663 7.66 7.663 20.075 0 27.74-7.665 7.666-20.08 7.666-27.749 0-5.764-5.77-7.188-14.235-4.27-21.336l-26.462-26.462-.003 69.637a19.82 19.82 0 0 1 5.188 3.71c7.663 7.66 7.663 20.076 0 27.747-7.665 7.662-20.086 7.662-27.74 0-7.663-7.671-7.663-20.086 0-27.746a19.654 19.654 0 0 1 6.421-4.281V94.196a19.378 19.378 0 0 1-6.421-4.281c-5.806-5.798-7.202-14.317-4.227-21.446L81.47 39.442l-76.64 76.635c-6.44 6.443-6.44 16.884 0 23.322l111.774 111.768c6.435 6.438 16.873 6.438 23.316 0l111.251-111.249c6.438-6.44 6.438-16.887 0-23.324" 
                            fill="#DE4C36"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!-- macOS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="macOS">
                <a href="https://apple.com/macos" target="_blank">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 8484 10417">
                        <path 
                            d="M7084.49,5534.05c14.638,1576.39 1382.89,2100.97 1398.05,2107.64c-11.569,36.977 -218.624,747.554 -720.862,1481.53c-434.181,634.577 -884.766,1266.79 -1594.6,1279.89c-697.483,12.853 -921.762,-413.59 -1719.18,-413.59c-797.179,0 -1046.36,400.514 -1706.61,426.461c-685.169,25.948 -1206.94,-686.173 -1644.69,-1318.42c-894.532,-1293.26 -1578.14,-3654.44 -660.227,-5248.28c455.998,-791.506 1270.9,-1292.72 2155.41,-1305.57c672.819,-12.834 1307.86,452.65 1719.18,452.65c411.061,-0 1182.78,-559.787 1994.07,-477.574c339.637,14.136 1293.02,137.193 1905.18,1033.27c-49.327,30.579 -1137.56,664.096 -1125.73,1982m-1310.84,-3870.87c363.761,-440.318 608.593,-1053.28 541.8,-1663.18c-524.335,21.074 -1158.37,349.402 -1534.47,789.478c-337.051,389.708 -632.233,1013.46 -552.588,1611.28c584.431,45.217 1181.47,-296.986 1545.25,-737.584" 
                            style="fill:#fff;fill-rule:nonzero;"/>
                    </svg> 
                </a>
            </Tooltip>
        </div>
         <!-- Linux -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Linux">
                <a href="https://linux.org" target="_blank">
                    <svg 
                        id="Layer_1" 
                        x="0px" 
                        y="0px"
                        viewBox="0 0 512 512"> 
                    <circle style="fill:#F2CF61;" cx="256" cy="256" r="256"/>
                    <path style="fill:#E6C45C;" d="M435.792,435.66c-0.264-0.684-0.552-1.356-0.824-2.036c-0.256-0.668-0.532-1.328-0.8-1.992
                    	c-0.276-0.72-0.576-1.416-0.856-2.124c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.264-0.688-0.556-1.368-0.828-2.052c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.052
                    	c-0.264-0.688-0.556-1.36-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.684-0.548-1.356-0.82-2.036
                    	c-0.264-0.7-0.56-1.38-0.836-2.068c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048
                    	c-0.264-0.688-0.552-1.368-0.828-2.048c-0.264-0.688-0.552-1.368-0.828-2.052c-0.252-0.66-0.532-1.316-0.796-1.972
                    	c-0.268-0.72-0.572-1.416-0.852-2.124c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.688-0.552-1.36-0.828-2.04
                    	c-0.26-0.696-0.556-1.376-0.828-2.064c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.052
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.052c-0.264-0.688-0.556-1.36-0.828-2.048
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.548-1.36-0.824-2.04
                    	c-0.264-0.696-0.56-1.376-0.832-2.064c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.256-0.664-0.532-1.32-0.796-1.976c-0.272-0.72-0.572-1.416-0.856-2.124c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.368-0.828-2.048c-0.26-0.688-0.552-1.368-0.828-2.052c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.684-0.548-1.356-0.82-2.036c-0.268-0.696-0.56-1.376-0.836-2.068c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.364-0.828-2.052c-0.26-0.688-0.552-1.36-0.828-2.048c-0.26-0.688-0.552-1.364-0.828-2.048
                    	c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.688-0.552-1.368-0.824-2.048c-0.264-0.688-0.556-1.368-0.828-2.052
                    	c-0.252-0.66-0.532-1.308-0.796-1.956c-0.272-0.724-0.572-1.424-0.86-2.14c-0.26-0.688-0.552-1.368-0.828-2.048
                    	c-0.26-0.692-0.552-1.368-0.828-2.052c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.692-0.552-1.364-0.828-2.052
                    	c-0.26-0.688-0.552-1.36-0.828-2.048c-0.26-0.688-0.552-1.364-0.828-2.048c-0.26-0.688-0.548-1.364-0.828-2.048
                    	c-0.26-0.688-0.548-1.368-0.828-2.048c-0.26-0.688-0.548-1.36-0.82-2.04c-0.264-0.696-0.556-1.376-0.836-2.064
                    	c-0.26-0.688-0.548-1.368-0.824-2.048c-0.264-0.688-0.552-1.368-0.828-2.052c-0.264-0.688-0.552-1.364-0.828-2.048
                    	c-0.252-0.664-0.536-1.316-0.796-1.976c-0.276-0.712-0.576-1.416-0.856-2.124c-0.264-0.688-0.556-1.364-0.828-2.048
                    	c-0.264-0.688-0.556-1.364-0.828-2.052c-0.264-0.68-0.548-1.352-0.82-2.032c-0.264-0.696-0.564-1.38-0.836-2.068
                    	c-0.264-0.688-0.556-1.364-0.828-2.048c-0.264-0.692-0.552-1.364-0.828-2.052c-0.264-0.688-0.552-1.36-0.828-2.048
                    	c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.688-0.552-1.368-0.828-2.048
                    	c-0.264-0.692-0.552-1.368-0.828-2.052c-0.264-0.688-0.552-1.364-0.828-2.048c-0.264-0.684-0.548-1.356-0.82-2.036
                    	c-0.256-0.672-0.536-1.328-0.804-1.992c-0.268-0.72-0.572-1.416-0.852-2.124c-0.264-0.688-0.556-1.368-0.828-2.048
                    	c-0.264-0.688-0.556-1.368-0.828-2.048c-0.264-0.692-0.556-1.368-0.828-2.052c-0.264-0.688-0.556-1.364-0.828-2.048
                    	c-0.264-0.692-0.556-1.364-0.828-2.052c-7.284-18.872-18.648-35.54-29.164-48.548c-0.064-0.148-0.14-0.288-0.212-0.432
                    	c-0.264-0.684-0.528-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048c-0.264-0.684-0.528-1.376-0.828-2.048
                    	c-0.264-0.684-0.524-1.38-0.828-2.048c-0.264-0.684-0.524-1.372-0.828-2.04c-0.264-0.692-0.524-1.384-0.828-2.06
                    	c-0.26-0.676-0.516-1.356-0.812-2.016c-0.268-0.7-0.532-1.4-0.836-2.084c-0.268-0.684-0.532-1.38-0.828-2.048
                    	c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048
                    	c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04
                    	c-0.268-0.688-0.532-1.384-0.828-2.06c-0.264-0.684-0.532-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048
                    	c-0.264-0.684-0.528-1.376-0.828-2.048c-0.264-0.684-0.528-1.38-0.828-2.048c-0.264-0.684-0.528-1.376-0.828-2.048
                    	c-0.264-0.676-0.516-1.356-0.812-2.016c-0.272-0.7-0.536-1.4-0.84-2.084c-0.268-0.684-0.528-1.38-0.828-2.048
                    	c-0.268-0.684-0.528-1.376-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04c-0.268-0.688-0.524-1.384-0.828-2.06
                    	c-0.268-0.684-0.528-1.376-0.824-2.048c-0.272-0.684-0.532-1.38-0.828-2.048c-0.272-0.684-0.532-1.376-0.828-2.048
                    	c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048
                    	c-0.268-0.684-0.532-1.376-0.828-2.048c-0.268-0.684-0.532-1.38-0.828-2.048c-0.268-0.684-0.524-1.372-0.828-2.04
                    	c-0.264-0.68-0.516-1.364-0.812-2.024c-0.272-0.696-0.54-1.4-0.844-2.084c-0.264-0.684-0.524-1.376-0.828-2.048
                    	c-0.264-0.684-0.524-1.38-0.828-2.048c-0.264-0.684-0.524-1.376-0.828-2.048c-0.264-0.684-0.524-1.38-0.824-2.048
                    	c-0.268-0.684-0.528-1.376-0.828-2.048c-6.5-16.604-23.112-28.448-42.64-28.448c-25.18,0-43.628,19.752-45.596,43.884
                    	c-0.508,6.208,4.228,46.2,5.432,65.252c-22.784,21.336-61.76,74.416-59.652,124.264l0.68,0.808
                    	c-17.384,4.688-42.212,29.084-34.536,46.884c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.16,0.372,0.356,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968c0.16,0.372,0.356,0.72,0.524,1.084
                    	c0.112,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08c0.112,0.32,0.168,0.656,0.304,0.972
                    	c0.16,0.372,0.356,0.716,0.524,1.084c0.112,0.32,0.168,0.656,0.304,0.968c0.16,0.368,0.356,0.72,0.524,1.084
                    	c0.112,0.32,0.168,0.656,0.304,0.972c0.152,0.36,0.348,0.7,0.512,1.056c0.116,0.328,0.172,0.668,0.312,0.996
                    	c0.156,0.364,0.352,0.716,0.524,1.076c0.116,0.328,0.168,0.664,0.304,0.976c0.156,0.368,0.356,0.72,0.524,1.084
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.156,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.084
                    	c0.116,0.32,0.164,0.656,0.304,0.972c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.116,0.32,0.164,0.656,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.084
                    	c0.116,0.316,0.164,0.652,0.304,0.972c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.112,0.32,0.164,0.656,0.304,0.968c0.156,0.368,0.352,0.712,0.524,1.08
                    	c0.112,0.32,0.164,0.656,0.304,0.976c0.156,0.368,0.352,0.716,0.524,1.08c0.112,0.32,0.164,0.656,0.304,0.972
                    	c0.156,0.368,0.352,0.716,0.524,1.084c0.112,0.316,0.164,0.652,0.304,0.968c0.156,0.368,0.352,0.72,0.524,1.08
                    	c0.112,0.32,0.164,0.656,0.3,0.976c0.156,0.36,0.348,0.696,0.512,1.056c0.12,0.328,0.172,0.668,0.312,0.996
                    	c0.16,0.368,0.36,0.716,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.972c0.16,0.368,0.36,0.72,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.972
                    	c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.72,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.156,0.368,0.352,0.716,0.524,1.08c0.116,0.324,0.168,0.66,0.304,0.976c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.16,0.372,0.356,0.72,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.372,0.356,0.716,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.968
                    	c0.16,0.372,0.356,0.72,0.524,1.084c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.156,0.364,0.348,0.7,0.512,1.06c0.12,0.328,0.172,0.664,0.308,0.992
                    	c0.164,0.368,0.36,0.72,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.972c0.156,0.364,0.356,0.716,0.528,1.076
                    	c0.112,0.324,0.168,0.66,0.3,0.976c0.164,0.372,0.36,0.716,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.968
                    	c0.164,0.368,0.36,0.72,0.528,1.084c0.112,0.32,0.168,0.656,0.3,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.968
                    	c0.164,0.368,0.36,0.72,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.084c0.116,0.32,0.172,0.656,0.304,0.968
                    	c0.164,0.368,0.36,0.72,0.524,1.084c0.116,0.316,0.172,0.652,0.304,0.972c0.164,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.156,0.364,0.352,0.712,0.524,1.076c0.116,0.328,0.172,0.664,0.304,0.976
                    	c0.164,0.368,0.36,0.72,0.524,1.08c0.116,0.32,0.172,0.656,0.304,0.976c0.16,0.368,0.36,0.716,0.524,1.08
                    	c0.116,0.32,0.172,0.656,0.304,0.972c0.156,0.36,0.352,0.7,0.516,1.056c0.116,0.328,0.172,0.668,0.308,0.996
                    	c0.16,0.368,0.356,0.72,0.528,1.08c0.112,0.32,0.164,0.656,0.3,0.976c0.16,0.368,0.356,0.716,0.528,1.08
                    	c0.112,0.32,0.164,0.656,0.3,0.972c0.16,0.368,0.356,0.716,0.528,1.08c0.112,0.32,0.164,0.656,0.3,0.972
                    	c0.16,0.368,0.356,0.72,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.976c0.16,0.368,0.356,0.712,0.524,1.08
                    	c0.116,0.32,0.168,0.656,0.304,0.972c0.16,0.368,0.356,0.716,0.524,1.08c0.116,0.32,0.168,0.656,0.304,0.972
                    	c0.04,0.092,0.088,0.18,0.132,0.272C199.124,507.1,226.98,512,256,512c70.444,0,134.244-28.468,180.532-74.516
                    	C436.288,436.872,436.04,436.264,435.792,435.66z"/>
                    <path style="fill:#263740;" d="M217.496,401.54c15.828,6.696,56.56,11.204,100.04-4.928l53.26-70.96
                    	c19.348-70.692-56.98-134.104-59.408-139.312c-2.396-5.192-7.148-44.452-7.148-44.452c0-24.228-20.416-43.884-45.596-43.884
                    	s-43.628,19.752-45.596,43.884c-0.508,6.208,4.228,46.2,5.432,65.252c-22.784,21.336-61.76,74.416-59.652,124.26L217.496,401.54z"/>
                    <path style="fill:#1E2C33;" d="M311.4,186.336c-2.4-5.192-7.156-44.452-7.156-44.452c0-24.228-20.416-43.884-45.592-43.884
                    	c-2.744,0-5.392,0.276-7.956,0.724c21.336,3.664,37.56,21.58,37.56,43.164c0,0,4.752,39.26,7.148,44.452
                    	c2.42,5.204,78.752,68.62,59.408,139.312l-53.264,70.956c-18.672,6.924-36.812,10.036-52.716,10.812
                    	c19.076,0.952,43.412-1.416,68.716-10.812l53.256-70.956C390.144,254.956,313.816,191.544,311.4,186.336z"/>
                    <path style="fill:#F5F5F5;" d="M322.184,410.788c-10.168-17.46-8.76-73.616,3.152-86.496c16.704-5.044,59.116-4.084,62.668,18.68
                    	C393.584,378.508,346.828,419.668,322.184,410.788z"/>
                    <path style="fill:#E6E6E6;" d="M388.004,342.976c-2.668-17.1-27.268-21.9-46.424-21.084c17.412,0.72,36.116,6.296,38.424,21.084
                    	c4.788,30.5-28.964,65.108-54.216,68.7C351.092,415.796,393.32,376.848,388.004,342.976z"/>
                    <path style="fill:#F5F5F5;" d="M217.752,404.348c-0.672-20.008-27.428-66.26-49.172-72.432c-15.468-4.852-52.78,25.896-43.6,47.18
                    	C139.308,412.264,201.416,424.208,217.752,404.348z"/>
                    <path style="fill:#E6E6E6;" d="M168.58,331.916c-2.252-0.708-4.968-0.64-7.932,0.016c21.732,6.252,48.432,52.424,49.104,72.416
                    	c-4.804,5.844-13.584,8.916-23.928,9.52c13.736,0.772,25.92-2.216,31.928-9.52C217.08,384.336,190.316,338.084,168.58,331.916z"/>
                    <path style="fill:#FFD464;" d="M239.644,187c3.024-4,12.204-9.972,20.856-13.428c9.5-1.228,19.332,1.428,24.744,3.752
                    	c3.588,19.844-8.576,15.176-20.076,34.344C246.976,200.528,242.168,200.832,239.644,187z"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!-- Doom Emacs -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Doom Emacs">
                <a href="https://github.com/hlissner/doom-emacs" target="_blank">
                    <img src="img/doom.png" alt=""/>
                </a>
            </Tooltip>
        </div>
         <!-- Jetbrains Rider -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Jetbrains Rider">
                <a href="https://www.jetbrains.com/rider/" target="_blank">
                    <img src="img/rider.svg" alt="">
                </a>
            </Tooltip>
        </div>
    </div>

    <!-- Past Experience -->
    <div class="row mt-4 mx-2">
        <h5>Past Experience</h5>
    </div>
    <div class="row m-2 align-items-start">
         <!-- Windows Server -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Windows Server">
                <a href="https://www.microsoft.com/en-us/windows-server" target="_blank">
                    <svg 
                        width="48" 
                        height="48" 
                        viewBox="0 0 256 257">
                        <path 
                            d="M0 36.357L104.62 22.11l.045 100.914-104.57.595L0 36.358zm104.57 98.293l.08 101.002L.081 221.275l-.006-87.302 104.494.677zm12.682-114.405L255.968 0v121.74l-138.716 1.1V20.246zM256 135.6l-.033 121.191-138.716-19.578-.194-101.84L256 135.6z" 
                            fill="#00ADEF"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!-- Red Hat Linux -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Red Hat Linux">
                <a href="https://redhat.com" target="_blank">
                    <svg
                        width="2500"
                        height="2500"
                        viewBox="0 0 256 256">
                        <path 
                            d="M235.463 197.578c-4.935-1.135-10.169-1.842-15.465-1.842-9.051 0-17.286 1.566-23.366 4.092a2.061 2.061 0 0 0-1.146 1.829c0 .287.074.586.186.829.717 2.085-.465 4.345-6.343 5.639-8.718 1.913-14.222 10.907-17.375 13.898-3.698 3.51-14.14 5.669-12.57 3.577 1.229-1.637 5.931-6.744 8.791-12.264 2.557-4.932 4.834-6.333 7.97-11.039.923-1.381 4.49-6.228 5.527-10.065 1.166-3.745.772-8.441 1.22-10.374.64-2.789 3.274-8.846 3.473-12.261.114-1.937-8.071 2.755-11.955 2.755-3.884 0-7.67-2.321-11.139-2.493-4.295-.202-7.054 3.312-10.941 2.698-2.22-.35-4.086-2.304-7.966-2.452-5.521-.202-12.268 3.066-24.937 2.661-12.466-.404-23.979-15.75-25.553-18.189-1.839-2.867-4.089-2.867-6.541-.62s-5.474.485-6.336-1.021c-1.634-2.863-6.006-11.227-12.776-12.978-9.361-2.425-14.104 5.184-13.488 11.24.624 6.148 4.598 7.869 6.441 11.136 1.836 3.271 2.779 5.383 6.238 6.831 2.456 1.018 3.369 2.534 2.638 4.548-.64 1.755-3.194 2.156-4.871 2.236-3.567.169-6.067-.798-7.892-1.963-2.119-1.348-3.844-3.227-5.696-6.417-2.143-3.517-5.514-5.049-9.445-5.049-1.873 0-3.625.495-5.181 1.296-6.157 3.2-13.49 5.1-21.383 5.1l-8.899.004C2.348 156.072 0 142.312 0 128.003 0 57.307 57.31 0 128.003 0 198.696 0 256 57.307 256 128.003c0 25.651-7.545 49.543-20.537 69.575"/><path d="M235.463 197.575c-4.935-1.135-10.169-1.85-15.465-1.85-9.051 0-17.286 1.57-23.366 4.1a2.057 2.057 0 0 0-1.146 1.829c0 .29.074.586.186.832.717 2.082-.465 4.338-6.343 5.632-8.718 1.917-14.222 10.91-17.375 13.895-3.698 3.516-14.14 5.675-12.57 3.58 1.229-1.633 5.931-6.74 8.791-12.257 2.557-4.932 4.834-6.34 7.97-11.042.923-1.378 4.49-6.228 5.527-10.065 1.166-3.742.772-8.441 1.22-10.375.64-2.792 3.274-8.845 3.473-12.267.114-1.931-8.071 2.762-11.955 2.762-3.884 0-7.67-2.325-11.139-2.493-4.295-.202-7.054 3.311-10.941 2.701-2.22-.357-4.086-2.314-7.966-2.458-5.521-.199-12.268 3.068-24.937 2.661-12.466-.405-23.979-15.751-25.553-18.193-1.839-2.86-4.089-2.86-6.541-.613-2.452 2.246-5.474.481-6.336-1.028-1.634-2.856-6.006-11.22-12.776-12.975-9.361-2.425-14.104 5.187-13.488 11.244.624 6.147 4.598 7.869 6.441 11.136 1.836 3.271 2.779 5.379 6.238 6.824 2.456 1.024 3.369 2.537 2.638 4.555-.64 1.751-3.194 2.152-4.871 2.233-3.567.172-6.067-.799-7.892-1.957-2.119-1.358-3.844-3.231-5.696-6.424-2.143-3.517-5.514-5.056-9.445-5.056-1.873 0-3.625.502-5.181 1.3-6.157 3.21-13.49 5.107-21.383 5.107l-8.899.003C23.747 219.544 71.619 256 128.003 256c45.039 0 84.645-23.259 107.46-58.425" fill="#FFF"/><path d="M156.194 185.839c.656.643 1.792 2.803.404 5.545-.778 1.451-1.614 2.475-3.112 3.671-1.799 1.442-5.319 3.109-10.146.047-2.597-1.647-2.752-2.199-6.336-1.734-2.56.333-3.578-2.251-2.658-4.4.92-2.142 4.702-3.877 9.405-1.121 2.112 1.243 5.413 3.863 8.3 1.542 1.195-.96 1.913-1.6 3.573-3.52a.42.42 0 0 1 .57-.03"/>
                        <path 
                            d="M200.232 93.945c-1.263 4.251-3.061 9.691-11.065 13.801-1.165.593-1.61-.384-1.071-1.304 3.021-5.144 3.56-6.43 4.44-8.461 1.229-2.965 1.872-7.185-.573-15.99-4.813-17.324-14.858-40.479-22.154-47.99-7.047-7.249-19.81-9.29-31.347-6.329-4.247 1.091-12.561 5.413-27.978 1.94-26.678-6.01-30.632 7.35-32.161 13.17-1.533 5.821-5.208 22.363-5.208 22.363-1.226 6.734-2.83 18.449 38.595 26.338 19.298 3.678 20.282 8.663 21.134 12.254 1.532 6.431 3.981 10.109 6.737 11.945 2.758 1.839 0 3.361-3.059 3.675-8.219.852-38.595-7.859-56.566-18.069-14.703-8.987-14.952-17.078-11.587-23.942-22.208-2.402-38.875 2.085-41.897 12.598-5.187 18.044 39.674 48.865 90.752 64.33 53.605 16.232 108.736 4.901 114.864-28.79 2.785-15.31-10.109-26.634-31.856-31.539m-82.189-32.993c-14.787 1.071-16.323 2.667-19.092 5.615-3.904 4.16-9.048-5.396-9.048-5.396-3.089-.651-6.831-5.626-4.81-10.274 1.987-4.598 5.662-3.217 6.814-1.785 1.402 1.741 4.389 4.591 8.27 4.49 3.88-.105 8.357-.92 14.602-.92 6.326 0 10.58 2.361 10.819 4.392.206 1.732-.512 3.369-7.555 3.878m15.532-24.432a.424.424 0 0 1-.068.007c-.229 0-.414-.178-.414-.391 0-.154.094-.289.233-.35 2.866-1.516 7.144-2.718 12.038-3.217a46.24 46.24 0 0 1 4.285-.242c.242 0 .485.003.731.006 8.205.186 14.774 3.446 14.676 7.283-.098 3.837-6.824 6.797-15.03 6.612-2.658-.06-5.15-.444-7.296-1.064a.566.566 0 0 1-.438-.539.56.56 0 0 1 .445-.536c5.12-1.185 8.572-3.122 8.33-4.951-.323-2.422-7.02-3.743-14.956-2.944-.869.087-1.718.198-2.536.326" 
                            fill="#C00"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!--Ubuntu Linux -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Ubuntu Linux">
                <a href="https://ubuntu.com" target="_blank">
                    <svg 
                        width="48" 
                        height="48" 
                        viewBox="0 0 256 256"> 
                        <path 
                            d="M255.637 127.683c0 70.514-57.165 127.68-127.683 127.68C57.434 255.363.27 198.197.27 127.683.27 57.165 57.436 0 127.954 0c70.519 0 127.683 57.165 127.683 127.683z" fill="#DD4814"/><path d="M41.133 110.633c-9.419 0-17.05 7.631-17.05 17.05 0 9.414 7.631 17.046 17.05 17.046 9.415 0 17.046-7.632 17.046-17.046 0-9.419-7.631-17.05-17.046-17.05zm121.715 77.478c-8.153 4.71-10.95 15.13-6.24 23.279 4.705 8.154 15.125 10.949 23.279 6.24 8.153-4.705 10.949-15.125 6.24-23.28-4.705-8.148-15.131-10.943-23.279-6.239zm-84.686-60.428c0-16.846 8.368-31.73 21.171-40.742L86.87 66.067c-14.914 9.97-26.012 25.204-30.624 43.047 5.382 4.39 8.826 11.075 8.826 18.568 0 7.489-3.444 14.174-8.826 18.565C60.852 164.094 71.95 179.33 86.87 189.3l12.463-20.88c-12.803-9.007-21.171-23.89-21.171-40.737zm49.792-49.797c26.013 0 47.355 19.944 49.595 45.38l24.29-.358c-1.194-18.778-9.398-35.636-22.002-48.032-6.482 2.449-13.97 2.074-20.44-1.656-6.483-3.741-10.548-10.052-11.659-16.902a74.26 74.26 0 0 0-19.785-2.69 73.787 73.787 0 0 0-32.819 7.663l11.845 21.227a49.596 49.596 0 0 1 20.975-4.632zm0 99.59a49.601 49.601 0 0 1-20.974-4.632l-11.845 21.225a73.712 73.712 0 0 0 32.82 7.671 74.04 74.04 0 0 0 19.784-2.697c1.111-6.85 5.177-13.155 11.658-16.902 6.476-3.737 13.959-4.105 20.44-1.656 12.605-12.396 20.808-29.254 22.004-48.032l-24.297-.358c-2.235 25.443-23.576 45.38-49.59 45.38zm34.888-110.231c8.154 4.708 18.575 1.92 23.279-6.234 4.71-8.154 1.92-18.575-6.234-23.285-8.154-4.704-18.574-1.91-23.285 6.244-4.703 8.15-1.908 18.57 6.24 23.275z" fill="#FFF"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!--Solaris -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Solaris">
                <a href="https://oracle.com/solaris" target="_blank">
                    <svg
                        height="512"
                        viewBox="0 0 512.00003 512"
                        width="512">
                        <defs id="defs7"/>
                        <g
                            id="g6831"
                            transform="translate(-234.69202,-271.463)">
                            <path 
                                d="m -733.62329,72.267944 c 0,203.804876 -165.21649,369.021366 -369.02141,369.021366 -203.8048,0 -369.0213,-165.21649 -369.0213,-369.021366 0,-203.804874 165.2165,-369.021364 369.0213,-369.021364 203.80492,0 369.02141,165.21649 369.02141,369.021364 z" id="path5062" style="fill:#ee7314;fill-opacity:1;fill-rule:nonzero;stroke:none" transform="matrix(0.69372682,0,0,0.69372682,1255.6262,477.32879)"/><g id="g7322" style="fill:#ffffff;fill-opacity:1" transform="matrix(1.9469177,0,0,1.9469177,-182.5222,-1016.9921)"><path d="m 390.5425,758.69965 c 0.21876,-1.19544 3.11359,-8.38614 3.11359,-8.38614 3.58643,-8.07842 1.307,-13.86841 1.307,-13.86841 -2.11439,-7.84647 -8.18544,-13.97997 -8.18544,-13.97997 0.2944,0.21875 2.14115,5.12984 2.14115,5.12984 4.25553,11.75406 -7.15502,18.49869 -7.15502,18.49869 -2.93962,1.94038 -7.73937,6.5662 -7.73937,6.5662 -6.73124,6.57958 -4.69711,14.64454 -4.69711,14.64454 l 0.26764,0.12026 c 8.00702,1.96722 15.52781,5.15661 22.36165,9.34527 -4.52764,-8.80998 -1.41405,-18.07046 -1.41405,-18.07046" id="path212" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 413.94618,796.79919 c -0.7494,-9.68871 5.45101,-16.95524 5.45101,-16.95524 0.63789,-1.03482 5.99523,-6.61519 5.99523,-6.61519 6.34762,-6.16481 6.40561,-12.38753 6.40561,-12.38753 0.97244,-8.06946 -2.37757,-16.02295 -2.37757,-16.02295 0.18307,0.30797 0.0671,5.55815 0.0671,5.56261 -0.43269,12.48551 -13.53386,14.49291 -13.53386,14.49291 -3.46153,0.70919 -9.64411,3.21173 -9.64411,3.21173 -8.06054,3.33656 -9.60841,10.65662 -9.78238,11.70489 6.64203,4.74622 12.51235,10.48718 17.41916,17.00877" id="path214" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 460.83693,780.74634 c 0.0625,0.36578 -2.01625,5.20121 -2.01625,5.20121 -5.03613,11.4284 -17.9366,8.41298 -17.9366,8.41298 -3.47491,-0.61558 -10.14371,-0.59778 -10.14371,-0.59332 -9.41214,0.10706 -13.51156,7.33791 -13.51156,7.33791 l 0.49515,1.19994 c 4.09495,6.55285 7.25315,13.73459 9.29616,21.38028 2.7835,-9.55042 11.49977,-14.14048 11.50869,-14.14048 0.9769,-0.70037 8.0204,-3.92102 8.0204,-3.92102 8.18101,-3.3589 10.54074,-9.10435 10.54074,-9.10435 3.88976,-7.1416 3.74702,-15.77315 3.74702,-15.77315" id="path216" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 363.36862,766.17448 c -7.13718,-6.50821 -7.65908,-15.97834 -7.65908,-15.97834 -0.26764,-1.18655 -0.23624,-8.92146 -0.22768,-8.92146 0.33438,-8.83225 -3.9299,-13.37328 -3.9299,-13.37328 -4.85328,-6.51713 -12.78,-9.96527 -12.78,-9.96527 0.36132,0.0981 3.90314,3.98789 3.90314,3.98789 8.2925,9.32293 0.20056,19.82349 0.20056,19.82349 -2.01179,2.89948 -4.75514,8.97054 -4.75514,8.97054 -3.59981,8.12745 0.55313,14.58213 1.01258,15.278 4.04143,-0.59774 8.19883,-0.88322 12.4053,-0.83861 4.03696,0.0403 7.98471,0.38362 11.82986,1.01704" id="path218" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 320.17042,755.03297 c -0.65572,-1.00813 -3.53736,-8.18991 -3.53736,-8.18991 -2.96638,-8.32822 -8.60475,-10.95556 -8.60475,-10.95556 -6.95428,-4.22877 -15.57688,-4.49199 -15.57688,-4.49199 0.37025,-0.0357 5.09862,2.25271 5.09862,2.25271 11.18752,5.57145 7.57878,18.32468 7.57878,18.32468 -0.78508,3.43473 -1.07503,10.10356 -1.07503,10.10356 -0.3433,9.38981 6.70002,13.83716 6.70002,13.83716 l 0.33437,-0.11598 c 6.83831,-3.9834 14.35018,-6.96763 22.2992,-8.73412 -9.15788,-3.34555 -13.21715,-12.03055 -13.21715,-12.03055" id="path220" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 305.99468,779.01961 c -9.70209,0.2498 -16.65191,-6.28071 -16.65191,-6.28071 -0.99028,-0.69142 -6.30748,-6.30748 -6.30748,-6.30748 -5.83909,-6.63757 -12.07074,-6.98551 -12.07074,-6.98551 -8.01147,-1.36498 -16.10324,1.58802 -16.10324,1.58802 0.32117,-0.16522 5.55361,0.20092 5.56253,0.20092 12.44545,1.04381 13.80597,14.22081 13.80597,14.22081 0.53529,3.48829 2.74331,9.78685 2.74331,9.78685 3.1627,8.85455 11.33922,10.37566 11.33922,10.37566 l 0.16487,-0.13811 c 4.97817,-6.3387 10.88864,-11.89677 17.51729,-16.4601" id="path222" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/><path d="m 267.11715,800.88925 c -1.18209,-0.27228 -8.20774,-3.51505 -8.20774,-3.51505 -7.87766,-4.02804 -13.78813,-2.04748 -13.78813,-2.04748 -7.94902,1.69062 -14.39032,7.4405 -14.39032,7.4405 0.24088,-0.28084 5.25028,-1.8735 5.25028,-1.8735 11.95477,-3.6355 18.08827,8.11407 18.08827,8.11407 1.77983,3.03776 6.16473,8.07838 6.16473,8.06946 6.20488,7.06134 14.3814,5.45994 14.3814,5.45994 l 0.2052,-0.40593 c 2.2259,-7.72153 5.61606,-14.93899 9.94297,-21.50073 -8.8724,3.73363 -17.64666,0.25872 -17.64666,0.25872" id="path224" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"/></g>
                        </g>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!--AIX -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="AIX">
                <a href="https://ibm.com/ibm_aix/os" target="_blank">
                    <svg height="109.77" viewBox="0,0,109.843,109.772" width="109.84">
                     <metadata/>
                     <path d="m40.5292 108.399c-18.854-5.17675-34.0831-20.547-39.1228-39.4855-1.87527-7.04707-1.87527-20.9378 0-27.9849 5.06824-19.0459 20.4764-34.454 39.5223-39.5223 7.03281-1.87148 20.9335-1.87643 27.9471-.01 19.3224 5.14212 34.4279 20.2476 39.57 39.57 1.86646 7.01357 1.86151 20.9143-.01 27.9471-5.06823 19.0459-20.4763 34.454-39.5222 39.5223-6.75167 1.79666-21.7779 1.77723-28.3844-.0367zm27.8504-3.00917c8.65777-2.25506 16.6893-6.93652 23.3816-13.6288 20.4374-20.4374 20.4374-53.2426 0-73.68-20.4374-20.4374-53.2426-20.4374-73.68 0-16.3303 16.3303-19.9762 41.3954-9.01308 61.9643 6.12267 11.4873 19.2504 21.8757 31.9654 25.2952 7.1516 1.92331 20.0621 1.94661 27.3461.0494zm-26.3538-3.98872c-16.9159-4.74525-30.6421-19.3137-34.1642-36.2606-1.60086-7.70283-.67195-20.3383 2.01759-27.4442 4.59943-12.152 15.4439-23.0099 27.9228-27.9572 8.13079-3.2235 26.1076-3.2235 34.2384 0 12.4138 4.92152 23.1369 15.6194 28.0232 27.9572 3.26361 8.24053 3.28422 26.1596.0395 34.344-4.88678 12.3262-15.8984 23.3367-27.9389 27.9361-7.53241 2.87735-22.4468 3.58241-30.1384 1.42476z" fill="#7bba00"/>
                     <path d="m19.198 65.0045c3.80204-10.0045 8.18042-21.797 11.802-30.0045 1.29472 0 1.59825 0 3.05029-.04444 4.80816 10.98 6.94971 17.0444 11.5716 30.0444h-4.62188c-1.2167-2.49202-2.34835-5.48819-3.43777-8h-10.7227c-1.38395 3-2.37861 5.93554-3.09558 8-1.74398 0-2.33425 0-4.54602.00446zm17.4914-12.0839c-2.21984-6.20158-2.68938-7.48741-4.18047-10.9206-.50892 1.19868-2.19159 5.29613-4.46852 11.0215 3.57814-.02145 5.95961-.02145 8.64899-.10085z" fill="#fff" stroke-width=".178"/>
                     <path d="m49 35c1.5502-.0324 3.46085 0 5 0v30h-5c.03048-10.416-.02609-21.0859 0-30z" fill="#fff" stroke-width=".173"/>
                     <path d="m79.7984 65.1035c-3.49246-5.08856-4.6123-7.09583-8.08424-12.1035-2.71412 4.6967-5.48702 8.94743-7.2828 12.1424-2.10957.03494-4.38451.04436-6.49522-.0044 3.48391-4.81902 7.06389-9.7247 10.7483-14.6368-3.53826-4.74421-7.12171-9.98491-10.2272-15.5001.23102-.03477 3.18053-.0011 4.54274-.0011 2.59072 4 4.40346 6.62448 8.36621 13 4.4755-5.65861 6.34007-8.18353 10.4966-13.005 1.50452.06925 1.83443.06386 4.05059.06386-3.82152 5.07452-7.30568 9.98714-11.5778 15.3373 2.66437 3.60384 6.19108 8.76488 10.5144 14.7032-1.84333-.05195-3.58964.03937-5.05167.0041z" fill="#fff" stroke-width=".171"/>
                     <path d="m51.2558 106.658c-8.13652-.4941-12.6309-1.6436-18.9976-4.85887-10.0969-5.09914-18.6789-13.3134-23.4277-22.424-3.18347-6.10748-5.15249-12.9408-5.77003-20.0244-.26967-3.09329-.10558-8.82014.33607-11.7291 1.4236-9.37665 5.08795-17.8793 10.8034-25.068 1.8545-2.3325 6.10623-6.58708 8.38834-8.39396 11.6537-9.22692 26.3461-13.0205 40.9902-10.5838 18.627 3.09948 34.4367 16.5256 40.5857 34.4667 2.11361 6.16695 2.92148 11.5361 2.75138 18.2859-.20419 8.10294-2.02082 15.2191-5.71977 22.4058-2.44581 4.75199-5.47292 8.8386-9.61613 12.9818-4.3665 4.3665-8.498 7.37026-13.7102 9.96786-5.55649 2.76918-10.2535 4.13621-16.2526 4.73026-1.90847.18897-8.65062.34754-10.361.24367zm9.25735-4.26695c4.8883-.46749 9.02846-1.32276 12.0572-2.49079 3.45238-1.33138 7.94755-3.94337 11.3749-6.60958 8.80842-6.85225 15.7928-17.1401 17.5226-25.8104.81191-4.06963.96154-6.01388.96154-12.4939 0-6.61649-.16256-8.65086-1.02267-12.7986-.58489-2.82056-1.28773-4.78984-2.82323-7.91042-4.39574-8.93342-11.9308-16.8455-20.8549-21.8983-3.88695-2.20081-7.41758-3.51177-11.2405-4.17371-4.07648-.70585-5.46142-.79859-11.8093-.79086-6.57864.00801-8.05895.12906-12.5113 1.02307-2.74165.55052-4.55456 1.20132-7.85548 2.81996-4.94597 2.42532-9.26807 5.56916-13.5208 9.83486-6.08499 6.10357-10.2688 13.0775-12.0643 20.1099-.43755 1.71371-1.12275 5.73344-1.40149 8.22184-.34107 3.04479-.28983 11.0747.08628 13.5208 1.15708 7.52527 4.26665 14.6248 9.3328 21.3081 1.67004 2.2031 6.6358 7.16887 8.83891 8.8389 7.07806 5.36546 14.7348 8.63631 21.9071 9.35843 2.59609.26138 10.0234.2276 13.0226-.0592z" fill="#fff" stroke-width=".171"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!--Open VMS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Virtual Memory System">
                <a href="https://en.wikipedia.org/wiki/openvms" target="_blank">
                    <svg 
                        width="100%" 
                        height="100%" 
                        viewBox="0 0 683 683" 
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path 
                            d="M251.204,410.495c-16.374,-16.723 -23.046,-39.048 -7.565,-59.205c-0,0 -17.026,9.524 -16.323,39.643l-4.677,-2.107c-1.172,8.826 0.972,25.172 6.45,31.23c-27.411,-8.035 -33.818,-19.742 -40.797,-32.278l-0.35,7.845c-4.704,-4.182 -8.892,-16.214 -8.892,-16.214c-6.299,49.138 36.075,62.61 77.371,67.117c45.106,4.919 74.627,2.871 98.409,-9.021c-0,-0 -32.39,28.299 -98.82,17.225c-66.388,-11.065 -72.785,-20.18 -100.523,-14.722c-38.633,11.628 -114.35,54.905 -145.847,73.741c-9.853,-2.96 141.368,-97.257 148.718,-104.608c6.115,-6.11 8.953,-7.822 9.703,-12.154l0,-0.005c0.162,-0.926 0.228,-1.973 0.208,-3.206c4.342,-61.763 32.608,-120.209 92.613,-145.21c2.996,-27.786 15.08,-65.192 49.879,-79.648c-6.178,9.026 -12.13,20.621 -15.177,34.441c-5.845,26.512 -5.021,51.816 -4.355,61.809l-17.681,-9.334c10.492,8.017 19.607,14.997 30.634,21.976l1.885,1.187c17.522,11.033 87.304,39.914 87.764,40.285c-0,0 8.719,-8.547 20.925,-6.625c12.204,1.917 10.459,4.099 7.147,8.022c-1.811,2.14 -2.006,4.177 -1.816,5.583l-20.933,-4.601c27.56,8.957 85.131,27.875 108.027,24.771c0,-0 -12.214,-2.623 -20.989,-6.927c57.051,-55.506 86.206,-68.436 153.455,-107.042c18.829,-10.813 40.797,-10.813 31.733,1.74c-9.069,12.559 -92.403,105.307 -97.977,138.082c-0.893,5.257 23.842,134.959 22.664,135.809c-26.257,18.975 -109.446,-118.756 -117.683,-144.348c-22.659,0.893 -46.115,2.718 -68.723,1.364c-4.895,-19.841 -29.523,-35.674 -29.523,-35.674c15.336,12.752 37.563,44.099 14.405,62c-3.839,2.969 -14.471,4.184 -23.363,-0c-6.676,-3.141 -14.921,-4.708 -23.706,-4.188c0.013,-0.154 0.023,-0.317 0.023,-0.479c0,-1.448 -0.623,-2.625 -1.392,-2.625c-0.766,0 -1.39,1.177 -1.39,2.625c-0,0.241 0.018,0.479 0.051,0.702c-2.042,0.219 -4.109,0.55 -6.189,1.001c-12.028,2.615 -8.021,2.969 -41.146,-5.574c-28.69,-7.403 -39.853,5.337 -42.328,8.887c-11.139,-17.296 -1.168,-35.158 -1.168,-35.158c-12.284,9.45 -11.278,41.821 -2.731,53.868m122.14,11.785c14.21,10.898 129.069,99.611 107.986,90.184c-44.59,-19.937 -78.831,-55.78 -116.739,-80.282c3.459,-1.675 8.753,-9.902 8.753,-9.902m-110.727,-17.015c0,-0 5.574,-16.802 24.066,-14.103c18.486,2.698 44.035,12.465 64.187,12.465c20.157,-0 28.882,-3.117 28.882,-3.117c-3.332,9.054 -9.335,11.902 -17.872,14.55l-3.011,-2.136c-0.87,1.568 -4.095,3.573 -4.095,3.573l-3.141,-3.23c-2.251,4.012 -9.162,3.928 -9.162,3.928l-2.354,-4.101c-1.484,3.403 -4.443,4.19 -4.443,4.19c-2.266,-2.881 -3.84,-7.846 -3.84,-7.846c-1.887,3.885 -7.933,7.146 -7.933,7.146c-3.312,-2.531 -6.188,-9.673 -6.188,-9.673c-2.088,2.267 -7.236,7.32 -7.236,7.32c-1.661,-2.179 -4.01,-9.585 -4.01,-9.585c-1.567,2.443 -9.939,5.225 -9.939,5.225c-0.953,-1.303 -2.963,-7.928 -2.963,-7.928l-2.528,4.271c-0.088,-2.787 -2.004,-6.803 -2.004,-6.803c-2.006,1.048 -5.231,3.838 -5.231,3.838c-0.343,-2.181 -2.874,-4.093 -2.874,-4.093l-3.751,2.437c-0.781,-2.437 -3.434,-4.649 -3.226,-4.01l-0.725,-0.456c-4.081,1.455 -7.677,4.034 -10.609,8.138m23.921,-56.018c0,-0 3.35,10.461 9.939,14.648c0,0 20.226,-3.485 28.243,0c-12.595,-13.68 -19.478,-16.964 -38.182,-14.648" 
                            style="fill:#bbbbbb;"/>
                    </svg>
                </a>
            </Tooltip>
        </div>
         <!--SCCM -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Microsoft Endpoint Manager">
                <a href="https://docs.microsoft.com/en-us/mem/configmgr" target="_blank">
                  <svg 
                     viewBox="0 0 60 60">
                      <path 
                          d="M36.754 29.166c-.237.073-1.579.482-1.925.586 0 0 .499-.084.53.306.111 1.406.22 2.813.326 4.219.002.027-.043.058-.119.156-1.715-.933-3.363-1.986-5.061-3.197.15-.075.251-.131.333-.173-.77.267-1.596.56-2.472.877l-.002.001c.271-.069.306.047.319.482.006.232.001.465.001.698-.043 1.716-.384 3.379-.905 5.008-.128.399-.215.432-.503.173-1.297-1.164-2.39-2.485-3.064-4.113-.14-.338-.181-.47-.048-.579l-.985.404c.094.107.226.199.275.324a10.477 10.477 0 0 0 1.949 3.15c.401.447.835.865 1.269 1.28.136.13.324.206.447.386-2.625 1.175-5.251 2.047-8.027 2.908.115-.242.153-.346.21-.439 1.381-2.255 2.52-4.628 3.471-7.094.028-.072.13-.271.178-.325.096-.11.118-.091.227-.189-.549.223-1.059.463-1.616.697l.027-.008c-.065.844-3.23 6.553-4.071 7.346-.435-.594-.616-1.279-.771-1.967-.198-.879-.173-1.764-.006-2.649.068-.364.282-.602.382-.672-.605.282-.972.465-1.557.773.017-.078-.119.926-.15 1.288-.108 1.275.206 2.457.802 3.576.257.483.255.5-.286.659-2.432.714-4.866 1.42-7.301 2.123-.142.041-.295.04-.56.073.095-.381.141-.699.253-.992.804-2.106 2.252-3.694 4.096-4.923a22.39 22.39 0 0 1 1.804-1.091c-.855.417-1.7.871-2.512 1.31-.393.328-.79.654-1.188.977-1.28 1.036-2.364 2.238-3.166 3.683-.39.703-.657 1.448-.675 2.261-.031 1.384.583 2.506 1.472 3.503.952 1.068 2.096 1.899 3.321 2.622 2.193 1.295 4.586 2.096 7.041 2.668 2.108.491 4.252.85 6.397 1.154 1.762.25 3.548.322 5.321.494.536.052.858-.125 1.086-.626.729-1.605 1.538-3.175 2.236-4.793 1.13-2.619 2.068-5.307 2.563-8.128.351-2.005.562-4.025.687-6.058a34.56 34.56 0 0 0-.354-7.358c-.084-.568-.105-.66.301-.791zm-7.924 8.288c.426-1.812.726-3.639.714-5.509-.003-.505.099-.554.534-.31 1.787 1.005 3.575 2.008 5.362 3.014.048.027.087.072.218.184-2.173 1.586-4.53 2.736-6.952 3.768l-.135-.098c.087-.349.177-.698.259-1.049zm-.875 2.939c.172-.502.188-.507.639-.252a23.284 23.284 0 0 0 5.979 2.361c.145.035.282.106.434.165-.558.616-8.71 4.002-9.871 4.094.078-.177.134-.332.211-.476 1.018-1.899 1.909-3.853 2.608-5.892zm-1.144-.044l.11.102c-.05.158-.088.321-.152.473-.897 2.145-1.974 4.2-3.134 6.213-.15.26-.274.437-.625.228-1.66-.99-3.151-2.178-4.411-3.647-.086-.1-.147-.22-.285-.431 2.93-.807 5.773-1.703 8.497-2.938zM11.212 50.746c-1.259-1.09-2.37-2.29-2.933-3.901-.076-.217-.113-.449-.159-.677-.064-.319.042-.484.39-.564 2.545-.581 5.084-1.185 7.626-1.779.051-.012.108.003.264.011-.098.186-.147.309-.221.415-1.487 2.128-2.978 4.252-4.463 6.382-.144.21-.273.314-.504.113zm.73.531c.045-.169.045-.373.143-.502a243.85 243.85 0 0 1 3.073-3.947c.7-.877 1.438-1.723 2.238-2.678 1.32 1.571 2.833 2.784 4.681 3.798-.332.147-.498.234-.673.296-2.904 1.025-5.809 2.046-8.713 3.069-.055.019-.111.067-.161.061-.198-.024-.393-.064-.588-.097zm6.769 3.231c-2.023-.673-4.041-1.358-5.831-2.56-.079-.053-.163-.101-.245-.151l.054-.177 9.871-2.75c-.163.296-.245.464-.344.622-.995 1.594-1.996 3.184-2.987 4.781-.13.207-.266.319-.518.235zm.941.242l-.049-.135.302-.408c1.214-1.633 2.433-3.261 3.637-4.901.358-.488.338-.504.873-.299a29.496 29.496 0 0 0 7.259 1.76c.25.028.497.076.745.12.033.006.06.043.089.065-.411.388-8.933 3.047-12.193 3.793-.211.047-.442.005-.663.005zm12.927-3.066c-.51 1.421-1.015 2.844-1.546 4.257-.267.713-.291.718-1.046.598-2.694-.426-5.387-.86-8.079-1.296-.297-.048-.588-.129-.882-.195l-.021-.143c.22-.067.437-.148.661-.199 2.567-.581 5.147-1.118 7.608-2.081.919-.36 1.822-.761 2.733-1.143l.649-.27c-.035.222-.034.355-.077.472zm2.117-6.99a483.751 483.751 0 0 1-1.592 5.4c-.196.654-.21.643-.889.519a30.922 30.922 0 0 1-6.982-2.122c-.206-.091-.407-.197-.692-.335l10.48-4.947c-.111.515-.188 1.008-.325 1.485zm1.036-7.852a190.496 190.496 0 0 1-.296 3.698c-.037.423-.09.846-.163 1.264-.117.676-.127.675-.769.471a21.483 21.483 0 0 1-4.576-2.1c-.343-.207-.678-.428-1.055-.667l6.864-4.142c.001.495.028.988-.005 1.476zm-12.43-25.981a.772.772 0 0 1-.388-.209c-1.061-1.007-2.112-2.024-3.165-3.04-.04-.039-.058-.1-.135-.239 2.563.733 5.093 1.176 7.657 1.441l.012.131c-.12.069-.24.139-.361.206-.955.53-1.912 1.056-2.863 1.593a1.077 1.077 0 0 1-.757.117zm1.716.657s.253-.241.326-.293c.868-.609 1.739-1.214 2.606-1.825.179-.126.33-.303.494.02.446.877.904 1.749 1.351 2.625.02.039-.006.104-.021.228l1.565.241a.742.742 0 0 1-.511-.385c-1.447-2.593-2.82-5.219-3.72-8.063-.115-.363-.166-.747-.247-1.121h-.116c-.144.083-.28.188-.433.246-1.934.743-3.884 1.446-5.802 2.229-1.598.652-3.162 1.392-4.541 2.454-.492.379-.766.665-.833.954.253.705 1.735 1.037 1.735 1.037l.022.005c-.501-.143-.553-.31-.321-.776.383-.771 1.05-1.274 1.738-1.744.072-.049.286-.016.341.053.882 1.096 1.748 2.205 2.617 3.312.007.009-.009.036-.036.131-.163-.027-.33-.05-.497-.075h.002c.487.092 1.974.383 2.607.499l1.674.248zm-4.476-4.943c1.67-.934 3.429-1.672 5.214-2.353.35-.134.364-.127.415.231.162 1.142.406 2.264.82 3.344.026.068.018.149.029.249l-6.824-1.14-.028-.093c.125-.079.245-.166.374-.238z" 
                          fill="#5fc2ff"/>
                      <path 
                          d="M29.775 12.271l-.002.014-4.755-.767-1.643-.257h-.003l-.008-.001-2.155-.416c-.351-.057-.716-.097-1.071-.18-.994-.231-1.988-.462-2.975-.722l-.033-.007s-1.852-.433-1.988-1.136c-.101.359.12.716.653 1.254 1.161 1.171 2.379 2.285 3.531 3.464 3.74 3.83 4.573 8.301 2.821 13.292-.767 2.184-2.05 4.082-3.496 5.871-2.068 2.559-4.451 4.793-6.96 6.895.603-.287 2.654-1.393 5.475-2.804.717-.359 1.455-.673 2.179-1.016a71.556 71.556 0 0 1 1.653-.781c.984-.449 2.149-.885 3.178-1.33.037-.017.079-.035.126-.054l.001-.001c.62-.271 1.312-.533 1.997-.789.551-.216 1.102-.431 1.655-.643l.086-.032h.001c.852-.356 1.823-.658 2.642-.931.055-.028.103-.05.153-.066.431-.14.862-.279 1.294-.417.908-.303 1.604-.533 2.297-.748l.217-.071c.053-.018.101-.03.147-.04.541-.165 1.089-.328 1.64-.491.087-.042.21-.079.384-.129 2.068-.585 4.131-1.191 6.209-1.736 3.915-1.026 7.847-1.977 11.85-2.607.332-.052.66-.125 1.036-.197-.107-.192-.166-.312-.238-.424a19.413 19.413 0 0 0-6.565-6.396c-2.687-1.599-5.592-2.655-8.59-3.488-2.971-.826-6-1.371-9.043-1.84a1.457 1.457 0 0 1-.163-.035 23.796 23.796 0 0 0-1.537-.238zM24.3 19.01c-.044-.233.042-.356.287-.304 1.385.289 2.731.698 4.119 1.268l-4.171 3.786c-.029-.12-.059-.182-.057-.244.053-1.506.103-3.012-.178-4.506zm4.826 1.846c-.366 1.979-1.156 3.762-2.216 5.426l-2.269-1.696c1.396-1.349 2.871-2.605 4.485-3.73zm-.568 4.015c.645-1.249 1.15-2.551 1.435-3.93.052-.252.125-.428.418-.282 1.059.53 2.116 1.064 3.171 1.6.043.022.068.076.134.154l-5.348 2.933c.091-.229.13-.357.19-.475zm.979-6.311c.001.22-.079.334-.333.259-1.459-.431-2.922-.854-4.382-1.283-.047-.014-.084-.062-.194-.147 1.223-1.434 2.736-2.497 4.273-3.674.381.863.531 1.674.601 2.489.067.78.03 1.57.035 2.356zm-6.539-2.16c-1.107-1.854-2.564-3.384-4.255-4.705l.07-.099c.114.022.231.037.343.068.779.213 1.556.436 2.338.64.224.058.399.131.473.375.356 1.168.721 2.333 1.079 3.501.018.057.002.126-.048.22zm.965.541l-1.611-4.402 5.866 1.123.036.114c-1.53.893-3.037 1.818-4.291 3.165zm.126 9.049c.6.201 1.131.597 1.722 1.088l-3.496 2.658 1.774-3.746zm-4.947 7.555a389.62 389.62 0 0 1 1.965-2.295c.093-.108.19-.221.306-.301 1.213-.839 2.43-1.673 3.648-2.505.056-.038.128-.054.192-.08l.086.106a22.539 22.539 0 0 1-6.351 5.345c.051-.091.088-.192.154-.27zm8.278-2.662a79.38 79.38 0 0 0-3.054 1.209c-1.172.499-2.327 1.038-3.49 1.559-.144.064-.291.122-.436.182l-.07-.091c.089-.081.172-.171.268-.241 2.103-1.527 4.028-3.245 5.678-5.262.263-.321.319-.318.555.017.428.61.71 1.282.872 2.011.072.324-.002.495-.323.616zm.841-.314c-.044-.272-.081-.403-.083-.533a5.964 5.964 0 0 0-.661-2.637c-.101-.2-.219-.381.068-.537 1.938-1.054 3.873-2.112 5.81-3.167.026-.014.068.001.242.009-1.658 2.407-3.418 4.627-5.376 6.865zm.886-.444c.129-.145.19-.226.263-.293 2.076-1.896 3.981-3.942 5.533-6.299.132-.2.246-.332.511-.158 1.446.947 2.818 1.986 4.057 3.194.048.047.077.115.129.196l-10.493 3.36zm18.214-11.113a24.364 24.364 0 0 1 6.324 5.078c.044.05.067.118.15.271-4.205.309-8.282 1.041-12.319 2.018l-.059-.168c.244-.236.484-.475.732-.706 1.915-1.787 3.466-3.84 4.558-6.231.214-.47.233-.477.614-.262zm-.962-.224c-.083.161-.147.336-.253.48-.92 1.241-1.835 2.487-2.777 3.712-.811 1.054-1.654 2.084-2.484 3.123-.131.164-.268.321-.454.543-1.113-1.683-2.411-3.103-4.083-4.34a67.994 67.994 0 0 1 9.955-3.605l.096.087zm-7.982-3.182c2.384.622 4.716 1.399 6.973 2.392.098.043.194.095.283.153.04.026.062.08.151.2a57.489 57.489 0 0 0-9.396 2.912l-.084-.093c.062-.157.117-.316.186-.469.68-1.515 1.199-3.076 1.362-4.74.041-.412.113-.463.525-.355zm-.969.349c-.304 1.631-1.028 3.097-1.81 4.538-.517.952-.515.929-1.47.431-.812-.423-1.651-.796-2.479-1.188-.192-.091-.39-.172-.585-.258l-.03-.147a52.212 52.212 0 0 1 6.404-3.933c-.012.264-.003.414-.03.557zm-7.133 2.75c-.038-1.65-.26-3.252-.97-4.878 2.522.402 4.896.795 7.312 1.372l-6.342 3.506z" 
                          fill="#073682"/>
                      </svg>
                </a>
            </Tooltip>
        </div>
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="VMware vSphere">
                <a href="https://vmware.com" target="_blank">
                    <svg 
                        width="100%" 
                        height="100%" 
                        viewBox="0 0 3334 3334" 
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g>
                            <path 
                                d="M1201.35,1843.47c-9.096,23.916 -18.694,38.632 -50.167,38.632c-31.525,0 -41.088,-14.734 -50.115,-38.632l-93.279,-240.01c-4.461,-11.621 -5.776,-18.642 -5.776,-27.081c0,-29.779 23.139,-45.135 48.248,-45.135c25.715,0 36.73,18.607 41.123,32.788l59.142,183.236l1.297,0l59.107,-183.236c4.548,-14.181 15.443,-32.788 41.141,-32.788l91.013,0c23.535,0 39.013,12.849 42.212,35.416c22.706,-24.556 52.45,-38.667 86.88,-38.667c38.788,-0 71.368,16.1 95.769,46.985c25.611,-29.675 66.491,-46.985 98.224,-46.985c75.467,-0 126.741,43.82 126.741,124.804l-0,177.841c-0,30.834 -19.282,51.481 -46.138,51.481c-26.994,0 -46.138,-20.63 -46.138,-51.481l0,-161.62c0,-37.353 -20.803,-63.794 -54.542,-63.794c-34.257,-0 -55.026,26.458 -55.026,63.794l-0,161.62c-0,30.834 -19.369,51.481 -46.138,51.481c-26.995,0 -46.086,-20.63 -46.086,-51.481l-0,-161.62c-0,-37.353 -20.873,-63.794 -54.594,-63.794c-38.149,-0 -55.096,26.458 -55.096,63.794l0,161.62c0,30.834 -19.212,51.481 -46.068,51.481c-26.977,0 -46.155,-20.63 -46.155,-51.481l-0,-231.121l-95.579,243.953Zm623.241,-265.189c-2.525,-8.439 -4.566,-16.031 -4.566,-21.876c0,-11.033 7.799,-25.178 27.116,-25.178c12.191,-0 23.743,4.427 31.542,29.069l72.683,234.424l1.279,0l71.403,-226.054c7.799,-24.556 12.832,-37.439 33.566,-37.439c20.509,-0 25.697,12.883 33.375,37.439l71.473,226.054l1.314,0l72.613,-234.424c7.799,-24.642 19.386,-29.069 31.474,-29.069c19.385,-0 27.011,14.128 27.011,25.161c0,5.776 -1.919,13.437 -4.496,21.858l-93.866,274.181c-7.661,21.893 -16.688,29.658 -32.771,29.658c-15.529,-0 -25.092,-7.765 -32.061,-29.658l-73.392,-231.657l-1.279,-0l-73.357,231.657c-7.056,21.893 -16.619,29.658 -32.062,29.658c-16.151,-0 -25.092,-7.765 -32.891,-29.658l-94.108,-274.146Zm550.678,128.383c0,-58.398 24.487,-126.861 94.057,-126.861c69.57,-0 94.092,68.446 94.092,126.861c-0,58.191 -24.522,126.793 -94.092,126.793c-69.57,-0 -94.057,-68.584 -94.057,-126.793Zm241.515,-148.097c-0,-19.714 -15.529,-27.34 -26.441,-27.34c-11.621,-0 -26.251,7.626 -26.251,27.34l-0,18.002l-1.384,0c-26.337,-28.845 -54.04,-45.342 -93.382,-45.342c-96.668,-0 -150.743,84.165 -150.743,175.437c-0,91.256 54.075,175.438 150.743,175.438c36.782,0 68.896,-16.618 93.382,-51.239l1.384,-0l-0,23.743c-0,19.853 14.63,27.496 26.251,27.496c10.912,0 26.441,-7.626 26.441,-27.496l-0,-296.039Zm74.515,2.957c0,-18.659 10.878,-30.211 28.205,-30.211c17.362,0 28.447,11.535 28.447,30.211l0,29.122l1.315,-0c12.796,-26.528 44.408,-59.316 77.213,-59.316c19.818,0 31.508,12.849 31.508,28.966c-0,16.117 -11.69,26.389 -35.468,30.938c-33.479,5.775 -74.568,30.937 -74.568,97.325l0,163.228c0,18.677 -11.085,30.298 -28.447,30.298c-17.327,-0 -28.205,-11.621 -28.205,-30.298l0,-290.263Zm238.8,124.683c1.885,-52.554 26.89,-108.964 97.135,-106.387c62.514,0 90.823,57.05 90.823,106.387l-187.958,-0Zm213.084,42.523c24.383,0 31.543,-10.375 31.543,-30.228c-0,-83.11 -54.076,-167.258 -147.492,-167.258c-95.959,0 -153.908,82.228 -153.908,175.576c-0,91.152 47.728,175.299 157.159,175.299c66.941,0 137.099,-42.16 137.099,-69.881c-0,-16.238 -10.169,-25.23 -20.562,-25.23c-21.218,-0 -40.569,46.483 -115.984,46.483c-63.604,0 -100.922,-45.861 -100.922,-104.743l213.067,-0l0,-0.018Z" 
                                style="fill:#bababa;"/>
                            <path 
                                d="M225.207,1287.21c-30.102,0.047 -54.858,24.803 -54.905,54.905l-0,406.317c-0,30.129 24.776,54.929 54.905,54.957l406.386,0c30.136,-0.019 54.923,-24.821 54.923,-54.957l-0,-406.317c-0.067,-30.101 -24.821,-54.848 -54.923,-54.905l-406.386,-0Zm-24.106,461.205l-0,-406.3c0.018,-13.173 10.863,-24.003 24.037,-24.003c0.023,0 0.046,0 0.069,0.001l406.386,-0c13.264,-0 24.089,10.739 24.089,24.002l0,406.317c0,13.368 -10.825,24.176 -24.089,24.176l-406.386,-0c-13.316,-0 -24.106,-10.808 -24.106,-24.193Z" 
                                style="fill:#698dba;"/>
                            <path 
                                d="M346.518,1408.67c-30.036,0.047 -54.737,24.749 -54.785,54.784l0,406.438c0.019,30.059 24.726,54.797 54.785,54.854l406.385,-0c30.095,-0.01 54.86,-24.76 54.889,-54.854l-0,-406.438c-0.067,-30.067 -24.821,-54.774 -54.889,-54.784l-406.385,0Zm-24.072,461.24l-0,-406.456c0.019,-13.18 10.874,-24.012 24.054,-24.002l406.386,-0c13.333,-0 24.055,10.721 24.055,24.002l-0,406.438c-0,13.368 -10.722,24.055 -24.055,24.055l-406.386,-0c-0.006,-0 -0.011,-0 -0.017,-0c-13.187,-0 -24.037,-10.851 -24.037,-24.037Z" 
                                style="fill:#698dba;"/>
                            <path 
                                d="M103.879,1530.04c-30.08,0.037 -54.823,24.773 -54.871,54.853l0,406.386c0,0.011 0,0.023 0,0.035c0,30.072 24.747,54.818 54.819,54.818c0.018,0 0.035,0 0.052,0l406.352,0c0.005,0 0.011,0 0.017,0c30.095,0 54.861,-24.758 54.871,-54.853l-0,-406.386c-0.076,-30.076 -24.812,-54.797 -54.888,-54.853l-406.352,-0Zm-24.106,461.222l-0,-406.386c-0,-13.212 10.773,-24.038 24.123,-24.038l406.352,0c13.298,0 24.106,10.826 24.106,24.038l0,406.386c0,13.281 -10.808,24.123 -24.106,24.123l-406.369,0c-13.227,-0.009 -24.106,-10.896 -24.106,-24.123Z" 
                                style="fill:#698dba;"/>
                            <path 
                                d="M3218.49,1537.09l0,7.488l-17.829,-0l0,51.153l-8.957,-0l-0,-51.153l-17.726,-0l0,-7.488l44.512,0Zm56.981,58.641l-2.404,-35.174c-0.363,-4.739 -0.104,-10.272 -0.277,-16.1l-0.363,-0c-1.452,5.534 -3.216,11.794 -5.067,16.912l-12.053,33.514l-6.917,0l-11.794,-34.326c-1.522,-4.808 -2.974,-10.653 -4.427,-16.1l-0.363,-0c-0.138,5.586 0,10.635 -0.363,15.961l-2.093,35.313l-8.612,-0l4.462,-58.641l11.898,0l11.309,31.681c1.453,4.479 2.698,9.269 4.151,14.82l0.363,-0c1.245,-5.551 2.559,-10.583 4.219,-14.907l11.275,-31.594l11.483,0l4.427,58.641l-8.854,-0Z" 
                                style="fill:#5c4835;"/>
                        </g>
                        </svg>
                </a>
            </Tooltip>
        </div>
         <!--PowerShell -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="PowerShell">
                <a href="https://microsoft.com/powershell" target="_blank">
                    <svg 
                        viewBox="0 0 24 24">
                        <path 
                            fill="#146FBF" 
                            d="M0.819,21h18.23c0.568,0,1.135-0.462,1.265-1.033l3.659-15.935C24.104,3.462,23.749,3,23.181,3H4.951C4.383,3,3.816,3.462,3.686,4.032L0.027,19.968C-0.104,20.538,0.251,21,0.819,21L0.819,21z"/><path fill="#FFF" d="M4.81,17.012l7.42-5.358v-0.109L7.568,6.598C7.188,6.195,7.227,5.543,7.656,5.14c0.428-0.401,1.086-0.399,1.466,0.004l5.594,5.935c0.317,0.337,0.341,0.846,0.09,1.239c-0.076,0.154-0.234,0.322-0.514,0.519L6.063,18.73c-0.449,0.326-1.094,0.205-1.44-0.27C4.277,17.985,4.36,17.337,4.81,17.012L4.81,17.012z"/><path fill="#DEDEDE" d="M14.966,11.601H12.23v0.053l-7.42,5.358c-0.45,0.325-0.533,0.974-0.187,1.448c0.215,0.295,0.545,0.453,0.871,0.453c0.2,0,0.399-0.059,0.569-0.183l8.229-5.893c0.28-0.196,0.438-0.364,0.514-0.519C14.946,12.099,15.001,11.843,14.966,11.601L14.966,11.601z"/><path fill="#1161A6" d="M12.01,18.546c-0.516,0-0.934-0.412-0.934-0.92c0.003-0.509,0.417-0.921,0.928-0.921h0.006h4.433h0.006c0.511,0,0.925,0.412,0.928,0.921c-0.003,0.508-0.417,0.92-0.928,0.92h-0.006H12.01L12.01,18.546z M22.235,11.601h-7.269c0.035,0.242-0.02,0.498-0.16,0.718c-0.076,0.154-0.234,0.322-0.514,0.519L6.063,18.73c-0.17,0.124-0.369,0.183-0.569,0.183c-0.327,0-0.656-0.158-0.871-0.453c-0.346-0.475-0.263-1.123,0.187-1.448l7.42-5.358v-0.053H1.948l-1.921,8.367C-0.104,20.538,0.251,21,0.819,21h18.23c0.568,0,1.135-0.462,1.265-1.033L22.235,11.601L22.235,11.601z"/><path fill="#FFF" d="M16.449,16.705c0.51,0,0.925,0.412,0.927,0.921c-0.003,0.508-0.417,0.92-0.927,0.92h-0.006H12.01c-0.516,0-0.934-0.412-0.934-0.92c0.003-0.509,0.417-0.921,0.927-0.921h0.006h4.433H16.449L16.449,16.705z"/><path fill="#DEDEDE" d="M17.377,17.625h-6.301v0.001c0,0.508,0.418,0.92,0.934,0.92h4.433h0.006C16.96,18.546,17.374,18.134,17.377,17.625L17.377,17.625L17.377,17.625z"/>
                        </svg>
                </a>
            </Tooltip>
        </div>
    </div>
    
    <!-- Past Companies -->
    <div class="row mt-4 mx-2">
        <h5>Past Companies</h5>
    </div>
    <div class="row m-2 align-items-start">
         <!-- Micron -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Micron Technology">
                <a href="https://micron.com" target="_blank">
                    <svg 
                        width="100%" 
                        height="100%" 
                        viewBox="0 0 512 512" 
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,22.2726,23.5193)">
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M621.035,418.861L621.018,536.608L728.502,536.608L728.502,321.632C697.361,353.747 661.447,386.454 621.035,418.861" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M728.502,321.632C846.865,199.52 895.892,86.013 857.729,31.38C817.891,-25.678 694.129,-2.56 533.703,82.206C527.383,85.253 521.291,88.752 515.475,92.677C507.728,98.059 512.243,101.966 517.966,99.892C524.814,97.473 531.52,94.669 538.052,91.494C658.306,34.462 752.103,24.232 788.766,64.036C844.641,124.668 730.218,323.365 532.078,470.337C505.628,489.947 464.807,518.672 438.224,534.625C436.424,535.742 434.65,536.841 432.917,537.941C425.886,542.548 419.63,546.83 414.706,550.687C409.908,554.411 410.832,560.342 419.48,556.618C424.753,554.369 431.151,550.962 437.966,546.788C439.507,545.847 441.023,544.989 442.639,543.997C472.513,525.861 516.866,495.237 547.166,474.077C572.379,456.473 597.012,438.052 621.026,418.844C661.447,386.454 697.361,353.731 728.502,321.632" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                            <g transform="matrix(0.537024,0,0,0.537024,0.00234435,47.2088)">
                                <path d="M200.88,689.961L308.364,689.961L308.364,578.578C338.413,560.749 367.881,541.956 396.72,522.229C403.293,517.714 409.116,513.215 413.34,509.358C420.296,502.993 415.256,499.728 409.891,502.552C404.368,505.467 397.836,509.4 390.763,513.898C224.731,620.099 112.64,652.506 71.253,596.315C35.298,547.53 94.229,453.208 200.888,346.691L200.888,593.924C231.146,583.652 266.91,567.265 308.347,544.222L308.322,314.834L331.965,365.144C357.882,420.693 404.909,453.908 464.707,453.908C524.481,453.908 571.508,420.693 597.425,365.144L621.068,314.834L621.043,373.358C659.506,336.053 692.346,298.814 717.247,262.792C720.354,258.343 720.079,254.594 718.388,250.479C701.316,214.796 665.098,192.006 625.542,192.055C585.004,192.055 549.798,215.565 532.92,249.571L487.934,345C483.285,354.289 474.721,359.446 464.699,359.446C454.702,359.446 446.088,354.289 441.44,345L396.47,249.588C387.875,232.312 374.635,217.767 358.24,207.592C391.138,181.483 423.112,158.166 454.594,139.055C460.807,135.23 466.803,131.064 472.555,126.575C477.42,122.868 476.521,116.937 467.848,120.577C462.575,122.785 455.752,126.142 448.921,130.299C416.756,149.785 383.874,169.72 352.442,191.205C348.626,193.805 344.861,196.412 341.095,199.02C329.22,194.407 316.588,192.048 303.848,192.064C303.812,192.064 303.776,192.064 303.74,192.064C247.317,192.064 200.888,238.492 200.888,294.915C200.888,294.96 200.888,295.004 200.888,295.049L200.888,309.219C49.043,444.619 -30.674,578.678 10.98,638.368C41.562,682.138 114.082,672.033 200.88,634.32L200.88,689.961" style="fill:rgb(0,137,209);fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </svg>

                </a>
            </Tooltip>
        </div>
         <!-- ch2m -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="ch2m">
                <a href="https://en.wikipedia.org/wiki/ch2m" target="_blank">
                    <svg 
                    width="100%" 
                    height="100%" 
                    viewBox="0 0 2500 2500" 
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-3.80663,-631.122)">
                            <path d="M289.291,1850.27L397.99,1850.27C397.264,1841.28 394.475,1830.31 389.612,1817.39C384.748,1804.47 375.916,1792.08 363.127,1780.28C350.326,1768.48 332.48,1758.38 309.588,1749.93C286.697,1741.49 256.685,1737.29 219.552,1737.29C195.766,1737.29 173.224,1740.18 151.967,1745.92C130.709,1751.67 112.137,1760.62 96.275,1772.69C80.413,1784.77 67.793,1800.23 58.429,1819.07C49.052,1837.89 44.37,1860.4 44.37,1886.5C44.37,1929.24 59.868,1962.68 90.879,1986.86C121.877,2011.03 165.857,2023.67 222.821,2024.79C247.697,2025.64 270.77,2023.27 292.04,2017.64C313.311,2012.01 331.961,2003.98 348.005,1993.6C364.048,1983.18 376.927,1971.03 386.668,1957.12C396.408,1943.22 401.985,1928.4 403.425,1912.64L289.317,1912.64C287.151,1921.63 283.83,1929.03 279.317,1934.78C274.816,1940.55 269.667,1945.12 263.909,1948.49C258.15,1951.86 252.016,1954.18 245.531,1955.45C239.046,1956.72 232.911,1957.35 227.152,1957.35C212.017,1957.35 199.579,1953.6 189.851,1946.18C180.242,1938.89 172.691,1929.23 167.945,1918.14C163.082,1906.89 160.734,1894.65 160.916,1881.46C161.097,1868.23 163.614,1856.03 168.477,1844.78C173.341,1833.54 180.293,1824.18 189.294,1816.74C198.295,1809.3 209.488,1805.57 222.821,1805.57C225.713,1805.57 229.85,1805.65 235.259,1805.78C240.667,1805.94 246.529,1807.27 252.82,1809.79C259.136,1812.32 265.53,1816.67 272.015,1822.86C278.487,1829.04 284.258,1838.19 289.291,1850.27ZM428.275,1746.56L428.275,2019.77L546.702,2019.77L546.702,1915.19L649.993,1915.19L649.993,2019.77L768.407,2019.77L768.407,1746.56L649.993,1746.56L649.993,1838.46L546.702,1838.46L546.702,1746.56L428.275,1746.56ZM795.449,1859.14L890.621,1859.14C890.621,1841.99 894.953,1829.9 903.604,1822.86C912.254,1815.85 921.813,1812.05 932.267,1811.49C942.72,1810.93 952.266,1812.9 960.917,1817.39C969.568,1821.9 973.887,1827.09 973.887,1832.99C974.613,1839.45 973.796,1845.35 971.448,1850.69C969.101,1856.04 964.419,1861.51 957.389,1867.14C950.36,1872.77 940.451,1879.15 927.649,1886.32C914.848,1893.5 898.532,1902.28 878.715,1912.66C844.461,1930.65 821.038,1948.99 808.418,1967.68C795.799,1986.37 791.467,2003.73 795.436,2019.77L1076.1,2019.77L1076.1,1954.84L924.148,1954.84C936.767,1948.94 951.644,1942.4 968.764,1935.23C985.884,1928.06 1002.38,1920.11 1018.23,1911.42C1034.09,1902.7 1047.97,1893.29 1059.86,1883.14C1071.76,1873.04 1078.61,1862.07 1080.41,1850.27C1082.21,1838.23 1081.47,1825.95 1078.24,1814.22C1075,1802.29 1068.06,1791.53 1057.42,1781.98C1046.79,1772.43 1032.19,1764.63 1013.63,1758.57C995.066,1752.54 971.539,1749.51 943.058,1749.51C914.576,1749.51 890.971,1752.19 872.23,1757.53C853.488,1762.88 838.612,1770.37 827.627,1780.07C816.89,1789.39 808.699,1801.3 803.827,1814.65C798.963,1828 796.162,1842.82 795.449,1859.14ZM1265.69,1746.56L1110.58,1746.56L1110.58,2019.77L1211.91,2019.77L1211.91,1892.7L1203.61,1830.31L1286.42,2019.77L1378.78,2019.77L1456.49,1833.28L1447.01,1892.7L1447.01,2019.77L1553.45,2019.77L1553.45,1746.56L1398.91,1746.56L1331.42,1912.66L1265.69,1746.56ZM1812.29,1862.83L1654.2,1862.83L1654.2,1752.19L1613.3,1752.19L1613.3,2019.69L1654.2,2019.69L1654.2,1894.88L1812.29,1894.88L1812.29,2019.69L1853.18,2019.69L1853.18,1752.19L1812.29,1752.19L1812.29,1862.83ZM1964.49,1752.19L1923.6,1752.19L1923.6,2019.69L1964.49,2019.69L1964.49,1752.19ZM2075.37,1752.19L2034.48,1752.19L2034.48,2019.69L2228.83,2019.69L2228.83,1987.64L2075.37,1987.64L2075.37,1752.19ZM2309.78,1752.19L2268.88,1752.19L2268.88,2019.69L2463.24,2019.69L2463.24,1987.64L2309.78,1987.64L2309.78,1752.19Z" style="fill:rgb(187,187,187);stroke:rgb(187,187,187);stroke-width:1px;"/>
                        </g>
                    </svg>

                </a>
            </Tooltip>
        </div>
         <!-- Jacobs -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Jacobs">
                <a href="https://jacobs.com" target="_blank">
                    <svg 
                        height="372" 
                        viewBox="0 -3.51782576 643.459 99.33082576" 
                        width="2500">
                        <g 
                            fill="#1c4f9c">
                            <path 
                                d="m56.032.758h35.014v50.37c0 10.574-1.142 18.626-3.426 24.143-2.29 5.528-6.885 10.202-13.796 14.034-6.91 3.835-15.757 5.755-26.547 5.755-11.4 0-20.237-1.271-26.508-3.803-6.266-2.534-11.106-6.248-14.522-11.133-2.748-3.92-4.593-8.592-5.524-14.01-.254-1.43-.563-4.001-.723-6.126l33.638-1.71c.053 4.116.488 7.168 1.302 9.164.82 1.991 2.198 3.606 4.149 4.835 1.323.807 3.216 1.201 5.67 1.201 3.885 0 6.735-1.176 8.55-3.563 1.815-2.381 2.723-6.391 2.723-12.038zm279.802 27.049c4.28-4.08 9.947-6.129 17.002-6.129 7.364 0 13.201 2.014 17.5 6.027 4.298 4.026 6.445 10.399 6.445 19.118 0 10.362-2.057 17.54-6.171 21.54-4.129 4.014-9.951 6.003-17.466 6.003-7.314 0-13.093-2.039-17.349-6.13-4.25-4.077-6.362-10.797-6.362-20.154 0-9.433 2.122-16.192 6.4-20.275zm-33.494 47.213c5.191 7.205 11.964 12.485 20.309 15.813 8.354 3.333 18.906 4.98 31.657 4.98 12.541 0 23.013-1.916 31.406-5.771 8.403-3.855 14.834-9.252 19.283-16.182 4.445-6.94 6.665-15.82 6.665-26.65 0-14.917-5.091-26.523-15.261-34.794-10.179-8.286-24.679-12.419-43.486-12.419-18.348 0-32.66 4.207-42.945 12.644-10.275 8.424-15.418 20.199-15.418 35.326 0 10.834 2.598 19.852 7.79 27.053m-133.854-73.497h-38.258l-42.398 92.765h35.652l25.416-68.717 12.443 33.354h-18.387l-7.544 20.038h33.194l5.651 15.325h36.57zm287.021 72.805h17.878c6.029 0 10.289-.872 12.761-2.63 2.476-1.752 3.714-4.106 3.714-7.062 0-2.742-1.22-4.949-3.674-6.613-2.448-1.672-6.748-2.504-12.883-2.504h-17.795zm0-36.455h15.25c5.463 0 9.267-.765 11.413-2.302 2.139-1.538 3.205-3.753 3.205-6.661 0-2.693-1.066-4.793-3.205-6.315-2.146-1.521-5.874-2.274-11.194-2.274h-15.469zm-35.235-36.273h65.464c10.911 0 19.283 2.207 25.128 6.628 5.837 4.421 8.765 9.887 8.765 16.41 0 5.468-2.083 10.161-6.255 14.075-2.769 2.607-6.839 4.67-12.188 6.182 8.133 1.606 14.116 4.352 17.944 8.254 3.834 3.899 5.745 8.794 5.745 14.693 0 4.806-1.367 9.131-4.085 12.967-2.734 3.836-6.463 6.87-11.199 9.105-2.936 1.387-7.357 2.397-13.274 3.031-7.876.844-13.102 1.268-15.676 1.268h-60.369zm106.81 61.981 33.195-1.704c.718 4.438 2.188 7.81 4.4 10.133 3.592 3.758 8.728 5.631 15.413 5.631 4.982 0 8.82-.96 11.524-2.878 2.7-1.924 4.05-4.153 4.05-6.686 0-2.397-1.289-4.553-3.865-6.453-2.579-1.901-8.54-3.693-17.882-5.387-15.292-2.816-26.203-6.57-32.72-11.252-6.57-4.67-9.857-10.634-9.857-17.884 0-4.76 1.684-9.259 5.036-13.484 3.369-4.246 8.423-7.574 15.169-9.99 6.753-2.431 16.006-3.63 27.756-3.63 14.429 0 25.415 2.195 32.99 6.592 7.561 4.411 12.071 11.408 13.511 21.013l-32.866 1.58c-.884-4.181-2.715-7.23-5.515-9.139-2.812-1.904-6.67-2.86-11.604-2.86-4.06 0-7.123.713-9.18 2.128-2.057 1.411-3.078 3.129-3.078 5.153 0 1.48.852 2.807 2.556 3.987 1.665 1.23 5.579 2.365 11.734 3.421 15.233 2.703 26.163 5.436 32.761 8.192 6.599 2.768 11.396 6.19 14.396 10.284 3.002 4.09 4.51 8.661 4.51 13.718 0 5.947-2.002 11.438-6.013 16.45-4.007 5.016-9.6 8.823-16.792 11.42-7.187 2.585-16.25 3.876-27.18 3.876-19.205 0-32.507-3.028-39.897-9.095-7.391-6.07-11.578-13.775-12.551-23.136"/><path d="m286.215 66.798c-4.67 3.69-12.669 7.516-23.57 7.568-7.31.045-13.092-2.039-17.344-6.13-4.25-4.077-6.372-10.797-6.372-20.154 0-9.433 2.137-16.192 6.412-20.275 3.731-3.567 10.488-6.31 16.7-6.358 9.359-.088 14.756 1.058 23.949 7.665 3.095-6.012 8.034-14.815 11.811-20.05a38.302 38.302 0 0 0 -3.065-1.978c-8.135-4.733-19.316-7.09-33.55-7.09-18.177 0-32.237 4.11-42.174 12.346-9.938 8.233-14.912 20.009-14.912 35.34 0 11.505 2.826 20.937 8.477 28.3 5.66 7.374 12.375 12.522 20.16 15.45 7.787 2.928 17.825 4.38 30.113 4.38 14.317 0 25.107-2.433 35.131-8.84 0 0-6.631-9.492-11.727-20.15zm348.504-59.696h1.37c1.158 0 2.216-.058 2.216-1.392 0-1.117-.966-1.294-1.847-1.294h-1.74zm-1.314-3.749h3.26c2.006 0 2.954.791 2.954 2.41 0 1.528-.968 2.169-2.223 2.3l2.413 3.723h-1.406l-2.3-3.625h-1.384v3.625h-1.314zm2.817 10.384c3.338 0 5.923-2.662 5.923-6.197 0-3.454-2.585-6.115-5.923-6.115-3.378 0-5.96 2.66-5.96 6.115 0 3.535 2.582 6.197 5.96 6.197zm0-13.37c3.938 0 7.237 3.103 7.237 7.173 0 4.148-3.299 7.25-7.236 7.25-3.955 0-7.273-3.102-7.273-7.25 0-4.07 3.317-7.173 7.272-7.173"/>
                        </g>
                    </svg>
                </a>
            </Tooltip>
        </div>
    </div>
    
    <!-- AFK -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Away From Keyboard</h5>
    </div>

    <div class="row my-1 mx-2">
        <p>
             Horseman ,  BBQ Cook ,  Leather Crafter 
        </p>
    </div>
    
    <SocialIcons/>
</Container>