<footer class="post-view-footer">
   <div class="row">
      <div class="col ms-auto">
         <span class="text-muted">Copyright &copy; 2021</span> <span class="teal">@Post.Author</span>
      </div>
      
      <div class="col ms-md-auto">
         <span class="text-muted">Tags</span> <span class="teal">@Post.Tags</span>
      </div>
    
      <div class="col-auto me-auto">
         <span class="text-muted">@Post.Created</span>
      </div>
   </div>
</footer>
