<a href="/blog/@Post.Slug" @onclick="@(async () => await OnSelected.InvokeAsync(Post))">
    <div class="shadow row align-items-center post">
         <!-- Image -->
        <div class="col-1 post-image">
            <img src="@Post.Image" alt=""/>
        </div>

        <!-- Title -->
        <div class="col-8 align-self-center">
            <h5 class="post-title">@Post.Title</h5>
        </div>

        <!-- Created -->
        <div class="col mt-2 mx-auto">
            <p class="text-muted post-created">@Post.Created</p>
        </div>

    </div>
</a>
