@using olepunchy.Blog.Model
<div class="row justify-content-center align-items-center">
    <img class="post-image" src="@Post.Image" alt="" />
</div>

@code {
    [Parameter] public PostModel Post { get; set; }
}