@page "/blog/{Slug}"

<Container>
    <div class="row">
        <img class="post-image" src="@PostModel.Image" alt="" />
    </div>
    
    @Body
    
    <PostFooter Post="@PostModel" />
    
    <SocialIcons />
</Container>