 <div class="d-flex text-center card-container punchy-violet-border-bg">
     <!-- Tooltip -->
    <Tooltip Type="TooltipEnum.Top" Text="@Tooltip">
        <div class="card-image">
            <!-- Image -->
            <img class="card-img-top" src="@Image" alt=""/>
        </div>
     <!-- Title -->
     <div class="row mt-2">
         <!-- TODO: Does something belong here that looks better than empty space? -->
     </div>
     <!-- Summary -->
     <div class="row mt-2">
         <p>The classic coding challenge deployed to Docker as a mini-site</p>
     </div>
     <!-- Link -->
    <div class="row justify-content-center">
        <a class="btn button-card" href="@Url" target="_blank">View @Title</a>
    </div>
    </Tooltip>
 </div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Image { get; set; }
    [Parameter] public string Url { get; set; }
    [Parameter] public string Tooltip { get; set; }
    [Parameter] public string Summary { get; set; }
}