@page "/portfolio"

<Container>
    <div class="row text-center">
        <h3>Mini-Sites</h3>
    </div>
    
    <div class="row">
        <PortfolioCard 
            Tooltip="ASP.Net MVC 5.0"
            Title="Fizz Buzz" 
            Summary="Classic coding challenge as a mini-site."
            Image="img/fizzbuzz.png" 
            Url="https://fizzbuzz.olepunchy.dev"/>

        <PortfolioCard 
            Tooltip="Angular"
            Title="Pomodoro Timer" 
            Summary="Pomodoro Timer created with Angular"
            Image="img/tomato.png" 
            Url="https://tomato.olepunchy.dev"/>
    </div>
</Container>

@code {
    
}
