@page "/portfolio"

<Container>
    <div class="row text-center">
        <h3>Mini-Sites</h3>
    </div>
    
    <div class="row">
        <PortfolioCard 
            Tooltip="ASP.Net MVC 5.0"
            Title="Fizz Buzz" 
            Summary="The classic coding challenge turned mini-site."
            Image="img/fizzbuzz.png" 
            Url="https://fizzbuzz.olepunchy.io"/>
    </div>
</Container>

@code {
    
}