@page "/"
@namespace olepunchy.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Jeremy Novak's portfolio and blog">
    <meta name="keywords" content=".Net, C#, Blazor, MVC, API, gRPC, Docker, Linux, Go, portfolio, blog">
    <meta name="author" content="Jeremy Novak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>olepunchy.dev | Full Stack Engineering</title>
    <base href="~/" />
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="olepunchy.styles.css"/>

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
    <script>
    window.highlightSnippet = function(){
                document.querySelectorAll('pre code').forEach((el)=>{
                    hljs.highlightBlock(el);
                });
            }
    </script>
    @* <script src="_framework/blazor.server.js"></script> *@
</body>
</html>
