@page "/About"

<div class="container-fluid col-8 punchy-violet-border-bg m-4 p-2">
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h3 class="violet">About</h3>

            <p class="mt-2">
                <Tooltip Text="Jeremy Novak">I</Tooltip> am a
                <a href="https://en.wikipedia.org/wiki/Solution_stack#Full-stack_developer" target="_blank">
                Full Stack Software Developer 
                </a>
                specializing in
                <a href="https://github.com/dotnet" target="_blank">
                    .Net
                </a>
                and
                <a href="https://docker.com" target="_blank">
                    Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 mx-2">
        <h5>Stack</h5>
    </div>
    
    <div class="row m-2 align-items-start">
        <!-- C-Sharp -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="C#">
            <a href="https://github.com/dotnet/csharplang" target="_blank">
                <img src="img/c-sharp.svg" alt=""/>
            </a>
            </Tooltip>
        </div>

        <!-- Dotnet -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text=".Net">
            <a href="https://github.com/dotnet" target="_blank">
                <img src="img/dotnet.svg" alt=""/>
            </a>
            </Tooltip>
        </div>

        <!-- Typescript -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Typescript">
            <a href="https://github.com/microsoft/typescript" target="_blank">
                <img src="img/typescript.svg" alt=""/>
            </a>
            </Tooltip>
        </div>

        <!-- Bootstrap -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Bootstrap">
            <a href="https://getbootstrap.com" target="_blank">
                <img src="img/bootstrap5.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- HTML 5 -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="HTML5">
            <a href="https://html.spec.whatwg.org/" target="_blank">
                <img src="img/html.svg" alt="" />
            </a>
            </Tooltip>
        </div>

        <!-- CSS 3 -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="CSS3">
            <a href="https://www.w3.org/Style/CSS/" target="_blank">
                <img src="img/css.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- PostgreSQL-1 -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="PostgreSQL">
            <a href="https://www.postgresql.org/" target="_blank">
                <img src="img/postgresql.svg" alt="">
            </a>
            </Tooltip>
        </div>
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 mx-2">
        <h5>Tools</h5>
    </div>
    <div class="row m-2 align-items-start">
        <!-- Docker -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Docker">
            <a href="https://docker.com" target="_blank">
                <img src="img/docker.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Github -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="git">
            <a href="https://git-scm.com" target="_blank">
                <img src="img/git.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- macOS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="macOS">
            <a href="https://apple.com/macos" target="_blank">
                <img src="img/apple.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Linux -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Linux">
                <a href="https://linux.org" target="_blank">
                    <img src="img/linux.svg" alt="">
                </a>
            </Tooltip>
        </div>
        
        <!-- Doom Emacs -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Doom Emacs">
                <a href="https://github.com/hlissner/doom-emacs" target="_blank">
                    <img src="img/doom.png" alt="">
                </a>
            </Tooltip>
        </div>
        
        <!-- Rider -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Rider">
             <a href="https://www.jetbrains.com/rider/" target="_blank">
                <img src="img/rider.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Go -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Go">
            <a href="https://golang.org" target="_blank">
                <img src="img/go.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- Bash -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Bash">
            <a href="https://tiswww.case.edu/php/chet/bash/bashtop.html" target="_blank">
                <img src="img/bash.svg" alt="">
            </a>
            </Tooltip>
        </div>

    </div>
   
    <!-- Past Experience -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Past Experience</h5>
    </div>
    
    <div class="row my-1 mx-2 align-items-center">
        <!-- Windows Server -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Windows Server">
            <a href="https://www.microsoft.com/en-us/windows-server" target="_blank">
                <img src="img/microsoft.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Red Hat -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Red Hat Linux">
            <a href="https://redhat.com" target="_blank">
                <img src="img/red-hat.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Ubuntu -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Ubuntu Linux">
            <a href="https://ubuntu.com" target="_blank">
                <img src="img/ubuntu.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- FreeBSD -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="FreeBSD">
            <a href="https://freebsd.org" target="_blank">
                <img src="img/freebsd.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- Solaris -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Solaris">
            <a href="https://oracle.com/solaris" target="_blank">
                <img src="img/solaris.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- AIX -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="AIX">
            <a href="https://ibm.com/ibm_aix/os" target="_blank">
                <img src="img/aix.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- OpenVMS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Virtual Memory System">
                <a href="https://en.wikipedia.org/wiki/OpenVMS" target="_blank">
                    <img src="img/openvms.svg" alt="">
                </a>
            </Tooltip>
        </div>
        
        <!-- SCCM -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Microsoft Endpoint Manager">
            <a href="https://docs.microsoft.com/en-us/mem/configmgr/" target="_blank">
                <img src="img/sccm.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- VMware -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="VMware vSphere">
            <a href="https://vmware.com" target="_blank">
                <img src="img/vmware.svg" alt="">
            </a>
            </Tooltip>
        </div>
    </div>
    
    <div class="row my-1 mx-2 align-items-center">
        <!-- Splunk -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Splunk">
                <a href="https://splunk.com" target="_blank">
                    <img src="img/splunk.svg" alt="">
                </a>
            </Tooltip>
        </div>
        
        <!-- ZenOSS -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="ZenOSS">
            <a href="https://zenoss.com" target="_blank">
                <img src="img/zenoss.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- CommVault -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="CommVault">
            <a href="https://commvault.com" target="_blank">
                <img src="img/commvault.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- Tivoli -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Tivoli">
            <a href="https://ibm.com" target="_blank">
                <img src="img/ibm.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- Apache -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Apache">
            <a href="https://httpd.apache.org" target="_blank">
                <img src="img/apache.svg" alt="">
            </a>
            </Tooltip>
        </div>
        
        <!-- MySQL -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="MySQL">
                <a href="https://mysql.com" target="_blank">
                    <img src="img/mysql.svg" alt="">
                </a>
            </Tooltip>
        </div>
        
        <!-- Perl -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Perl">
            <a href="https://perl.org" target="_blank">
                <img src="img/perl.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- Python -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="Python">
            <a href="https://python.org" target="_blank">
                <img src="img/python.svg" alt="">
            </a>
            </Tooltip>
        </div>

        <!-- PowerShell -->
        <div class="col-1 svg-icon-lang">
            <Tooltip Text="PowerShell">
            <a href="https://microsoft.com/powershell" target="_blank">
                <img src="img/powershell.svg" alt="">
            </a>
            </Tooltip>
        </div>
    </div>
       
    <!-- AFK -->
<div class="row mt-4 mb-1 mx-2">
    <h5>Away From Keyboard</h5>
</div>

    <div class="row my-1 mx-2">
        <p>
            🤠 Horseman 🐎, 🍖 BBQ Cook 🍤, 💼 Leather Crafter 🧵
        </p>
    </div>
    
    <div class="row mt-4 justify-content-center">
        <a class="social-button" href="https://github.com/olepunchy" target="_blank">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github-alt" class="svg-inline--fa fa-github-alt fa-w-15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path fill="currentColor" d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"></path></svg>
        </a>
        <a class="social-button" href="" target="_blank">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
        </a>
    </div>
</div>

@code {
    
}
