@page "/About"

<Container>
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h3 class="violet">About</h3>

            <p class="mt-2">
                <Tooltip Text="Jeremy Novak">I</Tooltip> am a
                <a href="https://en.wikipedia.org/wiki/Solution_stack#Full-stack_developer" target="_blank">
                    Full Stack Software Developer 
                </a>
                specializing in
                <a href="https://github.com/dotnet" target="_blank">
                    .Net
                </a>
                and
                <a href="https://docker.com" target="_blank">
                    Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 mx-2">
        <h5>Stack</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/c-sharp.svg" Tooltip="C#" Url="https://github.com/dotnet/csharplang" /> 
        <Tile Image="img/dotnet.svg" Tooltip=".Net" Url="https://github.com/dotnet" /> 
        <Tile Image="img/typescript.svg" Tooltip="Typescript" Url="https://github.com/microsoft/typescript" /> 
        <Tile Image="img/bootstrap5.svg" Tooltip="Bootstrap" Url="https://getbootstrap.com" /> 
        <Tile Image="img/html.svg" Tooltip="HTML 5" Url="https://html.spec.whatwg.org/" /> 
        <Tile Image="img/css.svg" Tooltip="CSS 3" Url="https://www.w3.org/style/css" /> 
        <Tile Image="img/postgresql.svg" Tooltip="PostgreSQL" Url="https://www.postgresql.org/" /> 
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 mx-2">
        <h5>Tools</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/docker.svg" Tooltip="Docker" Url="https://docker.com" /> 
        <Tile Image="img/git.svg" Tooltip="Git" Url="https://git-scm.com" /> 
        <Tile Image="img/apple.svg" Tooltip="macOS" Url="https://apple.com/macos" /> 
        <Tile Image="img/linux.svg" Tooltip="Linux" Url="https://linux.org" /> 
        <Tile Image="img/doom.png" Tooltip="Doom Emacs" Url="https://github.com/hlissner/doom-emacs" /> 
        <Tile Image="img/rider.svg" Tooltip="Rider" Url="https://www.jetbrains.com/rider/" /> 
        <Tile Image="img/go.svg" Tooltip="Go" Url="https://golang.org" /> 
        <Tile Image="img/bash.svg" Tooltip="Bash" Url="https://tiswww.case.edu/php/chet/bash/bashtop.html" /> 
    </div>
    
    <!-- Past Experience -->
    <div class="row mt-4 mx-2">
        <h5>Past Experience</h5>
    </div>
    <div class="row m-2 align-items-start">
        <Tile Image="img/microsoft.svg" Tooltip="Windows Server" Url="https://www.microsoft.com/en-us/windows-server" /> 
        <Tile Image="img/red-hat.svg" Tooltip="Red Hat Linux" Url="https://redhat.com" /> 
        <Tile Image="img/ubuntu.svg" Tooltip="Ubuntu Linux" Url="https://ubuntu.com" /> 
        <Tile Image="img/freebsd.svg" Tooltip="FreeBSD" Url="https://freebsd.org" /> 
        <Tile Image="img/solaris.svg" Tooltip="Solaris" Url="https://oracle.com/solaris" /> 
        <Tile Image="img/aix.svg" Tooltip="AIX" Url="https://ibm.com/ibm_aix/os" /> 
        <Tile Image="img/openvms.svg" Tooltip="Virtual Memory System" Url="https://en.wikipedia.org/wiki/openvms" /> 
        <Tile Image="img/sccm.svg" Tooltip="Microsoft Endpoint Manager" Url="https://docs.microsoft.com/en-us/mem/configmgr" /> 
        <Tile Image="img/vmware.svg" Tooltip="VMware vSphere" Url="https://vmware.com" /> 
    </div>
    <div class="row my-1 mx-2 align-items-center">
        <Tile Image="img/splunk.svg" Tooltip="Splunk" Url="https://splunk.com" /> 
        <Tile Image="img/zenoss.svg" Tooltip="ZenOSS" Url="https://zenoss.com" /> 
        <Tile Image="img/commvault.svg" Tooltip="CommVault" Url="https://commvault.com" /> 
        <Tile Image="img/ibm.svg" Tooltip="Tivoli" Url="https://ibm.com" /> 
        <Tile Image="img/apache.svg" Tooltip="Apache" Url="https://httpd.apache.org" /> 
        <Tile Image="img/mysql.svg" Tooltip="MySQL" Url="https://mysql.com" /> 
        <Tile Image="img/perl.svg" Tooltip="Perl" Url="https://perl.org" /> 
        <Tile Image="img/python.svg" Tooltip="Python" Url="https://python.org" /> 
        <Tile Image="img/powershell.svg" Tooltip="PowerShell" Url="https://microsoft.com/powershell" /> 
    </div>
    
    <!-- AFK -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Away From Keyboard</h5>
    </div>

    <div class="row my-1 mx-2">
        <p>
            🤠 Horseman 🐎, 🍖 BBQ Cook 🍤, 💼 Leather Crafter 🧵
        </p>
    </div>
    
    <!-- Social Icons -->
    <div class="row mt-4 justify-content-center">
         <a class="social-button" href="https://github.com/olepunchy" target="_blank">
             <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github-alt" class="svg-inline--fa fa-github-alt fa-w-15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path fill="currentColor" d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"></path></svg>
         </a>
         <a class="social-button" href="" target="_blank">
             <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
         </a>
    </div>
</Container>