@page "/About"

<div class="container-md punchy-violet-border-bg m-4 p-2">
    <!-- Intro -->
    <div class="row">
        <div class="col text-center">
            <h3 class="violet">About</h3>

            <p class="mt-2">
                <Tooltip Text="Jeremy Novak">I</Tooltip> am a
                <a href="https://en.wikipedia.org/wiki/Solution_stack#Full-stack_developer" target="_blank">
                Full Stack Software Developer
                </a>
                specializing in
                <a href="https://github.com/dotnet" target="_blank">
                    .Net
                </a>
                and
                <a href="https://docker.com" target="_blank">
                    Docker
                </a>
            </p>
        </div>
    </div>
    
    <!-- Languages -->
    <div class="row mt-4 ml-2">
        <div class="col">
            <h5>My Stack</h5>
        </div>
    </div>
    
    <div class="row m-2 justify-content-center">
        <!-- C-Sharp -->
        <div class="col svg-icon-lang">
            <a href="https://github.com/dotnet/csharplang" target="_blank">
                <img src="img/c-sharp.svg" alt="" />
            </a>
        </div>

        <!-- Dotnet -->
        <div class="col svg-icon-lang">
            <a href="https://github.com/dotnet" target="_blank">
                <img src="img/dotnet.svg" alt="" />
            </a>
        </div>

        <!-- Typescript -->
        <div class="col svg-icon-lang">
            <a href="https://github.com/microsoft/typescript" target="_blank">
                <img src="img/typescript.svg" alt="" />
            </a>
        </div>

        <!-- Bootstrap -->
        <div class="col svg-icon-lang">
            <a href="https://getbootstrap.com" target="_blank">
                <img src="img/bootstrap5.svg" alt="">
            </a>
        </div>

        <!-- HTML 5 -->
        <div class="col svg-icon-lang">
            <a href="https://html.spec.whatwg.org/" target="_blank">
                <img src="img/html.svg" alt="" />
            </a>
        </div>

        <!-- CSS 3 -->
        <div class="col svg-icon-lang">
            <a href="https://www.w3.org/Style/CSS/" target="_blank">
                <img src="img/css.svg" alt="">
            </a>
        </div>

        <!-- PostgreSQL -->
        <div class="col svg-icon-lang">
            <a href="https://www.postgresql.org/" target="_blank">
                <img src="img/postgresql.svg" alt="">
            </a>
        </div>
    </div>
    
    <!-- Tools -->
    <div class="row mt-4 ml-2">
        <div class="col">
            <h5>My Tools</h5>
        </div>
    </div>
    <div class="row m-2 justify-content-center">
        <!-- Github -->
        <div class="col svg-icon-lang">
            <a href="https://github.com" target="_blank">
                <img src="img/git.svg" alt="">
            </a>
        </div>

        <!-- Docker -->
        <div class="col svg-icon-lang">
            <a href="https://docker.com" target="_blank">
                <img src="img/docker.svg" alt="">
            </a>
        </div>

        <!-- macOS -->
        <div class="col svg-icon-lang">
            <a href="https://apple.com/macos" target="_blank">
                <img src="img/apple.svg" alt="">
            </a>
        </div>

        <!-- Linux -->
        <div class="col svg-icon-lang">
            <a href="https://linux.org" target="_blank">
                <img src="img/linux.svg" alt="">
            </a>
        </div>

        <!-- Go -->
        <div class="col svg-icon-lang">
            <a href="https://golang.org" target="_blank">
                <img src="img/go.svg" alt="">
            </a>
        </div>

        <!-- Bash -->
        <div class="col svg-icon-lang">
            <a href="https://tiswww.case.edu/php/chet/bash/bashtop.html" target="_blank">
                <img src="img/bash.svg" alt="">
            </a>
        </div>

    </div>
   
    <!-- Past Experience -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Past Experience</h5>
    </div>
    <div class="row my-1 mx-2">
        <p>
            <span class="small teal">(I changed careers from System Administration to 🚀 Software Development 🚀)</span>
        </p>
    </div>

    <div class="row my-1 mx-2 align-items-center">
        <!-- Windows Server -->
        <div class="col svg-icon-lang">
            <a href="https://www.microsoft.com/en-us/windows-server" target="_blank">
                <img src="img/microsoft.svg" alt="">
            </a>
        </div>

        <!-- Red Hat -->
        <div class="col svg-icon-lang">
            <a href="https://redhat.com" target="_blank">
            <img src="img/red-hat.svg" alt="">
            </a>
        </div>

        <!-- Ubuntu -->
        <div class="col svg-icon-lang">
            <a href="https://ubuntu.com" target="_blank">
                <img src="img/ubuntu.svg" alt="">
            </a>
        </div>

        <!-- Solaris -->
        <div class="col svg-icon-lang">
            <a href="https://oracle.com/solaris" target="_blank">
                <img src="img/solaris.svg" alt="">
            </a>
        </div>

        <!-- AIX -->
        <div class="col svg-icon-lang">
            <a href="https://ibm.com/ibm_aix/os" target="_blank">
                <img src="img/aix.svg" alt="">
            </a>
        </div>

        <!-- OpenVMS -->
        <div class="col svg-icon-lang">
            <a href="https://en.wikipedia.org/wiki/OpenVMS" target="_blank">
                <img src="img/openvms.svg" alt="">
            </a>
        </div>

        <!-- SCCM -->
        <div class="col svg-icon-lang">
            <a href="https://docs.microsoft.com/en-us/mem/configmgr/" target="_blank">
                <img src="img/sccm.svg" alt="">
            </a>
        </div>

        <!-- VMware -->
        <div class="col svg-icon-lang">
            <a href="https://vmware.com" target="_blank">
                <img src="img/vmware.svg" alt="">
            </a>
        </div>
    </div>

    <div class="row my-1 mx-2">
        <!-- Splunk -->
        <div class="col svg-icon-lang">
            <a href="https://splunk.com" target="_blank">
                <img src="img/splunk.svg" alt="">
            </a>
        </div>

        <!-- ZenOSS -->
        <div class="col svg-icon-lang">
            <a href="https://zenoss.com" target="_blank">
                <img src="img/zenoss.svg" alt="">
            </a>
        </div>

        <!-- Commvault -->
        <div class="col svg-icon-lang">
            <a href="https://commvault.com" target="_blank">
                <img src="img/commvault.svg" alt="">
            </a>
        </div>

        <!-- Tivoli -->
        <div class="col svg-icon-lang">
            <a href="https://ibm.com/ibm/storage" target="_blank">
                <img src="img/ibm.svg" alt="">
            </a>
        </div>

        <!-- Apache -->
        <div class="col svg-icon-lang">
            <a href="https://httpd.apache.org" target="_blank">
                <img src="img/apache.svg" alt="">
            </a>
        </div>

        <!-- Perl -->
        <div class="col svg-icon-lang">
            <a href="https://perl.org" target="_blank">
                <img src="img/perl.svg" alt="">
            </a>
        </div>

        <!-- Python -->
        <div class="col svg-icon-lang">
            <a href="https://python.org" target="_blank">
                <img src="img/python.svg" alt="">
            </a>
        </div>

        <!-- PowerShell -->
        <div class="col svg-icon-lang">
            <a href="https://microsoft.com/powershell" target="_blank">
                <img src="img/powershell.svg" alt="">
            </a>
        </div>
    </div>

    <!-- Editors -->
    <div class="row m-2">
        <div class="col">
            <h5>My Editors</h5>
        </div>
    </div>
    <div class="row m-2 justify-content-center">
    <!-- Doom Emacs -->
    <div class="col">
        <div class="card card-toolbox" style="width: 18rem;">
            <div class="card-top">
                <!-- IMG -->
                <img src="img/cacochan.png" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">
                    Doom Emacs
                </h5>

                <p>
                    It is a story as old as time.
                    A stubborn, shell-dwelling, and melodramatic vimmer—envious of the features of modern text
                    editors—spirals into despair before he succumbs to the <a href="https://github.com/emacs-evil/evil" target="_blank">
                        dark side</a>.
                    <a href="https://github.com/hlissner/doom-emacs" target="_blank">This</a> is his config.
                </p>
            </div>
        </div>
    </div>
    <!-- Rider -->
    <div class="col">
        <div class="card card-toolbox" style="width: 18rem;">
            <div class="card-top">
                <!-- IMG -->
                <img src="img/rider.svg" class="card-img-top svg-icon" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">
                    JetBrains Rider
                </h5>

                <p>
                    JetBrains Rider is a cross-platform .NET IDE based on the IntelliJ platform and ReSharper.
                </p>
                <p>
                    For debugging and seeing what <a href="https://www.jetbrains.com/resharper/" target="_blank">ReSharper</a> thinks of my choices.
                </p>
            </div>
        </div>
    </div>
       
    <!-- AFK -->
    <div class="row mt-4 mb-1 mx-2">
        <h5>Away From Keyboard</h5>
    </div>
    <div class="row mt-1 mx-2">
        <span class="small teal">(Hobbies!)</span>
    </div>
    <div class="row my-1 mx-2">
        <p>
            🤠 Horseman 🐎, 🍖 BBQ Cook 🍤, 💼 Leather Crafter 🧵
        </p>
    </div>


    <!-- Social Icons -->
    <div class="row mt-4 align-items-center">
        <a class="social-button" href="https://github.com/olepunchy" target="_blank">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github-alt" class="svg-inline--fa fa-github-alt fa-w-15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path fill="currentColor" d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"></path></svg>
        </a>

        <a class="social-button" href="" target="_blank">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
        </a>
    </div>
</div>
</div>

@code {
    
}