@inject HttpClient _httpClient
@inject PostService _postService
@page "/blog"

<Container>
    <BlogSearch/>

    @if (_posts == null) {
        <p>Loading posts...</p>
    } else {
    
    <div class="grid">
            @foreach (var post in _posts) {
                <PostCard Post="post" />
            }
        </div>
    
     }
    
    <SocialIcons/>
</Container>

@code {

    private IEnumerable<Post> _posts;
    // private PostService _postService;

    protected override async Task OnInitializedAsync() {

        try {
            _posts = _postService.Posts;
            StateHasChanged();
            ShouldRender();
        } catch (HttpRequestException exception) {
            Console.WriteLine($"There was an exception loading data: {exception.Message}");
        }
    }

    

}
