@inject HttpClient _httpClient
@page "/blog"

<Container>
    <BlogSearch/>

    @if (_posts == null) {
        <p>Loading posts...</p>
    } else {

        <div class="grid">
            @foreach (var post in _posts) {
                <PostCard Post="post" />
            }
        </div>

    }

    <SocialIcons/>
</Container>

@code {

    private IEnumerable<Post> _posts;

    protected override async Task OnInitializedAsync() {

        try {
            _posts = await _httpClient.GetFromJsonAsync<IEnumerable<Post>>("https://localhost:5001/data/blog-data.json");
        } catch (HttpRequestException exception) {
            Console.WriteLine($"There was an exception loading data: {exception.Message}");
        }
    }
}
