@inject PostService _postService
@page "/blog"

<Container>
    <div class="grid">
        @foreach (var post in _postService.Posts) {
            <PostCard Post="@post"/>
        }
    </div>
</Container>

@code {
    // TODO: Fix the layout
}
