@page "/FizzBuzz"
@using olepunchy.Data


<div class="container col-xxl-8 px-4 py-5">
    <div class="row row-cols-1 row-cols-lg-2 py-5">
        <div class="col col-lg-4 border-end border-2 border-dark">
            <h1 class="title titlebuzz">Fizz Buzz</h1>

            <h4 class="lead">
                Classic coding challenge in C#
            </h4>

            <h2>
                Instructions
            </h2>

            <p>
                Enter starting and ending values
                <br/>
                <br/>
                Press the button to calculate FizzBuzz
                <br/>
                <br/>
                <span class="fizz">Fizz</span> = evenly divisible by 3
                <br/>
                <span class="buzz">Buzz</span> = evenly divisible by 5
                <br/>
                <span class="fizzbuzz">FizzBuzz</span> = evenly divisibly by 3 and 5
            </p>
        </div>

        <div class="col col-lg-8">
            <div>
                <h5>Enter your values</h5>

                <form
                    class="row gy-2 gx-3"
                    asp-action="Application"
                    asp-controller="Home"
                    method="post">
                    <div class="col">
                        <input
                            type="number"
                            id="startValue"
                            placeholder="Start Value"
                            aria-label="Start Value"
                            asp-for="StartValue"
                            >
                    </div>

                    <div class="col">
                        <input
                            type="number"
                            id="endValue"
                            placeholder="End Value"
                            aria-label="End Value"
                            asp-for="EndValue"
                            >
                    </div>

                    <div class="col">
                        <button
                            id="buttonSubmit"
                            type="submit"
                            class="btn btn-lg button-fizzbuzz">
                            FizzBuzz!
                        </button>
                    </div>
                </form>


                <h2 class="mt-5 border-bottom border-2 border-dark">
                    Results
                </h2>
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    // Calculate FizzBuzz on click
}
