@page "/"

<div class="landing-card">
    <h1>
        Jeremy Novak
    </h1>

    <h2>
        Full Stack Software Developer
    </h2>

    <div class="row">
        <LinkButton Url="/portfolio" Type="ButtonType.Portfolio" Text="portfolio"></LinkButton>
        <LinkButton Url="/blog" Type="ButtonType.Blog" Text="blog"></LinkButton>
        <LinkButton Url="/contact" Type="ButtonType.Contact" Text="contact"></LinkButton>
    </div>

    <SocialIcons/>
</div>