@page "/"

<div class="landing-card">
    <h1>
        Jeremy Novak
    </h1>

    <h2>
        Full Stack Software Developer
    </h2>
    <div class="row">
        <a href="/portfolio" class="text-center landing-button button-portfolio">Portfolio</a>
        <a href="/blog" class="text-center landing-button button-blog">Blog</a>
        <a href="/contact" class="text-center landing-button button-contact">Contact</a>
    </div>

    <SocialIcons/>
</div>