@page "/"

<div class="landing-card">
    <h1>
        Jeremy Novak
    </h1>

    <h2>
        Full Stack Software Developer
    </h2>

    <div class="row">
        <Button Url="/portfolio" Type="ButtonType.Portfolio" Text="portfolio"></Button>
        <Button Url="/blog" Type="ButtonType.Blog" Text="blog"></Button>
        <Button Url="/contact" Type="ButtonType.Contact" Text="contact"></Button>
    </div>

    <SocialIcons/>
</div>