.tooltip-wrapper {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  cursor: help;
}

span {
  visibility: hidden;
  position: absolute;
  width: 120px;
  /* width: 160px; */
  /* bottom: 100%; */
  /* left: 50%; */
  /* margin-left: -80px; */
  margin-top: 1rem;
  margin-left: 4rem;
  background-color: #363636;
  color: var(--foreground-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}

/* Left Arrow */
span::after {
  content: "";
  position: absolute;
  top: 33%;
  left: -10px;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  /* border-color: #555 transparent transparent transparent; */
  border-color: transparent #555 transparent transparent;
}

.tooltip-wrapper:hover span {
  visibility: visible;
}
