@inherits LayoutComponentBase

<Toast/>

<div class="page">
    <NavMenu/>

    <div class="main">
        <main class="d-flex justify-content-center">
           @Body 
        </main>
    </div>
</div>
