<div class="challenge-card punchy-violet-border-bg my-2 mx-2 shadow">
    <div class="challenge-card-top text-center">
        <img class="challenge-card-img" src="img/c-sharp.svg" alt="C-Sharp">
    </div>
    <div class="challenge-card-body text-center">
        <h5>Leap Year</h5>
        <p class="card-text">Is <span class="teal"><em>year</em></span> a leap year?</p>
        <a href="/challenges/leapyear" class="btn button-card">View Solution</a>
    </div>
</div>