@using olepunchy.Challenges.Components
@page "/challenges"

<ChallengeContainer>
    <div class="row text-center">
        <h1>Coding Challenges</h1>
    </div>

    <ChallengeCard 
        Title="Leap Year" 
        Image="img/c-sharp.svg"
        Url="/challenges/leapyear"
        About="Is year a Leap Year?"/>
    
    <ChallengeCard 
        Title="Taco Cat" 
        Image="img/c-sharp.svg"
        Url="/challenges/tacocat"
        About="Is string a Palindrome?"/>
    
    <ChallengeCard 
        Title="Hamming"
        Image="img/c-sharp.svg"
        Url="/challenges/hamming"
        About="Calculate Hamming Distance" />
    
    <SocialIcons />
</ChallengeContainer>

@code {
    
}