@using olepunchy.Challenges.Components
@page "/challenges"

<Container>
    <div class="row text-center">
        <h3>Coding Challenges</h3>
    </div>

    <ChallengeCard 
        Title="Leap Year" 
        Image="img/c-sharp.svg"
        Url="/challenges/leapyear"
        About="Leap year checker"/>
    
    <ChallengeCard 
        Title="Taco Cat" 
        Image="img/c-sharp.svg"
        Url="/challenges/tacocat"
        About="Palindrome checker"/>
    
    <SocialIcons />
</Container>

@code {
    
}